<nb-card>
    <nb-card-header>
        <h6>Profile Saya</h6>
    </nb-card-header>
    <nb-card-body>
        <div class="container my-3" *ngIf="(biodata$ | async) as biodata">
            <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate>
                <!-- {{biodata | json}} -->
                <!-- START BIODATA UMUM -->
                <div class="row mb-2">
                    <!-- <label for="npb" class="col-sm-12 col-md-3 label">NPB
                        <input nbInput
                                fullWidth
                                name="npb"
                                type="number"
                                id="npb"
                                ngModel  #npb="ngModel"
                                placeholder=""
                                fieldSize="medium">
                    </label> -->
            
                    <label for="nip" class="col-sm-12 col-md-12 label">NIP
                        <input nbInput
                                fullWidth
                                name="nip"
                                type="text"
                                id="nip"
                                [ngModel]="biodata?.attributes?.nip" required #nip="ngModel"
                                placeholder=""
                                readonly
                                fieldSize="medium">
                    </label>
            
                    <label for="front_title" class="col-sm-12 col-md-2 label">Gelar Depan
                        <input nbInput
                                fullWidth
                                name="front_title"
                                type="text"
                                id="front_title"
                                [ngModel]="biodata?.attributes?.front_title" #front_title="ngModel"
                                readonly
                                fieldSize="medium">
                    </label>
            
                    <label for="name" class="label col-md-6 col-sm-12">Nama Lengkap
                        <input  nbInput
                                fullWidth
                                name="name"
                                type="text"
                                id="name"
                                [ngModel]="biodata?.attributes?.name" required #name="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="back_title" class="col-sm-12 col-md-4 label">Gelar Belakang
                        <input nbInput
                                fullWidth
                                name="back_title"
                                type="text"
                                id="back_title"
                                [ngModel]="biodata?.attributes?.back_title" #back_title="ngModel"
                                readonly
                                fieldSize="medium">
                    </label>
            
                    <label for="department" class="label col-12">Unit Kerja/OPD
                        <!-- <input nbInput
                                fullWidth
                                name="department"
                                type="text"
                                id="department"
                                [ngModel]="biodata?.attributes?.department" required #department="ngModel"
                                placeholder=""
                                fieldSize="medium"> -->
                        <nb-select name="department" fullWidth [ngModel]="biodata?.attributes?.department" required #position="ngModel">
                            <nb-option *ngFor="let opd of listOPD" [value]="opd">{{opd}}</nb-option>
                        </nb-select>
                    </label>
            
                    <label for="position_type" class="label col-md-3 col-sm-12">Jenis Jabatan
                        <nb-select name="position_type" fullWidth [ngModel]="biodata?.attributes?.position_type" required #position="ngModel">
                            <nb-option value="Struktural">Struktural</nb-option>
                            <nb-option value="Fungsional Umum">Fungsional Umum</nb-option>
                            <nb-option value="Fungsional Tertentu">Fungsional Tertentu</nb-option>
                        </nb-select>
                    </label>
            
                    <label for="position" class="label col-sm-12 col-md-9">Jabatan
                        <input nbInput
                            fullWidth
                            name="position"
                            type="text"
                            id="position"
                            [ngModel]="biodata?.attributes?.position" required #position="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="tmt_grade" class="label col-sm-12 col-md-3">TMT Pangkat
                        <nb-form-field>
                            <input id="tmt_grade" name="tmt_grade" nbInput fullWidth placeholder="" [nbDatepicker]="tmtGrade" [ngModel]="biodata?.attributes?.tmt_grade | dns" required #tmt_grade="ngModel">
                            <nb-datepicker #tmtGrade></nb-datepicker>
                            <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                        </nb-form-field>
                    </label>
            
                    <label for="tmt_echelon" class="label col-sm-12 col-md-3">TMT Eselon
                        <nb-form-field>
                            <input id="tmt_echelon" name="tmt_echelon" nbInput fullWidth placeholder="" [nbDatepicker]="tmtEchelon" [ngModel]="biodata?.attributes?.tmt_echelon | dns" required #tmt_echelon="ngModel" readonly>
                            <nb-datepicker #tmtEchelon></nb-datepicker>
                            <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                        </nb-form-field>
                    </label>
            
                    <label for="tmt_pns" class="label col-sm-12 col-md-3">TMT PNS
                        <nb-form-field>
                            <input id="tmt_pns" name="tmt_pns" nbInput fullWidth placeholder="" [nbDatepicker]="tmtPnsPicker" [ngModel]="biodata?.attributes?.tmt_pns | dns" required #tmt_pns="ngModel" readonly>
                            <nb-datepicker #tmtPnsPicker></nb-datepicker>
                            <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                        </nb-form-field>
                    </label>
            
                    <label for="tmt_cpns" class="label col-sm-12 col-md-3">TMT CPNS
                        <nb-form-field>
                            <input id="tmt_cpns" name="tmt_cpns" nbInput fullWidth placeholder="" [nbDatepicker]="tmtCpnsPicker" [ngModel]="biodata?.attributes?.tmt_cpns | dns" required #tmt_cpns="ngModel" readonly>
                            <nb-datepicker #tmtCpnsPicker></nb-datepicker>
                            <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                        </nb-form-field>
                    </label>
            
                    <label for="grade" class="label col-md-6 col-sm-12">Pangkat
                        <nb-select name="grade" fullWidth [ngModel]="biodata?.attributes?.grade" required #grade="ngModel">
                            <nb-option value="Juru Muda">Juru Muda</nb-option>
                            <nb-option value="Juru Muda Tingkat I">Juru Muda Tingkat I</nb-option>
                            <nb-option value="Juru">Juru</nb-option>
                            <nb-option value="Juru Tingkat I">Juru Tingkat I</nb-option>
                            <nb-option value="Pengatur Muda">Pengatur Muda</nb-option>
                            <nb-option value="Pengatur Muda Tingkat I">Pengatur Muda Tingkat I</nb-option>
                            <nb-option value="Pengatur">Pengatur</nb-option>
                            <nb-option value="Pengatur Tingkat I">Pengatur Tingkat I</nb-option>
                            <nb-option value="Penata Muda">Penata Muda</nb-option>
                            <nb-option value="Penata Muda Tingkat I">Penata Muda Tingkat I</nb-option>
                            <nb-option value="Penata">Penata</nb-option>
                            <nb-option value="Penata Tingkat I">Penata Tingkat I</nb-option>
                            <nb-option value="Pembina">Pembina</nb-option>
                            <nb-option value="Pembina Tingkat I">Pembina Tingkat I</nb-option>
                            <nb-option value="Pembina Utama Muda">Pembina Utama Muda</nb-option>
                            <nb-option value="Pembina Utama Madya">Pembina Utama Madya</nb-option>
                            <nb-option value="Pembina Utama">Pembina Utama</nb-option>
                        </nb-select>
                    </label>
            
                    <label for="religion" class="label col-sm-12 col-md-6">Agama
                        <input nbInput
                                fullWidth
                                name="religion"
                                type="text"
                                id="religion"
                                [ngModel]="biodata?.attributes?.religion" required #religion="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="last-education" class="label col-12">Pendidikan Terakhir (sesuai SK)
                        <input nbInput
                                fullWidth
                                name="last_education"
                                type="text"
                                id="last_education"
                                [ngModel]="biodata?.attributes?.last_education" required #last_education="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="email" class="label col-sm-12 col-md-6">Email
                        <input nbInput
                                fullWidth
                                name="email"
                                type="text"
                                id="email"
                                [ngModel]="biodata?.attributes?.email" required #email="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="gender" class="label col-sm-12 col-md-6">Jenis Kelamin
                        <nb-select name="gender" fullWidth [ngModel]="biodata?.attributes?.gender" required #gender="ngModel">
                            <nb-option value="Laki-laki">Laki-laki</nb-option>
                            <nb-option value="Perempuan">Perempuan</nb-option>
                        </nb-select>
                    </label>
            
                    <label for="birth_place" class="label col-md-8 col-sm-12">Tempat Lahir
                        <input nbInput
                                fullWidth
                                name="birth_place"
                                type="text"
                                id="birth_place"
                                [ngModel]="biodata?.attributes?.birth_place" required #birth_place="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="birth_date" class="label col-sm-12 col-md-4">Tanggal Lahir
                        <nb-form-field>
                            <input id="birth_date" name="birth_date" nbInput fullWidth placeholder="" [nbDatepicker]="birthDatePicker" [ngModel]="biodata?.attributes?.birth_date | dns" required #birth_date="ngModel" readonly>
                            <nb-datepicker #birthDatePicker></nb-datepicker>
                            <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                        </nb-form-field>
                    </label>
            
                    <label for="ktp" class="label col-sm-12 col-md-6">No KTP
                        <input nbInput
                                fullWidth
                                name="ktp"
                                type="number"
                                id="ktp"
                                [ngModel]="biodata?.attributes?.ktp" required #ktp="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="npwp" class="label col-sm-12 col-md-6">NPWP
                        <input nbInput
                                fullWidth
                                name="npwp"
                                type="number"
                                id="npwp"
                                [ngModel]="biodata?.attributes?.npwp" required #npwp="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="bank_account" class="label col-md-3 col-sm-12">Bank Account
                        <input nbInput
                                fullWidth
                                name="bank_account"
                                type="text"
                                id="bank_account"
                                [ngModel]="biodata?.attributes?.bank_account" required #bank_account="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="bank_account_name" class="label col-sm-12 col-md-6">Atas Nama
                        <input nbInput
                                fullWidth
                                name="bank_account_name"
                                type="text"
                                id="bank_account_name"
                                [ngModel]="biodata?.attributes?.bank_account_name" required #bank_account_name="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="bank_account_number" class="label col-md-3 col-sm-12">No. Rekening
                        <input nbInput
                                fullWidth
                                name="bank_account_number"
                                type="number"
                                id="bank_account_number"
                                [ngModel]="biodata?.attributes?.bank_account_number" required #bank_account_number="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
                </div>
                <!-- END BIODATA UMUM -->
                <hr>
                <!-- START TEMPAT BERTUGAS -->
                <div class="row mb-3">
                    <h6 class="mb-3 col-12">Tempat Bertugas</h6>
            
                    <label for="work_address" class="label col-12">Alamat Kantor
                        <textarea rows="5" name="work_address" nbInput fullWidth placeholder="" ngModel #work_address="ngModel" readonly></textarea>
                    </label>
            
                    <label for="work_address_ward" class="label col-sm-12 col-md-6">Kelurahan
                        <input nbInput
                            fullWidth
                            name="work_address_ward"
                            type="text"
                            id="work_address_ward"
                            ngModel #work_address_ward="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="work_address_district" class="label col-sm-12 col-md-6">Kecamatan
                        <input nbInput
                            fullWidth
                            name="work_address_district"
                            type="text"
                            id="work_address_district"
                            ngModel #work_address_district="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="work_address_city" class="label col-sm-12 col-md-6">Kabupaten/Kota
                        <input class="col" nbInput
                            fullWidth
                            name="work_address_city"
                            type="text"
                            id="work_address_city"
                            ngModel #work_address_city="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="work_address_province" class="label col-sm-12 col-md-6">Provinsi
                        <input nbInput
                            fullWidth
                            name="work_address_province"
                            type="text"
                            id="work_address_province"
                            ngModel #work_address_province="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="work_phone" class="label col-sm-12 col-md-6">Telephone
                        <input nbInput
                            fullWidth
                            name="work_phone"
                            type="number"
                            id="work_phone"
                            ngModel #work_phone="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="work_fax" class="label col-sm-12 col-md-6">Fax
                        <input nbInput
                            fullWidth
                            name="work_fax"
                            type="number"
                            id="work_fax"
                            ngModel #work_fax="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
                </div>
                <!-- END TEMPAT BERTUGAS -->
                <hr>
                <!-- START ALAMAT RUMAH KTP -->
                <div class="row mb-3">
                    <h6 class="mb-3 col-12">Alamat Rumah di KTP</h6>
            
                    <label for="home_address" class="label col-12">Sesuai dengan KTP
                        <textarea rows="5" name="home_address" nbInput fullWidth placeholder="" ngModel #home_address="ngModel" readonly></textarea>
                    </label>
            
                    <label for="home_address_ward" class="label col-sm-12 col-md-6">Kelurahan
                        <input nbInput
                            fullWidth
                            name="home_address_ward"
                            type="text"
                            id="home_address_ward"
                            ngModel #home_address_ward="ngModel"
                            readonly
                            placeholder=""
                            fieldSize="medium">
                    </label>
            
                    <label for="home_address_district" class="label col-sm-12 col-md-6">Kecamatan
                        <input nbInput
                                fullWidth
                                name="home_address_district"
                                type="text"
                                id="home_address_district"
                                ngModel #home_address_district="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="home_address_city" class="label col-sm-12 col-md-6">Kabupaten/Kota
                        <input nbInput
                                fullWidth
                                name="home_address_city"
                                type="text"
                                id="home_address_city"
                                ngModel #home_address_city="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="home_address_province" class="label col-sm-12 col-md-6">Provinsi
                        <input nbInput
                                fullWidth
                                name="home_address_province"
                                type="text"
                                id="home_address_province"
                                ngModel #home_address_province="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="home_zip_code" class="label col-sm-12 col-md-4">Kode Pos
                        <input nbInput
                                fullWidth
                                name="home_zip_code"
                                type="number"
                                id="home_zip_code"
                                ngModel #home_zip_code="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="home_phone" class="label col-sm-12 col-md-4">Telephone
                        <input nbInput
                                fullWidth
                                name="home_phone"
                                type="number"
                                id="home_phone"
                                ngModel #home_phone="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
            
                    <label for="home_mobile" class="label col-sm-12 col-md-4">Handphone
                        <input nbInput
                                fullWidth
                                name="home_mobile"
                                type="number"
                                id="home_mobile"
                                ngModel #home_mobile="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                    </label>
                </div>
                <!-- END ALAMAT RUMAH KTP -->
                <hr>
                <!-- START ALAMAT RUMAH DOMISILI -->
                <div class="row mb-3">
                    <h6 class="mb-3 col-12">Alamat Rumah Domisili</h6>
            
                    <nb-checkbox [(ngModel)]="sameAsKTP" [ngModelOptions]="{standalone: true}" class="col-12" status="primary">Alamat sesuai dengan KTP</nb-checkbox>
                    
                    <div [ngStyle]="{'visibility': sameAsKTP ? 'hidden' : 'visible', 'height': sameAsKTP ? '0px' : 'auto'}">
                        <label for="domicile_address" class="label col-form-label col-12">Domisili Saat Ini
                            <textarea rows="5" name="domicile_address" nbInput fullWidth placeholder="" ngModel  #domicile_address="ngModel" readonly></textarea>
                        </label>
        
                        <label for="domicile_address_ward" class="label col-sm-12 col-md-6">Kelurahan
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_address_ward"
                                type="text"
                                id="domicile_address_ward"
                                ngModel #domicile_address_ward="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_address_district" class="label col-sm-12 col-md-6">Kecamatan
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_address_district"
                                type="text"
                                id="domicile_address_district"
                                ngModel #domicile_address_district="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_address_city" class="label col-col-sm-12 col-md-6">Kabupaten/Kota
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_address_city"
                                type="text"
                                id="domicile_address_city"
                                ngModel #domicile_address_city="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_address_province" class="label col-sm-12 col-md-6">Provinsi
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_address_province"
                                type="text"
                                id="domicile_address_province"
                                ngModel #domicile_address_province="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_zip_code" class="label col-col-sm-12 col-md-4">Kode Pos
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_zip_code"
                                type="number"
                                id="domicile_zip_code"
                                ngModel #domicile_zip_code="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_phone" class="label col-sm-12 col-md-4">Telephone
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_phone"
                                type="number"
                                id="domicile_phone"
                                ngModel #domicile_phone="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                
                        <label for="domicile_mobile" class="label col-sm-12 col-md-4">Handphone
                            <input class="col" nbInput
                                fullWidth
                                name="domicile_mobile"
                                type="number"
                                id="domicile_mobile"
                                ngModel #domicile_mobile="ngModel"
                                readonly
                                placeholder=""
                                fieldSize="medium">
                        </label>
                    </div>
                </div>
                 <!-- END ALAMAT RUMAH DOMISILI -->
                
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button nbButton status="success" type="submit"><nb-icon icon="save-outline"></nb-icon> Simpan</button>
                        <!-- <button nbButton status="primary">Selanjutnya <nb-icon icon="arrowhead-right-outline"></nb-icon></button> -->
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>