<nb-card>
    <nb-card-header>
        <div class="title-peserta d-flex align-items-center">
            <button routerLink="/pages/diklat/diklat-internal/index" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <h6>Daftar Rekap Peserta Diklat {{title}} Per SKPD Tahun {{year}}</h6>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-table-filter [columns]="['Induk SKPD','SKPD','Nama Pegawai','Status','NIP','Tanggal Pendaftaran','Tanggal Seleksi']"></ngx-table-filter>
        <ngx-datatable 
            [class]="'bootstrap'" 
            [rows]="dataTable" 
            [count]="dataTable.length"
            [scrollbarH]="true"
            columnMode="force"
            default>
            <ngx-datatable-column [name]="'No'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{rowIndex+1}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Induk SKPD'" prop="induk_skpd"></ngx-datatable-column>
            <ngx-datatable-column [name]="'SKPD'" prop="no_skpd"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Nama Pegawai'" prop="name"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Status'" prop="status"></ngx-datatable-column>
            <ngx-datatable-column [name]="'NIP'" prop="nip"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Tanggal Pendaftaran'" prop="time"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Tanggal Seleksi'" prop="selection"></ngx-datatable-column>
            <ngx-datatable-column [name]="'Action'">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <div class="d-flex">
                        <button nbButton ghost size="large">
                            <nb-icon [icon]=row.status status="success"></nb-icon>
                        </button>
                        <button nbButton ghost size="large" >
                            <nb-icon icon="close-circle-outline" status="danger"></nb-icon>
                        </button>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>