<nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <div>
            <h6>Sertifikat Diklat</h6>
            <span class="caption text-gray">Tabel berikut menampilkan daftar sertifikat diklat yang telah selesai diikuti oleh peserta</span>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(userCourse$ | async) as userCourse" [nbSpinner]="userCourse.loading">
        <!-- {{(userCourse | set:'relationships')[0].activity_log | json}} -->
        <!-- {{userCourse | json}} -->
        <ngx-table-filter [table]="table"></ngx-table-filter>

        <ngx-simple-table #table [column]="['Nama Diklat','Jadwal Pelaksanaan','Lokasi Diklat', 'Tgl. Sertifikat', 'Nomor Sertifikat', 'JP', 'Status']"
        [response]="userCourse.response" 
        [selectedData]="[
            'relationships.training_schedule', 
            'relationships.training_schedule.attributes.start_date', 
            'relationships.training_schedule.attributes.location', 
            'attributes.certificate_date', 
            'attributes.certificate_no',
            'attributes.jp',
            'relationships.activity_log|status',
            'relationships.activity_log.0.attributes.status|statusText',
            'relationships.attachment.0.attributes|attachment',
            'id', 
            'attributes',
            'relationships.training_schedule.relationships.training.relationships.training_subject'
        ]"
        [actionRef]="actionRef"
        [templateRef]="templateRef"
        ></ngx-simple-table>
        <ng-template #actionRef let-row>
            <div class="d-flex">
                <a class="mr-2" nbButton status="primary" size="tiny" [href]="storageUrl+row.attachment?.path" target="_blank" nbTooltip="Upload Sertifikat">
                    <nb-icon icon="eye-outline"></nb-icon> 
                    View 
                </a>
                <button *ngIf="row.statusText != 'diterima'" nbButton size="tiny" ghost [nbContextMenu]="[
                    (row.statusText == '') && {title: 'Edit', icon: 'edit-outline'},
                    {title: 'View', icon: 'eye-outline', url: storageUrl+row.attachment?.path, target: '_blank'},
                    (row.statusText != 'diterima') && {title: 'Delete', icon: 'trash-2-outline', data: row.id},
                    ] | set:null" [nbContextMenuTag]="tag">
                        <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
            </div>
        </ng-template>
        <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Status'">
                <stat-btn [data]="row.status"></stat-btn>
            </span>
            <span *ngIf="col == 'Tgl. Sertifikat'">
                {{row.certificate_date | date:'shortDate'}}
            </span>
            <span *ngIf="col == 'Nama Diklat'">
                {{row.training?.name ?? row.training_schedule?.attributes?.name ?? '-' }}
            </span>
            <span *ngIf="col == 'Jadwal Pelaksanaan'">
                {{row.training_schedule?.attributes?.start_date ?? row.attributes?.start_date ?? '-' }}
            </span>
            <span *ngIf="col == 'JP'">
                {{ row.training_subject ? (row.training_subject | jp) : row.attributes.jp }}
            </span>
            <span *ngIf="col != 'JP' && col != 'Nama Kelompok' && col != 'Nama Diklat' && col != 'Jadwal Pelaksanaan' && col != 'Status' && col != 'Tgl. Sertifikat'">
                {{(row | o2value:i) ?? '-'}}
            </span>
        </ng-template>
    </nb-card-body>
</nb-card>
