@import '../@theme/styles/themes';
@import '@swimlane/ngx-datatable/index.css';
@import '@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '@swimlane/ngx-datatable/assets/icons.css';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
