<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Tambah Mata Diklat</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(subject$ | async) as subject">
        <!-- {{subject | json}} -->
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>

            <ng-container *ngIf="(diklatId && (diklat$ | async).response?.data && (diklat$ | async).response?.data[0]) as diklat">
                <input name="training_id" type="hidden" [ngModel]="diklat?.id" #training_id="ngModel">
                <div class="form-group row mb-3">
                    <label for="training" class="label col-form-label col-3">Nama Diklat</label>
                    <div class="col-sm-9">
                        <input class="col" nbInput
                            fullWidth
                            name="training"
                            type="text"
                            id="name"
                            [value]="diklat?.attributes?.name"
                            readonly
                            fieldSize="medium">
                    </div>
                </div>
            </ng-container>

            <div class="form-group row mb-3">
                <label for="name" class="label col-form-label col-3">Mata Diklat</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="name"
                        type="text"
                        id="name"
                        ngModel required #name="ngModel"
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="desc" class="label col-form-label col-3">Deskripsi</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="desc" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." ngModel required #desc="ngModel"></textarea>
                </div>
            </div>

            <hr>

            <div class="row">
                <h6 class="col-12">Tujuan Pembelajaran</h6>
                <div class="col-12" *ngFor="let f of [
                    {label: 'Kompetensi Dasar', name: 'basic_competencies'},
                    {label: 'Indikator Keberhasilan', name: 'success_indicator'},
                    {label: 'Petunjuk untuk Pengajaran', name: 'teaching_guidance'},
                    {label: 'Petunjuk untuk Peserta', name: 'participant_guidance'},
                    {label: 'Evaluasi Kegiatan Belajar', name: 'evaluation'},
                    {label: 'Referensi', name: 'reference'},
                    {label: 'Keterangan Modul', name: 'other_info'},
                ]">
                    <div class="form-group row mb-3">
                        <label [for]="f.name" class="label col-form-label col-3">{{f.label}}</label>
                        <div class="col-sm-9">
                            <textarea rows="5" [name]="f.name" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." ngModel required #{{f.name}}="ngModel"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton ghost type="reset" (click)="back()" size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>