<nb-card>
    <nb-card-header>
        <h6>Jadwal Rencana Kegiatan Kediklatan</h6>
        <span class="caption text-gray">Tabel berikut menampilkan daftar jadwal pelaksanaan diklat</span>
    </nb-card-header>
    <nb-card-body *ngIf="(schedules$ | async) as schedules">
    <!-- {{schedules | json}} -->
    <ngx-table-filter [table]="table" [print]="['group_name|attributes.name','category','start_date', 'location','status|:belum diverifikasi']"></ngx-table-filter>

        <ngx-simple-table #table [column]="['Nama Diklat', 'Kategori', 'Jadwal Pelaksanaan','Lokasi Diklat', 'Status']"
        [response]="schedules.response"
        [selectedData]="[
          'relationships.training.attributes.group_name',
          'attributes.category',
          'attributes.start_date',
          'attributes.location',
          'relationships.training.attributes|training',
          'attributes.link',
          'attributes',
          'relationships.participant',
          'relationships.participant.relationships.activity_log.0.status|statusText',
          'relationships.participant.relationships.activity_log|status',
          'id',
          'relationships.training.attributes.name'
        ]"
        [templateRef]="templateRef"
        [actionRef]="actionRef"
        ></ngx-simple-table>
        <ng-template #templateRef let-row let-col="col" let-i="index">
          <span *ngIf="col == 'Nama Diklat'">
              {{row.category != 'internal' ? row.attributes.name : row.name}}
          </span>
          <span *ngIf="col == 'Kategori'">
            <button nbButton [status]="row.category == 'eksternal' ? 'danger' : 'primary'" size="tiny">{{row.category}}</button>
          </span>
          <span *ngIf="col == 'Status'">
            <stat-btn [data]="row.status" [defaultStat]="row.participant ? 'belum diverifikasi' : 'belum mendaftar'"></stat-btn>
          </span>
          <span *ngIf="col != 'Status' && col != 'Nama Diklat' && col != 'Kategori'">
            {{row | o2value:i}}
          </span>
        </ng-template>
        <ng-template #actionRef let-row>
          <button nbButton ghost [nbContextMenu]="[
          {title: 'Tampilkan', icon: 'external-link-outline', link: '/pages/administrasi-peserta/kalender-diklat/detail/'+row.id},
          (!row.statusText) && {title: 'Daftar', icon: 'person-outline', data: row}
          ] | set:null" [nbContextMenuTag]="tag">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
          </button>
        </ng-template>

    </nb-card-body>
</nb-card>
