<nb-card [nbSpinner]="loading">
    <nb-card-header class="row justify-content-between">
      <div class="header-title col-auto d-flex align-items-center">
        <button *ngIf="diklatId" (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <div class="d-block">
          <h6>Pengaturan Mata Diklat</h6>
          <span class="caption text-gray">Tabel berikut menampilkan jenis-jenis mata diklat</span>
        </div>
      </div>
      <div class="col-auto">
        <button [routerLink]="diklatId ? ['../pengaturan-mata/add/'+diklatId] : ['../pengaturan-mata/create-update']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Mata Diklat</button>
      </div>
    </nb-card-header>
    <nb-card-body *ngIf="(subjects$ | async) as subjects">
        <nb-card *ngIf="diklatId" style="background-color: rgb(113, 102, 175);">
          <nb-card-body class="row">
            <div class="image col-1">
                <img src="./assets/images/logo.png" alt="logo" width="40">
            </div>
            <div class="data-content col-11">
                <p class="text-light mb-2">Kelompok Diklat : {{subjects.response.data && subjects.response.data[0]?.relationships?.training?.attributes?.group_name ?? (diklat$ | async)?.response.data && (diklat$ | async)?.response?.data[0].attributes?.group_name}}</p>
                <p class="text-light mb-2">Diklat : {{subjects.response.data && subjects.response.data[0]?.relationships?.training?.attributes?.name ?? (diklat$ | async)?.response.data && (diklat$ | async)?.response?.data[0].attributes?.name}}</p>
                <p class="text-light mb-2" *ngIf="(total$ | async) as total">Alokasi Waktu KBM : {{total > 0 ? total : '(Belum Tersedia)'}} Jam Pelajaran</p>
                
                <hr style="background-color: white;">
  
                <div class="mt-3 row justify-content-between">
                    <span class="col-auto mb-2">
                      <button class="mr-2" [routerLink]="['../pengaturan-mata/add', diklatId]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Tambah Mata Diklat Baru</button>
                      <button [routerLink]="['../../pilih-mata', diklatId]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Pilih Mata Diklat</button>
                    </span>
                    <span class="col-auto">
                      <button [routerLink]="['../../pengaturan-angkatan', diklatId]" nbButton status="warning" size="small"> <nb-icon icon="external-link-outline"></nb-icon> Shortcut Pengaturan Angkatan Diklat</button>
                    </span>
                </div>
            </div>
          </nb-card-body>
        </nb-card>

        <ngx-table-filter [table]="table" [print]="['name','time_allocation']" [display]="null"></ngx-table-filter>

        <!-- {{diklat?.subjects | json}} -->
        <ngx-simple-table #table
          [column]="['Mata Diklat', 'Alokasi Waktu']"
          [response]="subjects.response" 
          [selectedData]="['attributes.name', 'attributes.time_allocation:JP', 'id']"
          [actionRef]="actionRef"
        ></ngx-simple-table>

        <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[{title: 'Edit', icon: 'edit-outline', link: './pages/diklat/pengaturan-mata/create-update', data: row.id},
                {title: 'Pengaturan Tahapan KBM', icon: 'settings-outline', link: './pages/diklat/pengaturan-mata/kbm/'+row.id},
                {title: 'Pengaturan File Materi', icon: 'file-outline', link: './pages/diklat/pengaturan-mata/file-materi/'+row.id},
                {title: 'Delete', icon: 'trash-outline', data: row.id}
            ]" [nbContextMenuTag]="tag">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
        </ng-template>
    </nb-card-body>
</nb-card>