<nb-layout>
    <!-- <nb-layout-column class="col-md-4 col-sm-12" style="background-color: #E1F3FF;"> -->
    <nb-layout-column class="d-flex justify-content-center align-items-center position-relative" style="background-color: #E1F3FF;">
        <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center flex-column" style="z-index: 0; background: url(./assets/images/Bg-login.jpeg); background-size: cover;">
            
            <!-- <a style="margin-top: -40px; font-size: 9px;" href="https://storyset.com/business">Business illustrations by Storyset</a> -->
        </div>

        <nb-card style="z-index: 1;">
            <nb-card-body>
                <div class="row justify-content-center align-items-center py-3">
                    <div class="col-auto">
                        <span class="d-block w-100 text-center">
                            <img class="mb-3" src="./assets/images/logo.png" alt="Logo" width="100"></span>
                        <div>
                        <h6>Login</h6>
                        <p style="font-size: .8rem;">Masukkan NIP dan Kata Sandi untuk mendapatkan akses</p>
                        </div>
                        <form action="">
                        <label class="label" for="input-email">NIP</label>
                        <div class="form-control-group">
                            <input class="mb-2" nbInput
                                fullWidth
                                [(ngModel)]="user.email"
                                #email="ngModel"
                                name="email"
                                id="input-email"
                                placeholder="NIP"
                                fieldSize="medium"
                                autofocus
                                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                                [required]="getConfigValue('forms.validation.email.required')"
                                [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="caption status-danger" *ngIf="email.errors?.required">
                                    NIP is required!
                                </p>
                                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                                    NIP should be the real one!
                                </p>
                            </ng-container>
                        </div>
        
                        <div class="form-control-group">
                            <!-- <span class="label-with-link">
                            <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
                            </span> -->
                            <label class="label" for="input-password">Password</label>
                            <nb-form-field>
                            <input class="mb-2" nbInput
                                fullWidth
                                [(ngModel)]="user.password"
                                #password="ngModel"
                                name="password"
                                [type]="getInputType()"
                                id="input-password"
                                placeholder="Password"
                                fieldSize="medium"
                                [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                                [required]="getConfigValue('forms.validation.password.required')"
                                [minlength]="getConfigValue('forms.validation.password.minLength')"
                                [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                                [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                            <a nbSuffix nbButton ghost tabindex="-1" (click)="toggleShowPass()">
                                <nb-icon class="mb-2" [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </a>
                            </nb-form-field>
                            <ng-container *ngIf="password.invalid && password.touched ">
                            <p class="caption status-danger" *ngIf="password.errors?.required">
                                Password is required!
                            </p>
                            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                                Password should contain
                                from {{ getConfigValue('forms.validation.password.minLength') }}
                                to {{ getConfigValue('forms.validation.password.maxLength') }}
                                characters
                            </p>
                            </ng-container>
                        </div>
        
                        <div class="form-control-group accept-group mb-3">
                            <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
                        </div>
        
                        <button 
                            class="mb-1"
                            nbSpinnerStatus="basic" [nbSpinner]="submitted"
                            [disabled]="submitted"
                            nbButton
                            (click)="login()"
                            fullWidth
                            status="primary"
                            [class.btn-pulse]="submitted">
                            Log In
                        </button>

                        <a type="submit"
                                nbSpinnerStatus="basic" [nbSpinner]="submitted"
                                nbButton
                                (click)="loginSSO()"
                                fullWidth
                                status="success"
                                [disabled]="submitted"
                                [class.btn-pulse]="submitted">
                            Log In dengan SSO
                        </a>
                        </form>
                    </div>
                </div>
                <div *ngIf="errors.length > 0" class="row">
                    <div class="col-12">
                        <nb-card accent="danger">
                            <nb-card-body>
                                <div class="text-danger">{{errors | json}}</div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <!-- <nb-layout-column class="col overflow-auto" style="background-color: white; height: 100vh;">
      
      <h5>JADWAL DIKLAT 2022</h5>

      <nb-card>
        <nb-card-body>
          <ngx-datatable 
              [class]="'bootstrap'" 
              [rows]="dataTable" 
              [count]="dataTable.length"
              [scrollbarH]="true"
              columnMode="force"
              default>
              <ngx-datatable-column [name]="'No'" [width]="50">
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      {{rowIndex+1}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [name]="'NAMA DIKLAT'" prop="name"></ngx-datatable-column>
              <ngx-datatable-column [name]="'WAKTU PELAKSANAAN'" prop="time"></ngx-datatable-column>
              <ngx-datatable-column [name]="'TEMPAT PELAKSANAAN'" prop="place"></ngx-datatable-column>
              <ngx-datatable-column [name]="'REGISTRASI'">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div class="d-flex">
                            <button nbButton outline status="primary" size="small" class="btn btn-action" (click)="open()">DAFTAR</button>
                        </div>
                    </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </nb-card-body>
      </nb-card>
  
      <ng-content select="router-outlet"></ng-content>
    </nb-layout-column> -->
</nb-layout>