<div class="container my-3">
    <div class="row">
        <h6 class="col-12">III. Data Pekerjaan Saat Ini <i>(Khusus peserta seleksi wajib diisi!):</i></h6>
        <span class="subtitle col-12">1. Gambarkan struktur organisasi tempat Saudara bekerja, dan dimana posisi jabatan Saudara saat ini</span>
        <label for="upload" class="col-12">
            Upload File
            <ngx-upload id="organisasi"></ngx-upload>
        </label>

        <label for="tanggung_jawab" class="col-12 subtitle">
            2. Apa saja tanggungjawab Saudara pada pekerjaan/jabatan Saudara saat ini ?
            <textarea rows="5" name="tanggung_jawab" nbInput fullWidth placeholder="" ngModel required #tanggung_jawab="ngModel"></textarea>
        </label>

        <label for="motivasi_seleksi" class="col-12 subtitle">
            3. Apa yang mendorong Saudara mengikuti seleksi ?
            <textarea rows="5" name="motivasi_seleksi" nbInput fullWidth placeholder="" ngModel required #motivasi_seleksi="ngModel"></textarea>
        </label>

        <label for="visi" class="col-12 subtitle">
            4. Apabila Saudara lulus dalam seleksi, apa saja yang akan Saudara lakukan agar sukses menjalankan tugas nanti?
            <textarea rows="5" name="visi" nbInput fullWidth placeholder="" ngModel required #visi="ngModel"></textarea>
        </label>

        <label for="kompetensi" class="col-12 subtitle">
            5. Menurut pendapat Saudara, kompetensi apa saja yang perlu dimiliki?
            <textarea rows="5" name="kompetensi" nbInput fullWidth placeholder="" ngModel required #kompetensi="ngModel"></textarea>
        </label>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h6 class="">V. Dokumen Lampiran</h6>
            <button nbButton status="primary" (click)="openLampiran()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>

        <div class="col-12">
            <ngx-simple-table [column]="['Jenis', 'Judul', 'Size', 'Keterangan']"
                [response]="[{
                    jenis: 'Pas Foto',
                    judul: 'Foto',
                    file: 'https://localhost/photo.jpg',
                    size: '511 KB',
                    keterangan: 'Foto'
                }]"
                [templateRef]="lampiranTemplate"></ngx-simple-table>

            <ng-template #lampiranTemplate let-row let-col="col" let-i="index">
                <div *ngIf="col.toLowerCase() == 'judul'">
                    <a href="#" [download]="row['file']"><nb-icon icon="image-outline"></nb-icon></a> {{ row['judul'] }}
                </div>
                <div *ngIf="col.toLowerCase() != 'judul'">
                    {{ row[col.toLowerCase()] }}
                </div>
            </ng-template>
        </div>
    </div>
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate class="row mt-3">
        <nb-checkbox status="danger" class="col-12 mb-3">Dengan ini menyatakan bahwa data yang saya isikan adalah benar adanya. Jika ditemukan dikemudian hari diketemukan kesalahan yang disengaja/pemalsuan data maka saya bersedia menerima konsekuensinya</nb-checkbox>
        <div class="col-12 d-flex justify-content-end">
            <button nbButton status="success" class="mr-2"><nb-icon icon="save-outline"></nb-icon> Simpan</button>
        </div>
    </form>
</div>

<ng-template #formal>
    <div class="d-flex flex-column mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6>I. Riwayat Pendidikan Formal</h6>
            <button nbButton status="primary" (click)="openPendidikanFormal()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>
        <ngx-datatable 
            [class]="'bootstrap'" 
            [rows]="data" 
            [count]="data.length"
            [scrollbarH]="true"
            columnMode="force"
            default>
            <ngx-datatable-column *ngFor="let col of column; let i = index" [name]="col">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <div *ngIf="col.toLowerCase() == 'ijazah'">
                        <button nbButton status="danger" size="small"><nb-icon icon="file-outline"></nb-icon> Download</button>
                    </div>
                    <div *ngIf="col.toLowerCase() !== 'ijazah'">
                        {{row | o2value:i}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Action'">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button nbButton status="primary" size="small" class="mr-2"><nb-icon icon="edit-outline"></nb-icon></button>
                    <!-- <button nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button> -->
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</ng-template>

<ng-template #pelatihan>
    <div class="d-flex flex-column mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6>II. Riwayat Pendidikan dan Pelatihan</h6>
            <button nbButton status="primary"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>
        <ngx-datatable 
            [class]="'bootstrap'" 
            [rows]="dataPelatihan" 
            [count]="dataPelatihan.length"
            [scrollbarH]="true"
            columnMode="force"
            default>
            <ngx-datatable-column name="No.">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{rowIndex+1}}.
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let col of columnPelatihan; let i = index" [name]="col">
                <!-- <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <div *ngIf="col.toLowerCase() == 'ijazah'">
                        <button nbButton status="danger" size="small"><nb-icon icon="file-outline"></nb-icon> Download</button>
                    </div>
                    <div *ngIf="col.toLowerCase() !== 'ijazah'">
                        {{row | o2value:i}}
                    </div>
                </ng-template> -->
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Action'">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button nbButton status="primary" size="small" class="mr-2"><nb-icon icon="edit-outline"></nb-icon></button>
                    <button nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</ng-template>

<ng-template #riwayatKerja>
    <div class="d-flex flex-column mb-3">
        <h6>Riwayat Pekerjaan</h6>
        
        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-between">
                <span class="subtitle">
                    I. Pengalaman saudara melaksanakan kegiatan pendidikan, pengajaran, dan pelatihan (Dikjartih)/Sosialisasi/Penyuluhan*):
                </span>
                <span class="d-block">
                    <button nbButton status="primary"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
                </span>
            </div>
            <div class="col-12">
                <ngx-simple-table
                    [column]="['Nama Kegiatan', 'Materi', 'Instansi Penyelenggara', 'Tahun', 'Sertifikat', 'Masa Berlaku Sertifikat']"
                    [data]="[
                        {
                            nama: 'test', 
                            materi: 'test', 
                            instansi: 'test', 
                            tahun: '2022', 
                            sertifikat: 'test',
                            masa_berlaku: '12/12/12'
                        }
                    ]"
                ></ngx-simple-table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <span class="subtitle">
                    II. Daftar karya tulis ilmiah/jurnal yang pernah saudara buat/diterbitkan (apabila ada)
                </span>
                <span class="d-block">
                    <button nbButton status="primary"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
                </span>
            </div>
            <div class="col-12">
                <ngx-simple-table
                    [column]="['Judul Tulisan', 'Tahun', 'Disampaikan/dipublikasikan pada Seminar/Majalah/Koran/Website', 'Keterangan']"
                    [data]="[
                        {
                            judul: 'test', 
                            tahun: 'test', 
                            publikasi: 'test', 
                            keterangan: '2022'
                        }
                    ]"
                ></ngx-simple-table>
            </div>
        </div>
    </div>
</ng-template>