<div class="container my-3" *ngIf="(pesan$ | async) as pesan">
    <!-- {{(pesan$ | async) | json}} -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
                    
        <div class="row mb-2">
    
            <label for="to" class="label col-2">Kepada (NIP)</label>
            <input nbInput class="col-10 mb-2"
                        fullWidth
                        name="to"
                        type="text"
                        id="to"
                        [ngModel]="id ? pesan?.attributes?.to : f.value.to" required #to="ngModel"
                        placeholder=""
                        fieldSize="medium">

            <label for="subject" class="label col-2">Subjek</label>
            <input nbInput class="col-10 mb-2"
                        fullWidth
                        name="subject"
                        type="text"
                        id="subject"
                        [ngModel]="id ? pesan?.attributes?.subject : f.value.subject" required #subject="ngModel"
                        placeholder=""
                        fieldSize="medium">
            
            <label for="content" class="label col-2">Isi Pesan</label>
            <textarea class="col-10 mb-2" rows="5" name="content" nbInput fullWidth placeholder="" [ngModel]="id ? pesan?.attributes?.content : f.value.content" required #isi="ngModel"></textarea>
            
            <label class="col-2" for="read"></label>
            <nb-checkbox class="col-10 p-0" id="read" name="notified" ngModel #notified="ngModel" status="primary">Read Notify</nb-checkbox>
    
        </div>
        
        <div class="row justify-content-end">
            <div class="col-auto">
                <button nbButton (click)="back()" status="success" class="mr-2">Kembali <nb-icon icon="arrowhead-left-outline"></nb-icon></button>
                <button nbButton type="submit" status="primary" ><nb-icon icon="paper-plane-outline"></nb-icon> Kirim</button>
            </div>
        </div>
    </form>
</div>