<nb-card>
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>Jadwal Pengajar</h6>
                <span class="caption text-gray">Tabel berikut menampilkan jadwal pengajar</span>
            </div>
        </div>
        <div class="col-auto">
            <button [routerLink]="['./create']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Jadwal Pengajar</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-card style="background-color: rgb(113, 102, 175);">
            <nb-card-body class="row">
                <div class="image col-1">
                    <img src="./assets/images/logo.png" alt="logo" width="40">
                </div>
                <div class="data-content col-11" *ngIf="(schedule$ | async) as schedule">
                    <!-- {{schedule | json}} -->
                    <!-- <p class="text-light mb-2">Kelompok Diklat : {{schedule?.relationships?.training?.attributes?.group_name}}</p> -->
                    <p class="text-light mb-2">Nama Diklat : {{schedule?.relationships?.training?.attributes?.name}}</p>
                    <p class="text-light mb-2">Angkatan : {{schedule?.attributes?.periode}}</p>
                    <p class="text-light mb-2">Tanggal Mulai : {{schedule?.attributes?.start_date}}</p>
                    <p class="text-light mb-2">Durasi : {{schedule?.attributes?.duration}} (hari)</p>
                    <p class="text-light mb-2">Lokasi : {{schedule?.attributes?.location}}</p>
                                  
                  <!-- <hr style="background-color: white;"> -->
    
                  <!-- <div class="mt-3 row justify-content-between">
                      <span class="col-auto mb-2">
                        <button class="mr-2" [routerLink]="['../pengaturan-mata/add', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Tambah Mata Diklat Baru</button>
                        <button [routerLink]="['../../pilih-mata', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Pilih Mata Diklat</button>
                      </span>
                      <span class="col-auto">
                        <button class="mr-2" nbButton status="warning" size="small"> <nb-icon icon="download-outline"></nb-icon> Download Excel</button>
                        <button nbButton status="warning" size="small" (click)="downloadPdf()"> <nb-icon icon="download-outline"></nb-icon> Download PDF</button>
                        <button [routerLink]="['../../pengaturan-angkatan', id]" nbButton status="warning" size="small"> <nb-icon icon="external-link-outline"></nb-icon> Shortcut Pengaturan Angkatan Diklat</button>
                      </span>
                  </div> -->
              </div>
            </nb-card-body>
        </nb-card>

        <!-- Start Tabel Jadwal -->
        <div class="mt-3">
            <ngx-table-filter [table]="table" [print]="['teacher','start_date','assistant','start_time','end_time']" [display]="null"></ngx-table-filter>
            <ngx-simple-table
                #table 
                [column]="['Pengajar', 'Asisten', 'Hari/Tanggal', 'Jam']"
                [response]="(tschedule$ | async).response"
                [selectedData]="['attributes.teacher', 'attributes.assistant', 'attributes.start_date', 'attributes.start_time', 'attributes.end_time', 'id']"
                [actionRef]="actionRef"
                [templateRef]="templateRef"
                (page)="setPage($event)"
            ></ngx-simple-table>

            <ng-template #templateRef let-row let-col="col" let-i="index">
                {{
                    col == 'Hari/Tanggal' ? (row.start_date | date:'fullDate') :
                    col == 'Jam' ? (row?.start_time | date:'shortTime')+' - '+(row?.end_time | date:'shortTime') : 
                    (row | o2value:i)
                }}
            </ng-template>

            <ng-template #actionRef let-row>
                <button nbButton ghost [nbContextMenu]="[
                {title: 'Edit', icon: 'edit-outline', data: row.id},
                {title: 'Delete', icon: 'trash-outline', data: row.id},
                ]" [nbContextMenuTag]="tag">
                    <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
            </ng-template>
        </div>
        <!-- End Tabel Jadwal -->
        
    </nb-card-body>
</nb-card>