<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h6>Daftar Karya Tulis Ilmiah/Jurnal yang Pernah Saudara Buat/Terbitkan</h6>
                <span class="caption text-gray">Tabel berikut menampilkan daftar karya tulis peserta</span>
            </div>
            <button nbButton status="primary" [routerLink]="['./create']"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="col-12" *ngIf="(userPaper$ | async) as userPaper">
            <!-- {{userPaper | json}} -->
            <ngx-simple-table
                [column]="['Judul Tulisan', 'Tahun', 'Disampaikan/dipublikasikan pada Seminar/Majalah/Koran/Website', 'Keterangan']"
                [response]="userPaper.response"
                [selectedData]="[
                    'attributes.title', 
                    'attributes.year', 
                    'attributes.publish_at', 
                    'attributes.other_info', 
                    'relationships.activity_log.0.attributes.status|statusText',
                    'relationships.activity_log|status',
                    'relationships.attachment.0.attributes|attachment',
                    'id',
                ]"
                (delete)="OnDelete($event)"
                (edit)="OnEdit($event)"
                [templateRef]="templateRefKT"
                [actionRef]="actionRef"
            ></ngx-simple-table>
            <ng-template #templateRefKT let-row let-col="col" let-i="index">
                <!-- <span *ngIf="col == 'Status'">
                    <stat-btn [data]="row.status" [defaultStat]="'belum diverifikasi'"></stat-btn>
                </span> -->
                <span *ngIf="col == 'Tahun'">
                    {{row.year | date:'mediumDate'}}
                </span>
                <span *ngIf="col != 'Tahun' && col != 'Status'">
                    {{row | o2value:i}}
                </span>
            </ng-template>
            <ng-template #actionRef let-row>
                <a [href]="storageUrl+row.attachment.path" target="_blank" nbButton status="primary" size="small" class="mr-2"><nb-icon icon="eye-outline"></nb-icon></a>
                <button (click)="OnEdit(row.id)" nbButton status="none" size="small" class="mr-2"><nb-icon icon="edit-outline"></nb-icon></button>
                <button (click)="OnDelete(row.id ?? null)" nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button>
            </ng-template>
        </div>
    </nb-card-body>
</nb-card>