<nb-layout>
    <nb-layout-header fixed>
        <div class="desktopScene w-100 align-items center justify-content-evenly">
            <img src="./assets/images/logo.png" alt="logo-bkd" width="50" class="mx-3">
            <button nbButton size="small" outline status="primary" shape="round" class="mx-3"
              [nbContextMenu]="[
                {title: 'Daftar Diklat'},
                {title: 'Daftar Pengumuman'},
                {title: 'Tentang Kami'}
              ]">
              <nb-icon icon="menu-2-outline"></nb-icon>Menu</button>
            <nb-form-field style="flex: 1;" class="mx-3">
                <nb-icon nbPrefix  icon="search-outline"></nb-icon> 
                <input nbInput
                    shape="round"
                    fullWidth size="small"
                    name="search"
                    type="text"
                    id=""
                    placeholder="Cari"
                    fieldSize="medium">
            </nb-form-field>
            <button nbButton size="small" status="primary" shape="round" [routerLink]="['../auth']">
              <nb-icon icon="log-in-outline"></nb-icon>Masuk</button>
        </div>

        <div class="mobileScene w-100 align-items center justify-content-evenly">
          <img src="./assets/images/logo.png" alt="logo-bkd" width="40">
          <nb-form-field style="flex: 1;" class="mx-3">
              <nb-icon nbPrefix  icon="search-outline"></nb-icon> 
              <input nbInput
                  shape="round"
                  fullWidth size="small"
                  name="search"
                  type="text"
                  id=""
                  placeholder="Cari"
                  fieldSize="medium">
          </nb-form-field>
          <button nbButton size="tiny" outline status="primary" shape="round"
              [nbContextMenu]="[
                {title: 'Daftar Diklat'},
                {title: 'Daftar Pengumuman'},
                {title: 'Tentang Kami'},
                {title: 'Masuk', icon: 'log-in-outline', link: '/auth'},
              ]">
              <nb-icon icon="menu-2-outline"></nb-icon>Menu</button>
        </div>
    </nb-layout-header>

    <nb-layout-column class="p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-0 py-5">
            <swiper 
              [slidesPerView]="'auto'"
              [centeredSlides]="true"
              [loop]="true"
              [autoplay]="{
                delay: 2500,
                disableOnInteraction: false
              }"
              [spaceBetween]="30"
              [pagination]="{
                clickable: true
              }"
              class="mySwiper">
              <ng-template swiperSlide *ngFor="let image of images">
                <img [src]="image" alt="image">
              </ng-template>
              <!-- <ng-template swiperSlide>Slide 2</ng-template>
              <ng-template swiperSlide>Slide 3</ng-template> -->
            </swiper>
          </div>
        </div>

        <!-- <div class="row justify-content-around mb-5">
          <div *ngFor="let diklat of [
          {initial: 'INT', name: 'Diklat Internal', active: true}, 
          {initial: 'EXT', name: 'Diklat External'}, 
          {initial: 'BKD', name: 'Diklat BKD'}]" class="col-md-3 col-sm-12">
            <button nbButton class="border border-4 my-2 w-100" [status]="diklat.active ? 'primary' : ''" style="text-transform: unset; min-width: 200px;">
              <span class="h4 mr-2 {{diklat.active ? 'text-white' : 'text-hint'}}">{{diklat.initial}}</span>
              <span class="subtitle {{diklat.active ? 'text-white' : 'text-hint'}}">{{diklat.name}}</span>
            </button>
          </div>
        </div> -->
  
        <div class="row px-5">
          <div class="col-12 d-flex justify-content-between mb-3">
            <span class="h4">Diklat Teknis Pertanahan</span>
            <button nbButton size="tiny" ghost>
              Lihat semua <nb-icon icon="arrowhead-right-outline"></nb-icon>
            </button>
          </div>
          <div class="col-md-4 col-sm-12" *ngFor="let d of data">
            <diklat-card [data]="d"></diklat-card>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-center my-5 text-center">
            <span class="h1">Tahapan Pendaftaran</span>
          </div>
          <div class="col-12">
            <div class="row">
              <div *ngFor="let step of [
                {title: 'Pendaftaran', subtitle: 'Pilih pada pelatihan yang diinginkan', image: './assets/images/pendaftaran.png' },
                {title: 'Seleksi', subtitle: 'Ikuti tahap seleksi peserta (seleksi administrasi dan/atau tes substansi)', image: './assets/images/seleksi.png' },
                {title: 'Verifikasi', subtitle: 'Penyelenggara akan melakukan verifikasi pada aplikasi pendaftaran anda', image: './assets/images/verifikasi.png' }
              ]" class="col-sm-12 col-md-4">
                <div class="d-flex flex-column text-center">
                  <div class="rounded border border-1 overflow-hidden d-flex justify-content-center mb-2" style="min-height: 150px;">
                    <img [src]="step.image" alt="step" />
                  </div>
                  <span class="h4 mb-2">{{step.title}}</span>
                  <span class="caption">{{step.subtitle}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 my-5">
            <span class="d-block h1 w-100 text-center">Rilis Media & Informasi Terbaru</span>
          </div>
          <div class="col-12">
            <div class="row px-5">
              <div class="col-md-4 col-sm-12" *ngFor="let d of data">
                <announce-card [data]="d"></announce-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-layout-column>

    <nb-layout-footer class="colored-footer-primary">
      <div class="row p-4">
        <div class="col-md-4 my-4 d-flex justify-content-center">
          <img src="./assets/images/BKD.png" alt="logo-bkd" class="w-100">
        </div>
        <div class="col-md-8 my-4">
          <span class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </div>
        <span class="col-12"><hr></span>
        <div class="col-md-6 col-sm-12 d-flex flex-column my-4">
          <span class="h6">Alamat</span>
          <span class="subtitle">Badan Kepegawaian Daerah Jl. Taruna Sidoarjo, 61257</span>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column my-4">
          <span class="h6">Pranala Luar</span>
          <span class="subtitle">Badan Kepegawaian Daerah Sidoarjo</span>
        </div>
        <span class="col-12"><hr></span>
        <span class="col-12 mt-4 d-block w-100 text-center">Copyright © 2022 | Badan Kepegawaian Daerah</span>
      </div>
    </nb-layout-footer>
</nb-layout>