<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <div class="header-title">
            <h6>Manajemen User</h6>
            <span class="caption">Tabel berikut memuat daftar data master pengguna dan aksesnya</span>
        </div>
        <div>
            <button [routerLink]="['./create']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>
        
    </nb-card-header>
    <nb-card-body *ngIf="(users$ | async) as users" [nbSpinner]="users.loading">
        <ngx-table-filter [table]="table" [columns]="['NIP','Nama','Role','Status']" [display]="{search: {}, status:['active', 'inactive']}"></ngx-table-filter>
        <!-- {{ (users$ | async) | json}} -->
        <ngx-simple-table #table [column]="['NIP', 'Nama', 'Role', 'Status']"
            [response]="users.response"
            [selectedData]="[
            'attributes.nip',
            'attributes.first_name', 
            'relationships.roles',
            'attributes.status',
            'id',
            'attributes.last_name', 
            ]"
            [actionRef]="actionRef"
            [templateRef]="templateRef"
        ></ngx-simple-table>
        <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[
            {title: 'Edit', icon: 'edit-outline', data: row.id}, 
            {title: 'Delete', icon: 'trash-outline', data: row.id}
            ]"
            nbContextMenuTag="manajemen-user-menu">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
            <!-- <nb-action> <a href="" style="text-decoration: none;">Edit</a> </nb-action> -->
        </ng-template>
        <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Status'">
                <a nbButton size="tiny" [status]="row.status == 'inactive' ? 'danger' : 'success'">{{row.status}}</a>
            </span>
            <span *ngIf="col != 'Status'">
                {{
                    (col == 'Nama' ? (row?.first_name) :
                    col == 'Role' ? (row?.roles?.length ? (row?.roles | set:'attributes.name') : row?.roles?.attributes?.name) :
                    (row|o2value:i))
                }}
            </span>
        </ng-template>
    </nb-card-body>
  </nb-card>