<nb-card class="position-relative" style="height: 380px;">
    <img src="./assets/images/announcement.png" alt="background-diklat" class="position-absolute" 
        style="left: 0; top: 0;width: 100%;">
    <nb-card-body>
        <ng-container
            [ngTemplateOutlet]="cardData"
            [ngTemplateOutletContext]="{$implicit: data}"></ng-container>
    </nb-card-body>
</nb-card>

<ng-template #cardData let-data>
    <div class="d-flex flex-column position-relative h-100" style="z-index: 10;">
        <span class="d-block py-3 mb-4" style="height: 50%;">
            <h6>Pengumuman</h6>
        </span>
        
        <!-- <div class="d-flex align-items-center justify-content-center rounded-circle bg-primary p-3 mb-2" style="width: 45px; height: 45px;">
            <span class="h6 m-0 text-white">{{data.type}}</span>
        </div> -->
        <div class="d-block position-relative" style="min-height: 30px;">
            <nb-badge text="Penting" position="top right"></nb-badge>
        </div>

        <div class="d-flex flex-column mb-2">
            <h6>12 Agustus 2022</h6>
            <p class="caption-2 text-hint m-0">Pengumuman seleksi peserta diklat 
                external Penerapan Aplikasi Kediklatan
                Universitas Muhammadiyah Sidoarjo</p>
        </div>

        <!-- <hr class="w-100 my-2">

        <div class="diklat-info mb-2">
            <div class="d-flex flex-column justify-content-center">
                <span class="caption"><nb-icon icon="clock-outline"></nb-icon> Registrasi: {{data.startRegistration}} - {{data.endRegistration}}</span>
                <span class="caption"><nb-icon icon="people-outline"></nb-icon> Kuota: {{data.kuota}}</span>
            </div>
        </div> -->

        <div class="diklat-footer row justify-content-end">
            <div class="col-auto">
                <button nbButton size="tiny" ghost>Lihat detail <nb-icon icon="chevron-right-outline"></nb-icon></button>
            </div>
        </div>
    </div>
</ng-template>