.banner {
    min-height: 200px;
    position: relative;
    // border: 1px gray dashed;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}