<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Pengaturan Umum</h6>
        <span class="caption">Halaman pengaturan banner dan tampilan diklat yang ingin ditampilkan pada halaman depan</span>
      </div>
      <div class="col-auto">
        <!-- <button nbButton status="primary" [routerLink]="['./detail']">
          <nb-icon icon="file-add-outline"></nb-icon>
          Ajukan Izin Belajar
        </button> -->
      </div>
    </nb-card-header>
    
    <nb-card-body>
      <nb-card>
        <nb-card-header>
            <span class="text-basic">Pengaturan Banner</span>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-12 border rounded banner" *ngFor="let b of [1,2,3]">
                    <nb-icon icon="image-outline"></nb-icon>
                    <input #inputFile type="file" class="position-absolute w-100 h-100" style="visibility: hidden;"/>
                    <div class="position-absolute w-100 h-100 p-2">
                      <span class="d-flex">
                        <button nbButton status="primary" size="tiny" class="mr-1">
                          <nb-icon icon="chevron-down"></nb-icon>
                        </button>
                        <button nbButton status="primary" size="tiny" class="mr-1">
                          <nb-icon icon="chevron-up"></nb-icon>
                        </button>
                        <button nbButton status="primary" size="tiny">
                          <nb-icon icon="image-outline"></nb-icon> Upload Banner 960 x 540
                        </button>
                      </span>
                    </div>
                </div>
            </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          <span class="text-basic">Pengaturan Menampilkan Diklat</span>
        </nb-card-header>
        <nb-card-body>
          <div class="d-flex justify-content-between">
            <nb-form-field>
              <input nbInput
                      name="search"
                      type="text"
                      placeholder="Cari diklat"
                      fieldSize="small">
              <nb-icon nbPrefix icon="search-outline"></nb-icon> 
            </nb-form-field>
            <nb-checkbox name="all">Tampilkan Semua</nb-checkbox>
          </div>
          <ngx-simple-table [column]="['Jenis Diklat','Jadwal Pelaksanaan','Lokasi Diklat']"
            [response]="data"
            [actionRef]="actionRef"
          ></ngx-simple-table>
          <ng-template #actionRef let-row>
            <nb-checkbox name="row.id"></nb-checkbox>
          </ng-template>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>