<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <div class="d-flex flex-column">
            <h6>Manage Hak Akses</h6>
            <span class="caption">Tabel berikut memuat daftar data master pengguna dan aksesnya</span>
        </div>
        <div>
            <button routerLink="/pages/hak-akses/new-role" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Role</button>
        </div>
        
    </nb-card-header>
    <nb-card-body *ngIf="(roles$ | async) as roles">
        <!-- {{roles | json}} -->
        <ngx-table-filter [table]="table" [columns]="['Nama Role','Deskripsi']" [display]="{search: {}}"></ngx-table-filter>
        <ngx-simple-table #table [column]="['Nama Role', 'Deskripsi']"
            [response]="roles.response"
            [selectedData]="[
                'attributes.name',
                'attributes.description',
                'id'
            ]"
            [actionRef]="actionRef"
            (page)="setPage($event)"
        ></ngx-simple-table>
        <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[
            {title: 'Permission', icon: 'edit-outline', link: '/pages/hak-akses/new-role/'+row.id}, 
            {title: 'Delete', icon: 'trash-2-outline', data: row}
            ]"
            nbContextMenuTag="hak-akses-menu">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
            <!-- <nb-action> <a href="" style="text-decoration: none;">Edit</a> </nb-action> -->
        </ng-template>
    </nb-card-body>
  </nb-card>

  