<nb-card>
    <nb-card-header>
        <div class="row justify-content-between">
            <div class="col-auto">
                <h6>Pengumuman Kegiatan Kediklatan Tahun {{year}}</h6>
                <span class="caption">Halaman pengumuman yang menampilkan informasi diklat yang akan dilaksanakan</span>
            </div>
            <div class="col-auto">
                <button nbButton status="primary" [routerLink]="['./create-update']">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                    Tambah Pengumuman Baru
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row mb-3">
            <div class="col-12">
                <nb-form-field>
                    <input nbInput
                        fullWidth
                        name="search"
                        type="text"
                        id=""
                        placeholder="Cari pengumuman"
                        fieldSize="medium">
                    <nb-icon nbSuffix icon="search-outline"></nb-icon> 
                </nb-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12" *ngFor="let d of data">
                <announce-card [data]="d"></announce-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #noData>
    <span class="text-10 text-gray">Text ada diklat mendatang</span>
</ng-template>

<ng-template #hasData let-data>
    <div class="d-flex flex-column position-relative" style="z-index: 10;">
        <nb-badge [text]="data.akses" position="top right"></nb-badge>
        <span class="d-block" style="min-height: 130px;"></span>
        
        <div class="d-flex align-items-center justify-content-center rounded-circle bg-primary p-3 mb-2" style="width: 45px; height: 45px;">
            <span class="h6 m-0 text-white">{{data.type}}</span>
        </div>

        <div class="diklat-header d-flex flex-column mb-3">
            <span class="subtitle">{{data.jenis}}</span>
            <span class="caption-2 text-hint">{{data.kelompok}}</span>
        </div>

        <hr class="w-100 my-2">

        <div class="diklat-info mb-2">
            <div class="d-flex flex-column justify-content-center">
                <span class="caption"><nb-icon icon="clock-outline"></nb-icon> Registrasi: {{data.startRegistration}} - {{data.endRegistration}}</span>
                <span class="caption"><nb-icon icon="people-outline"></nb-icon> Kuota: {{data.kuota}}</span>
            </div>
        </div>

        <div class="diklat-footer row justify-content-end">
            <div class="col-auto">
                <button nbButton status="primary" size="tiny">Daftar</button>
            </div>
        </div>
    </div>
</ng-template>