<nb-card>
    <nb-card-header>
      <div class="header-title">
        <h6>Pencarian Karya Tulis</h6>
        <span class="caption text-gray">Tabel berikut memuat daftar karya tulis peserta berdasarkan pencarian</span>
      </div>
    </nb-card-header>
    <nb-card-body *ngIf="(userPaper$ | async) as userPaper">
      <!-- {{userPaper | json}} -->
        <ngx-table-filter [table]="table" (output)="filter($event)" [display]="{search: ['nameOrTitle'], date: {}}"></ngx-table-filter>
        <ngx-simple-table #table [column]="['Author', 'Judul Tulisan', 'Tahun', 'Publikasi', 'Keterangan']"
          [response]="userPaper.response"
          [selectedData]="[
            'relationships.employee.attributes.name', 
            'attributes.title', 
            'attributes.year', 
            'attributes.publish_at', 
            'attributes.other_info', 
            'relationships.activity_log.0.attributes.status|statusText',
            'relationships.activity_log|status',
            'id',
            'relationships.attachment.0.attributes|attachment', 
            'relationships.employee.attributes.name', 
          ]" 
          [templateRef]="templateRef" [actionRef]="actionRef"></ngx-simple-table>

          <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Status'">
              <stat-btn [data]="row.status" [defaultStat]="'belum diverifikasi'"></stat-btn>
            </span>
            <span *ngIf="col == 'Tahun'">
                {{row.year | date:'mediumDate'}}
            </span>
            <span *ngIf="col != 'Tahun' && col != 'Status'">
                {{row | o2value:i}}
            </span>
          </ng-template>
          <ng-template #actionRef let-row>
            <div class="d-flex">
              <a class="mr-2" nbButton status="primary" size="tiny" [href]="storageUrl+row.attachment?.path" target="_blank" nbTooltip="Upload Sertifikat">
                <nb-icon icon="eye-outline"></nb-icon> 
                View
              </a>
    
              <!-- <button size="tiny" *ngIf="({user_paper: ['verifier']} | role) && row.statusText != 'diterima'" nbButton ghost [nbContextMenu]="[
                {title: 'View', icon: 'eye-outline', url: storageUrl+row.attachment?.path, target: '_blank'},
                ({user_paper: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
                ({user_paper: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
                ({user_paper: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row}
              ] | set:null" [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
              </button> -->
            </div>
          </ng-template>
    </nb-card-body>
</nb-card>