<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Daftar Kuisioner</h6>
        <!-- <span class="caption">Tabel berikut memuat daftar permintaan izin belajar oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</span> -->
      </div>
      <div class="col-auto">
        <button nbButton status="primary" *ngIf="{questionnaire: ['create']} | role" (click)="addQuestionnaire()">
          <nb-icon icon="file-add-outline"></nb-icon>
          Buat Kuisioner
        </button>
      </div>
    </nb-card-header>
    
    <nb-card-body *ngIf="(questionnaire$ | async) as questionnaire">
      <!-- {{questionnaire | json}} -->
      <ngx-table-filter [table]="table" [print]="['type','name','periode','platform','url','email']"></ngx-table-filter>
      <ngx-simple-table #table [column]="['Jenis Kuisioner', 'Nama Diklat', 'Angkatan Ke', 'Platform','Link','Email']"
        [response]="questionnaire" 
        [selectedData]="[
          'attributes.type', 
          'relationships.training_schedule.relationships.training.attributes.name', 
          'relationships.training_schedule.attributes.periode', 
          'attributes.platform', 
          'attributes.url', 
          'attributes.email', 
          'id'
        ]"
        [templateRef]="templateRef"
        [actionRef]="actionRef"
        (delete)="OnDelete($event)"
        (edit)="OnEdit($event)"
      ></ngx-simple-table>

      <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[
                {title: 'Ke Kuisioner', icon: 'globe-outline', url: 'https://'+row.url, target: '_blank'},
                ({questionnaire: ['update']} | role) && {title: 'Edit', icon: 'edit-outline', data: row.id},
                ({questionnaire: ['delete']} | role) && {title: 'Delete', icon: 'trash-outline', data: row.id}
            ] | set:null" [nbContextMenuTag]="tag">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
      </ng-template>

      <ng-template #templateRef let-row let-col="col" let-i="index">
        <span *ngIf="col == 'Jenis Kuisioner'">
          <button nbButton size="tiny" [status]="
            row.type == 'teacher' ? 'info' : 'danger'
          ">{{(row | o2value:i) == 'teacher' ? 'Pengajar' : 'Penyelenggara'}}</button>
        </span>
        <span *ngIf="col != 'Jenis Kuisioner'">
          {{row | o2value:i}}
        </span>
      </ng-template>
    </nb-card-body>
  </nb-card>