<nb-card>
    <nb-card-header>
        <div class="row justify-content-between">
            <div class=" col-auto d-flex align-items-center">
                <button [routerLink]="['../']" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
                <div class="col-auto">
                    <h6>Pengaturan Registrasi Peserta Diklat</h6>
                    <span class="caption">Tabel yang memuat seluruh calon peserta yang mengajukan mengikuti diklat</span>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-table-filter [table]="table"></ngx-table-filter>
        <ngx-simple-table #table
            [column]="['Nama', 'NIP', 'Jabatan', 'Unit Kerja', 'Status']"
            [response]="[]"></ngx-simple-table>

            <ng-template #actionRef let-row>
                <button nbButton ghost [nbContextMenu]="[{title: 'Unduh', icon: 'edit-outline', link: './pages/diklat/kalender/create-update'},
                    {title: 'Diterima', icon: 'plus-outline', link: './pages/diklat/kalender/kbm'},
                    {title: 'Ditolak', icon: 'close-outline', link: './pages/diklat/kalender/file-materi'},
                    {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', link: './pages/diklat/kalender/file-materi'},
                    {title: 'Delete', icon: 'trash-outline'}
                ]" [nbContextMenuTag]="tag">
                  <nb-icon icon="more-horizontal-outline"></nb-icon>
                </button>
            </ng-template>
    </nb-card-body>
</nb-card>