<div [nbSpinner]="loading" class="container my-3" *ngIf="(pesan$ | async) as pesan">
  <!-- {{ pesan | json }} -->
  <ngx-simple-table [column]="['Dari','Subjek','Tanggal']"
    [data]="pesan ?? [] | simply:['attributes.from', 'attributes.subject','attributes.created_at', 'attributes|message', 'id']"
    [actionRef]="actionRef"
  ></ngx-simple-table>
  <ng-template #actionRef let-row ngx-datatable-cell-template>
    <button nbButton ghost [nbContextMenu]="[
    {title: 'Baca', icon: 'book-open-outline', data: row.message},
    {title: 'Archive', icon: 'archive-outline', data: row.id},
    {title: 'Delete', icon: 'trash-2-outline', data: row.id},
    ]" [nbContextMenuTag]="tag">
      <nb-icon icon="more-horizontal-outline"></nb-icon>
    </button>
  </ng-template>
</div>