<nb-card class="position-relative overflow-hidden" style="min-height: 350px;">
    <div class="bg-primary d-flex align-items-center justify-content-center position-absolute" 
        style="left: 0; top: 0;width: 100%; min-height: 170px;"
        [ngStyle]="{
            'backgroundImage': data?.attributes?.banner ? 'url('+ data?.attributes?.banner +')' : 'url(./assets/images/logo.png)',
            'backgroundPosition': 'center',
            'backgroundSize': data?.attributes?.banner ? 'auto' : 'contain',
            'backgroundRepeat': 'no-repeat'
        }"
        >
        <!-- <img [src]="data?.attributes?.banner ?? './assets/images/logo.png'" alt="background-diklat" width="100%"> -->
    </div>
    <nb-card-body class="p-3">
        <ng-container
            [ngTemplateOutlet]="cardData"
            [ngTemplateOutletContext]="{$implicit: data}"></ng-container>
    </nb-card-body>
</nb-card>

<ng-template #cardData let-data>
    <div class="d-flex flex-column position-relative" style="z-index: 10;">
        <!-- [status]="data.relationships.activity_log?.length > 0 && data.relationships.activity_log[0].attributes.status == 'diterima' ? '' : ''" -->
        <button nbButton size="tiny" class="position-absolute" style="right: 0;">
            {{data.attributes.category+' | '+(data.attributes.registration_status ?? 'open')}}
            <nb-icon *ngIf="data.relationships?.activity_log?.length > 0 && data.relationships?.activity_log[0].attributes?.status == 'diterima'" status="success" icon="checkmark-circle-outline"></nb-icon>
        </button>
        <span class="d-block" style="min-height: 160px;"></span>
        
        <!-- <div class="d-flex align-items-center justify-content-center rounded-circle bg-dark p-3 mb-2" style="width: 45px; height: 45px;">
            <span class="h6 m-0 text-light">{{data.type}}</span>
        </div> -->

        <div class="diklat-header d-flex flex-column mb-3">
            <span class="subtitle">{{data.relationships?.training_periode?.relationships?.training?.attributes?.name ?? data.attributes.name}}</span>
            <span class="caption-2 text-hint">{{data.relationships?.training_periode?.relationships?.training?.attributes?.group_name ?? ''}}</span>
        </div>

        <div class="diklat-info mb-2 col-12">
            <div class="d-flex flex-column justify-content-center">
                <span class="caption row"><nb-icon icon="clock-outline"></nb-icon> <span class="col-4">Mulai Tgl.</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.attributes.start_date | date}}</p></span>
                <span class="caption row"><nb-icon icon="briefcase-outline"></nb-icon> <span class="col-4">Durasi</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.attributes.duration}} hari</p></span>
                <span class="caption row" *ngIf="data.attributes.category == 'internal'"><nb-icon icon="clock-outline"></nb-icon> <span class="col-4">Registrasi</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.attributes.start_registration | date}} - {{data.attributes.end_registration | date}}</p></span>
                <span class="caption row"><nb-icon icon="pin-outline"></nb-icon> <span class="col-4">Lokasi</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.attributes.location}}</p></span>
                <span class="caption row" *ngIf="data.attributes.category == 'internal'"><nb-icon icon="people-outline"></nb-icon> <span class="col-4">Kuota</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.attributes.quota}}</p></span>
                <!-- <span class="caption row"><nb-icon icon="paper-plane-outline"></nb-icon> <span class="col-4">Dilaksana</span>:&nbsp; <p class="col px-1 mb-1 caption-2">{{data.start_date | date:long}}</p></span> -->

                <hr class="w-100 my-1">

                <div class="row my-1" *ngIf="data.attributes.category == 'internal'">
                    <span class="caption col-12 p-0">Persyaratan:</span>
                    <p class="col-12 caption-2 p-0 mb-1">{{data.attributes.requirement}}</p>
                </div>
                <div class="row my-1">
                    <span class="caption col-12 p-0">Tujuan:</span>
                    <p class="col-12 caption-2 p-0 mb-1">{{data.attributes.purpose}}</p>
                </div>
                <!-- <div class="row my-1">
                    <span class="caption col-12 p-0">Keterangan:</span>
                    <p class="col-12 caption-2 p-0 mb-1">{{data.attributes.info}}</p>
                </div> -->
            </div>
        </div>

        <div class="diklat-footer row justify-content-end">
            <div class="col-auto">
                <button *ngIf="!({training_schedule: ['update']} | role)" nbButton [disabled]="loading" [nbSpinner]="loading" status="primary" size="tiny" (click)="Register(data)">Daftar</button>
                <button *ngIf="{training_schedule: ['update']} | role" nbButton [disabled]="loading" [nbSpinner]="loading" status="primary" size="tiny" 
                    [nbContextMenu]="[
                        {title: 'Daftar', icon: 'person-done-outline', data},
                        ({training_schedule: ['update']} | role) && (!data.relationships.activity_log.length || data.relationships.activity_log[0].attributes.status != 'diterima') && {title: 'Edit', icon: 'edit-outline', link: '/pages/diklat/kalender/update/'+data?.id+'/type/'+data.attributes.category},
                        ({training_schedule: ['update']} | role) && {title: 'Pengaturan Peserta Diklat', icon: 'settings-outline', link: '/pages/diklat/kalender/rekap-peserta/'+data.id},
                        ({training_schedule: ['delete']} | role) && {title: 'Delete', icon: 'trash-outline', data: data.id}
                    ] | set:null" [nbContextMenuTag]="tag">
                    <nb-icon icon="settings-outline"></nb-icon> Pengaturan</button>
                    <!-- {title: 'Rekap Peserta', icon: 'people-outline', link: '/pages/diklat/pengaturan/pengaturan-angkatan/'+data.relationships?.training_periode?.relationships?.training.id+'/pengaturan-peserta/'+data.relationships?.training_periode?.id, roles: [{training_schedule: ['update']}]}, -->
            </div>
        </div>
    </div>
</ng-template>