<nb-card *ngIf="(diklat$| async) as diklat" [nbSpinner]="!diklat">
    <nb-card-header class="row justify-content-between">
      <div class="header-title col-auto">
        <h6>Pengaturan Diklat</h6>
        <span class="caption text-gray">Tabel berikut menampilkan jenis-jenis diklat</span>
      </div>
      <div class="col-auto">
        <button [routerLink]="['../pengaturan/create-update']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Diklat</button>
      </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-table-filter [table]="table" [print]="['name', 'jenis_name', 'rumpun_name']" [display]="{search:['name']}" (output)="filter($event)"></ngx-table-filter>
        <ngx-simple-table #table
            [column]="['Nama Diklat', 'Kelompok Diklat', 'Rumpun']"
            [response]="diklat" 
            [selectedData]="['attributes.name', 'attributes.jenis_name', 'attributes.rumpun_name', 'id']"
            [actionRef]="actionRef"
            (page)="setPage($event)"></ngx-simple-table>

            <ng-template #actionRef let-row>
              <!-- {title: 'Pengaturan Registrasi Diklat', icon: 'people-outline', link: '/pages/diklat/pengaturan/registrasi-diklat/'+row.id}, -->
              <button nbButton ghost [nbContextMenu]="[
                  {title: 'Edit', icon: 'edit-outline', data: row.id},
                  {title: 'Pengaturan Angkatan', icon: 'calendar-outline', link: '/pages/diklat/pengaturan/pengaturan-angkatan/'+row.id},
                  {title: 'Pengaturan Mata Diklat', icon: 'book-outline', link: '/pages/diklat/pengaturan/mata-diklat/'+row.id},
                  {title: 'Delete', icon: 'trash-outline', data: row.id}
              ]" [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
              </button>
          </ng-template>
    </nb-card-body>
</nb-card>