<nb-card>
    <nb-card-header>
        <div class="row justify-content-between">
            <div class="col-auto">
                <h6>Jadwal Rencana Kegiatan Kediklatan {{year}}</h6>
                <p class="caption">Halaman kalender yang menampilkan informasi diklat yang akan dilaksanakan</p>
            </div>
            <div class="col-auto">
                <button nbButton status="primary" [routerLink]="['./create', 'internal']" class="mr-2">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                    Diklat Internal
                </button>
                <button nbButton status="danger" [routerLink]="['./create', 'eksternal']">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                    Diklat Eksternal
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row mb-3">
            <div class="col-12">
                <nb-form-field>
                    <input nbInput
                        fullWidth
                        name="search"
                        type="text"
                        placeholder="Cari diklat"
                        [(ngModel)]="search"
                        fieldSize="medium">
                    <nb-icon nbSuffix icon="search-outline"></nb-icon> 
                </nb-form-field>
            </div>
        </div>

        <div class="row" *ngIf="(schedule$ | async) as schedule">
            <div class="col-md-4 col-sm-12" *ngFor="let d of schedule.response.data | filter:['relationships.training.attributes.group_name:'+search,'relationships.training.attributes.name:'+search,'attributes.name:'+search]:true:'OR'">
                <diklat-card [editing]="true" [data]="d"></diklat-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>