<ng-template #loading>
    <span class="position-absolute w-100 h-100" [nbSpinner]="true"></span>
</ng-template>

<nb-card class="position-relative" *ngIf="(simpegData$ | async) as simpeg">
    <nb-card-header>
        <div class="row justify-content-between">
            <div class="col-auto">
                <h6>Profil Saya</h6>
            </div>
            <!-- <div class="col-auto">
                <button nbButton status="primary" (click)="matchingSimpeg()">
                    <nb-icon icon="sync-outline"></nb-icon>
                    Sync SIMPEG
                </button>
            </div> -->
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(biodata$ | async) as biodata">
        <!-- {{biodata | json}} -->
        <ng-container [ngTemplateOutlet]="userProfile"
            [ngTemplateOutletContext]="{$implicit: biodata, simpeg}"></ng-container>

        <nb-card accent="primary">
            <nb-card-body>
                <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>

<ng-template #userProfile let-biodata let-simpeg="simpeg">
    <div class="row mb-3">
        <div class="col-md-3 col-sm-12 d-flex flex-column justify-content-start mb-3">
            <img class="rounded" [src]="(file.file$ | async)?.filePath ?? 
                biodata?.attributes?.avatar ?? './assets/images/undefined-photo.jpeg'" width="100%" alt="photo undefined"/>
            <span class="d-block text-center" style="margin: -15px 0;">
                <upload-button #file icon="edit-outline" text="Ganti Photo" (change)="changeAvatar($event)" status="primary" size="tiny"></upload-button>
            </span>
        </div>
        <div class="col">
            <table class="table table-small">
                <tr *ngFor="let row of [
                    ['Nama', simpeg.nama ?? biodata?.attributes?.nama],
                    ['NIP', simpeg.nip ?? biodata?.attributes?.nip], 
                    ['Jabatan', simpeg.jabatan ?? biodata?.attributes?.jabatan], 
                    ['Unit Kerja', biodata?.attributes?.unit_organisasi],
                    ['JP', biodata?.attributes?.totalJP ?? 0], 
                ]">
                    <td><span class="text-basic"><strong>{{row[0]}}</strong></span></td>
                    <td>:</td>
                    <td><span class="text-basic">{{row[1]}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</ng-template>