<div class="my-3">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" NgNativeValidate>
        <div class="row form-control-group d-flex align-items-start">
            <label class="label col-sm-12 col-md-3" for="input-password" style="font-size: .9rem;">Password Lama</label>
            <nb-form-field class="col">
                <input class="mb-2" nbInput
                    fullWidth
                    name="old_password"
                    type="password"
                    autocomplete="off"
                    id="old_password"
                    ngModel #old_password="ngModel"
                    fieldSize="medium">
                <ng-container *ngIf="old_password.invalid && old_password.touched">
                    <p class="caption status-danger" *ngIf="old_password.errors?.required">
                        Password is required!
                    </p>
                    <!-- <p class="caption status-danger" *ngIf="old_password.errors?.pattern">
                        Password must contain at least one number, one uppercase, one symbol and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </p> -->
                </ng-container>
            </nb-form-field>
        </div>

        <div class="row form-control-group d-flex align-items-start">
            <label class="label col-sm-12 col-md-3" for="input-password" style="font-size: .9rem;">Password Baru</label>
            <nb-form-field class="col">
                <input class="mb-2" nbInput
                    fullWidth
                    name="new_password"
                    type="password"
                    autocomplete="off"
                    id="new_password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&^_-]).{8,}"
                    ngModel #new_password="ngModel"
                    fieldSize="medium">
                <ng-container *ngIf="new_password.invalid && new_password.touched">
                    <p class="caption status-danger" *ngIf="new_password.errors?.required">
                        Password is required!
                    </p>
                    <p class="caption status-danger" *ngIf="new_password.errors?.pattern">
                        Password must contain at least one number, one uppercase, one symbol and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </p>
                </ng-container>
            </nb-form-field>
        </div>
        
        <div class="row form-control-group d-flex align-items-start">
            <label class="label col-sm-12 col-md-3" for="konfirmasi" style="font-size: .9rem;">Konfirmasi Password</label>
            <nb-form-field class="col">
                <input class="mb-2" nbInput
                    fullWidth
                    ngModel #confirm="ngModel"
                    name="confirm"
                    type="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&^_-]).{8,}"
                    [status]="confirm.touched
                        ? (confirm.invalid || f.value.new_password.value != f.value.confirm.value ? 'danger' : 'success')
                        : 'basic'"
                    id="confirm"
                    fieldSize="medium">
                    <!-- {{f.value.password}}
                    {{f.invalid}} -->
                <ng-container *ngIf="confirm.touched">
                    <p class="caption status-danger" *ngIf="confirm.errors?.required">
                        Confirm password is required!
                    </p>
                    <div class="caption status-danger" *ngIf="f.value.confirm != f.value.new_password">
                        Passwords did not match
                    </div>
                </ng-container>
            </nb-form-field>
        </div>
        
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button nbButton status="success" type="submit">Ganti Password</button>
            </div>
        </div>
    </form>
</div>