<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Tambah Diklat</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(diklat$ | async) as diklat">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <div class="form-group row mb-3">
                <label for="name" class="label col-form-label col-3">Nama Diklat</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="name"
                        type="text"
                        id="name"
                        [ngModel]="id ? diklat?.attributes?.name : f.value.name" required #name="ngModel"
                        placeholder=""
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="jenis_id" class="label col-form-label col-3">Kelompok Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="jenis_id" fullWidth [ngModel]="id ? diklat?.attributes?.jenis_id : f?.value?.jenis_id" required #jenis_id="ngModel">
                        <nb-option *ngFor="let jenis of (jenisDiklat$ | async)" [value]="jenis.id">{{jenis.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="jenis_id.value == 2" class="form-group row mb-3">
                <label for="jenis_diklat_id" class="label col-form-label col-3">Jenis Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="jenis_diklat_id" fullWidth [ngModel]="id ? schedule?.attributes?.jenis_diklat_id : f?.value?.jenis_diklat_id" required>
                        <nb-option *ngFor="let jenis_diklat of (jenis2Diklat$ | async)" [value]="jenis_diklat.id">{{jenis_diklat.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="rumpun_id" class="label col-form-label col-3">Rumpun</label>
                <div class="col-sm-9">  
                    <nb-select name="rumpun_id" fullWidth [ngModel]="id ? diklat?.attributes?.rumpun_id : f?.value?.rumpun_id" required #rumpun_id="ngModel">
                        <nb-option *ngFor="let rumpun of (rumpun$ | async)" [value]="rumpun.id">{{rumpun.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="explanation" class="label col-form-label col-3">Keterangan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="explanation" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." [ngModel]="id ? diklat?.attributes?.explanation : f.value.explanation" required #explanation="ngModel"></textarea>
                </div>
            </div>
            
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton type="reset" (click)="back()" ghost size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>