<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Tambah Role</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(role$ | async) as role">
        <!-- {{role | json}} -->
        <form #f="ngForm" (ngSubmit)="submit(f, role)" ngNativeValidate>
            <div class="form-control-group d-flex align-items-center">
                <label class="label col-2" for="name" style="font-size: .9rem;">Nama Role</label>
                <nb-form-field class="col-11">
                <input class="mb-2" nbInput
                    fullWidth
                    name="name"
                    type="text"
                    id="name"
                    [ngModel]="role?.attributes?.name" required #name="ngModel"
                    placeholder="Input name"
                    fieldSize="medium">
                </nb-form-field>
            </div>
            <div class="form-control-group d-flex align-items-center">
                <label class="label col-2" for="description" style="font-size: .9rem;">Deskripsi</label>
                <nb-form-field class="col-11">
                <input class="mb-2" nbInput
                    fullWidth
                    name="description"
                    [ngModel]="role?.attributes?.description" required #description="ngModel"
                    type="text"
                    id="description"
                    placeholder="Input deskripsi"
                    fieldSize="medium">
                </nb-form-field>
            </div>

            <div class="permission mt-5 overflow-auto">
                <h6>User Permissions</h6>

                <div style="min-width: 500px" *ngIf="(permissions$ | async) as permissions">
                        <ngx-datatable 
                            [class]="'bootstrap'" 
                            [rows]="permissions ?? []" 
                            [count]="permissions.length"
                            columnMode="force"
                            default>
                            <ngx-datatable-column [name]="'Menu Akses'" prop="description" [width]= 300></ngx-datatable-column>
                            <ngx-datatable-column [name]="'Create'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.create ?? false" (change)="updatePermission($event, 'create', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="'Read Only'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.read ?? false" (change)="updatePermission($event, 'read', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="'Update'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.update ?? false" (change)="updatePermission($event, 'update', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="'Delete'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.delete ?? false" (change)="updatePermission($event, 'delete', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="'Verifier'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.verifier ?? false" (change)="updatePermission($event, 'verifier', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="'Print'">
                                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <nb-checkbox [checked]="permission && permission[row.name]?.print ?? false" (change)="updatePermission($event, 'print', row.name)"></nb-checkbox>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                </div>
                
                <div style="text-align: end;">
                    <button class="mt-5" nbButton status="primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

<swal
  #successSwal
  title="Berhasil"
  text="data telah disimpan"
  icon="success">
</swal>