<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Tambah Jadwal Pengajar</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(tschedule$ | async) as tschedule">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>

            <input type="hidden" name="training_schedule_id" [ngModel]="scheduleId">

            <nb-radio-group name="type" class="d-flex mb-3" [ngModel]="id ? tschedule.response.data && tschedule.response.data[0]?.attributes?.type : (f?.value?.type ?? 'General')" required #type="ngModel">
                <nb-radio value="General">Umum</nb-radio>
                <nb-radio value="Specific">Khusus</nb-radio>
            </nb-radio-group>
            
            <div class="row mb-2">

                <label for="start_date" class="label col-sm-12 col-md-3">Tanggal Mengajar
                    <nb-form-field>
                        <input id="start_date" autocomplete="off" name="start_date" nbInput fullWidth [nbDatepicker]="tglMengajarPicker" [ngModel]="id ? (tschedule.response.data && tschedule.response.data[0]?.attributes?.start_date | dns) : f?.value?.start_date" required #start_date="ngModel">
                        <nb-datepicker #tglMengajarPicker></nb-datepicker>
                        <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                    </nb-form-field>
                </label>
        
                <label for="jamMulai" class="label col-sm-12 col-md-3">Jam Mulai
                    <nb-form-field>
                        <input nbInput name="start_time"
                            type="text" autocomplete="off"
                            [nbTimepicker]="startTimepicker" [ngModel]="id ? (tschedule.response.data && tschedule.response.data[0]?.attributes?.start_time | dns) : f?.value?.start_time" required #start_time="ngModel"/>
                        <nb-timepicker singleColumn #startTimepicker></nb-timepicker>
                        <nb-icon nbSuffix icon="clock-outline"></nb-icon> 
                    </nb-form-field>
                </label>
        
                <label for="end_time" class="label col-sm-12 col-md-3">Jam Selesai
                    <nb-form-field>
                        <input id="end_time" autocomplete="off" name="end_time" nbInput fullWidth [nbTimepicker]="jamSelesaiPicker" [ngModel]="id ? (tschedule.response.data && tschedule.response?.data[0]?.attributes?.end_time | dns) : f?.value?.end_time" required #end_time="ngModel">
                        <nb-timepicker singleColumn #jamSelesaiPicker></nb-timepicker>
                        <nb-icon nbSuffix icon="clock-outline"></nb-icon> 
                    </nb-form-field>
                </label>

                <span class="text-basic d-flex justify-content-center align-items-center col-sm-12 col-md-3">{{id ? ([tschedule.response.data && tschedule.response.data[0]?.attributes?.end_time, tschedule.response.data && tschedule.response.data[0]?.attributes?.start_time] | moment:'diff') : (total_minutes$ | async)}} menit</span>
                
                <label for="teaching_material_id" class="label col-md-6 col-sm-12">Materi
                    <!-- {{tschedule.response.data && tschedule.response.data[0].relationships.teaching_material | json}} -->
                    <nb-select name="teaching_material_id" fullWidth [ngModel]="id ? 
                        (tschedule.response.data && 
                        tschedule.response.data[0]?.relationships.teaching_material && 
                        tschedule.response.data[0]?.relationships.teaching_material[0].id) : f?.value?.materi" #teaching_material_id="ngModel">
                        <nb-option 
                            *ngFor="let materi of (fileMateri$ | async)" 
                            [value]="materi.id">{{materi.attributes.info}}</nb-option>
                    </nb-select>
                </label>

                <label for="teacher" class="label col-md-6 col-sm-12">Pengajar
                    <input nbInput
                        fullWidth
                        name="teacher"
                        type="text"
                        id="teacher"
                        [ngModel]="id ? tschedule.response.data && tschedule.response.data[0]?.attributes?.teacher : f?.value?.teacher" required #teacher="ngModel"
                        placeholder="Nama Pengajar"
                        fieldSize="medium">
                    <!-- <nb-select name="pengajar" selected="1" fullWidth ngModel required #pengajar="ngModel">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                    </nb-select> -->
                </label>
        
                <label for="assitant" class="label col-12">Asisten Pengajar
                    <input nbInput
                        fullWidth
                        name="assistant"
                        type="text"
                        id="assistant"
                        [ngModel]="id ? tschedule.response.data && tschedule.response.data[0]?.attributes?.assistant : f?.value?.assistan" #assistant="ngModel"
                        placeholder="Nama Asisten Pengajar"
                        fieldSize="medium">
                </label>
        
                <label for="info" class="label col-12">Keterangan
                    <input nbInput
                            fullWidth
                            name="info"
                            type="text"
                            id="info"
                            [ngModel]="id ? tschedule.response.data && tschedule.response.data[0]?.attributes?.info : f?.value?.info" required #info="ngModel"
                            placeholder=""
                            fieldSize="medium">
                </label>

                <!-- <nb-checkbox class="col-12" status="primary">Kirim email konfirmasi ke pengajar</nb-checkbox> -->
                
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton type="reset" (click)="back()" ghost size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>