<nb-card *ngFor="let d of detail">
    <nb-card-header class="d-flex">
        <button [routerLink]="['../']" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <div>
            <img src="./assets/images/logo.png" alt="logo" width="40"> &nbsp;
            <span>{{ d.title }}</span>
        </div>
    </nb-card-header>
    <nb-card-body>

        <div class="row">
            
                <div class="col-12 mb-3">
                    <th class="col-3">Kelompok Diklat</th>
                    <td>:</td>
                    <td class="col-9">{{ d.kelompok }}</td>
                </div>
                <div class="col-12 mb-3">
                    <th class="col-3">Lokasi</th>
                    <td>:</td>
                    <td class="col-9">{{ d.lokasi }}</td>
                </div>
                <div class="col-12 mb-3">
                    <th class="col-3">Jadwal Mulai Diklat</th>
                    <td>:</td>
                    <td class="col-9">{{ d.mulai }}</td>
                </div>
                <div class="col-12">
                    <th class="col-3">Jadwal Selesai Diklat</th>
                    <td>:</td>
                    <td class="col-9">{{ d.selesai }}</td>
                </div>

        </div>

    </nb-card-body>

    <nb-card-footer class="text-center">
        <div>
            <span>Status Anda: </span>
            <strong>{{ d.statusFooter }}</strong>
        </div>
        <div class="mb-5">
            <span>Dengan Catatan: </span>
        </div>

        <button nbButton status="primary">
            <nb-icon [icon]="
            hasUpload ? 'cloud-download-outline' : 'cloud-upload-outline'
            "></nb-icon>Sertifikat</button>
    </nb-card-footer>
</nb-card>