<nb-card>
    <nb-card-header>
      <div class="header-title">
        <h6>Pencarian Peserta Diklat</h6>
        <span class="caption text-gray">Tabel berikut memuat daftar peserta berdasarkan pencarian</span>
      </div>
    </nb-card-header>
    <nb-card-body *ngIf="(participants$ | async) as participants" [nbSpinner]="participants.loading">
      <!-- {{participants | json}} -->
        <ngx-table-filter [table]="table" [display]="{search: ['nameOrNip'], date: {}}"></ngx-table-filter>
        <ngx-simple-table #table [column]="['Nama Peserta', 'Nama Diklat', 'Angkatan',  'Waktu Pelaksanaan', 'Kualifikasi']"
          [response]="participants.response"
          [selectedData]="[
            'relationships.employee.attributes.name',
            'relationships.training_schedule.attributes.name|diklatName',
            'relationships.training_schedule.attributes.periode',
            'relationships.training_schedule.attributes.start_date',
            'relationships.activity_log|status',
            'id'
          ]" 
          [templateRef]="templateRef" [actionRef]="actionRef"></ngx-simple-table>
          <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Kualifikasi'">
              <stat-btn [data]="row.status"></stat-btn>
            </span>
            <span *ngIf="col != 'Kualifikasi'">
              {{row | o2value:i}}
            </span>
          </ng-template>
          <ng-template #actionRef let-row>
            <div class="d-flex">
              <a class="mr-2" nbButton status="primary" size="tiny">
                <nb-icon icon="person-outline"></nb-icon> 
                Profil
              </a>
    
              <button size="tiny" *ngIf="({participant: ['verifier']} | role) && row.statusText != 'diterima'" nbButton ghost [nbContextMenu]="[
                {title: 'Profile', icon: 'person-outline', url: storageUrl+row.attachment?.path},
                ({participant: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
                ({participant: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
                ({participant: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row}
              ] | set:null" [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
              </button>
            </div>
          </ng-template>
    </nb-card-body>
</nb-card>