<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button nbButton ghost (click)="back()"><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Pilih Mata Diklat</h6>
    </nb-card-header>
    <nb-card-body *ngIf="((diklat$ | async).response.data && (diklat$ | async).response.data[0]) as diklat">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <input name="training_id" type="hidden" [ngModel]="diklat?.id" #training_id="ngModel">

            <div class="form-group row mb-3">
                <label for="diklat" class="label col-form-label col-4">Diklat</label>
                <div class="col-sm-8">
                    <input class="col" nbInput
                        fullWidth
                        name="name"
                        type="text"
                        id="name"
                        [value]="diklat?.attributes?.name"
                        placeholder=""
                        readonly
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="mata_diklat" class="label col-form-label col-4">Mata Diklat</label>
                <div class="col-sm-8" *ngIf="(subjects$ | async) as subjects">
                    <!-- {{selectedSubjectName}} -->
                    <!-- {{subjects | json}} -->
                    <nb-tag-list (tagRemove)="onTagRemove($event)">
                        <nb-tag *ngFor="let subject of selectedSubjectName ?? []" [text]="subject" removable></nb-tag>
                        <input #autoInput
                            nbTagInput
                            type="text"
                            placeholder="Pilih Mata Diklat"
                            fullWidth
                            [nbAutocomplete]="auto" />
                        <nb-autocomplete #auto (selectedChange)="onTagAdd($event)">
                            <nb-option *ngFor="let option of (subjects.response.data | filter:['attributes.name:'+selectedSubjectName.join('.')]:false)" [value]="option">
                              {{ option?.attributes?.name }}
                            </nb-option>
                        </nb-autocomplete>
                    </nb-tag-list>
                </div>
            </div>            
        </form>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
        <button class="mr-2" nbButton status="primary" size="small" (click)="onSubmit()"> <nb-icon icon="save-outline"></nb-icon> Simpan</button>
    </nb-card-footer>
</nb-card>