<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button routerLink="/pages/diklat/diklat-internal/index" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Tambah Kalender Diklat Tahun {{currentYear}}</h6>
    </nb-card-header>
    <nb-card-body>
        <!-- <div #pegawai class="d-flex">
            <div class="general-info col-8"> 
                <div class="d-flex align-items-baseline">
                    <h6>Detail Diklat</h6>&nbsp;
                    <p class="text-primary p-1" style="background-color: #F4F8FF; font-size: .8rem;">Disetujui</p>
                </div>
                <div>
                    <div class="form-control-group d-flex align-items-center">
                        <label class="label col-3" for="input-name" style="font-size: .9rem;">Nama Diklat</label>
                        <nb-form-field class="col-10">
                        <input class="mb-2" nbInput
                            fullWidth
                            name="password"
                            type="text"
                            id="input-name"
                            placeholder=""
                            fieldSize="medium">
                        </nb-form-field>
                    </div>
                    <div class="form-control-group d-flex align-items-center">
                        <label class="label col-3" for="tanggal" style="font-size: .9rem;">Tanggal Pelaksanaan</label>
                        <nb-form-field class="col-10">
                        <input class="mb-2" nbInput
                            fullWidth
                            name="password"
                            type="date"
                            id="tanggal"
                            placeholder="Masukkan tanggal"
                            fieldSize="medium">
                        </nb-form-field>
                    </div>
                    <div class="form-control-group d-flex align-items-center">
                        <label class="label col-3" for="input-name" style="font-size: .9rem;">Tempat Pelaksanaan</label>
                        <nb-form-field class="col-10">
                        <input class="mb-2" nbInput
                            fullWidth
                            name="password"
                            type="text"
                            id="input-name"
                            placeholder=""
                            fieldSize="medium">
                        </nb-form-field>
                    </div>
                </div>
                
            </div>

            <div class="link-document col-4">
                <h6>Dokumen Pendukung</h6>
                <button class="p-0 mb-2" nbButton ghost>
                    <nb-icon class="mr-2" icon="link-2-outline"></nb-icon> 
                    <a routerLink="">Download surat tugas</a> <br>
                </button>
                <button class="p-0" nbButton ghost>
                    <nb-icon class="" icon="link-2"></nb-icon>
                    <a routerLink="/pages/izin-belajar/detail">Download sertifikat</a>
                </button>
            </div>
        </div> -->


        <div #penyelenggara class="d-flex" hidden>
            <div class="general-info col-12">
                <span class="d-block subtitle mb-4">Isilah Field-Field yang Tersedia Di Bawah ini dengan Benar</span>
                <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate>
                    <div class="form-group row mb-3">
                        <label for="kelompok" class="label col-form-label col-3">Kelompok Diklat</label>
                        <div class="col-sm-9">
                            <nb-select name="kelompok" selected="1" fullWidth ngModel required #kelompok="ngModel">
                                <nb-option value="1">Option 1</nb-option>
                                <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="jenis" class="label col-form-label col-3">Jenis Diklat</label>
                        <div class="col-sm-9">
                            <nb-select name="jenis" selected="1" fullWidth ngModel required #kelompok="ngModel">
                                <nb-option value="1">Option 1</nb-option>
                                <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="angkatan_ke" class="label col-form-label col-3">Angkatan Ke</label>
                        <div class="col-sm-9">
                            <input class="col" nbInput
                                    fullWidth
                                    name="angkatan_ke"
                                    type="number"
                                    id="angkatan_ke"
                                    ngModel required #angkatan_ke="ngModel"
                                    placeholder="10"
                                    fieldSize="medium">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="jumlah_peserta" class="label col-form-label col-3">Jumlah Peserta</label>
                        <div class="col-sm-9">
                            <input class="col" nbInput
                                    fullWidth
                                    name="jumlah_peserta"
                                    type="number"
                                    id="jumlah_peserta"
                                    ngModel required #jumlahPeserta="ngModel"
                                    placeholder="10"
                                    fieldSize="medium">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="durasi" class="label col-form-label col-3">Durasi Hari</label>
                        <div class="col-sm-9">
                            <input class="col" nbInput
                                    fullWidth
                                    name="durasi"
                                    type="number"
                                    id="durasi"
                                    ngModel required #durasi="ngModel"
                                    min="1"
                                    placeholder="1"
                                    fieldSize="medium">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="waktu" class="label col-form-label col-3">Waktu Pelaksanaan</label>
                        <div class="col-sm-9">
                            <input id="waktu" name="waktu" nbInput fullWidth placeholder="" [nbDatepicker]="rangepicker" ngModel required #waktu="ngModel">
                            <nb-rangepicker #rangepicker></nb-rangepicker>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="lokasi" class="label col-form-label col-3">Lokasi Pelaksanaan</label>
                        <div class="col-sm-9">
                            <nb-select name="lokasi" selected="1" fullWidth ngModel required #lokasi="ngModel">
                                <nb-option value="1">Option 1</nb-option>
                                <nb-option value="2">Option 2</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="tujuan" class="label col-form-label col-3">Tujuan</label>
                        <div class="col-sm-9">
                            <textarea rows="5" name="tujuan" nbInput fullWidth placeholder="Tujuan dilaksanakannya diklat" ngModel required #tujuan="ngModel"></textarea>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="syarat" class="label col-form-label col-3">Persyaratan</label>
                        <div class="col-sm-9">
                            <textarea rows="5" name="syarat" nbInput fullWidth placeholder="Syarat mengikuti diklat" ngModel required #syarat="ngModel"></textarea>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="waktu" class="label col-form-label col-3">Mulai Registrasi</label>
                        <div class="col-sm-9">
                            <input id="waktu" name="mulai" nbInput fullWidth placeholder="Mulai Registrasi" [nbDatepicker]="tanggalMulai" ngModel required #waktu="ngModel">
                            <nb-datepicker #tanggalMulai></nb-datepicker>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="waktu" class="label col-form-label col-3">Selesai Registrasi</label>
                        <div class="col-sm-9">
                            <input id="waktu" name="selesai" nbInput fullWidth placeholder="Selesai Registrasi" [nbDatepicker]="tanggalSelesai" ngModel required #waktu="ngModel">
                            <nb-datepicker #tanggalSelesai></nb-datepicker>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="keterangan" class="label col-form-label col-3">Keterangan</label>
                        <div class="col-sm-9">
                            <textarea rows="5" name="keterangan" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." ngModel required #keterangan="ngModel"></textarea>
                        </div>
                    </div>
                    
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button nbButton ghost size="small" class="mr-2">Batalkan</button>
                            <button nbButton type="submit" size="small" status="primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>