<div class="container my-3" *ngIf="results">
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate>
        <!-- {{result | json}} -->
        <!-- START BIODATA UMUM -->
        <div class="row mb-2">
    
            <label for="nip" class="col-sm-12 col-md-12 label">NIP
                <input nbInput
                        fullWidth
                        name="nip"
                        type="text"
                        id="nip"
                        [ngModel]="results?.data?.nip"
                        #nip="ngModel"
                        fieldSize="medium">
            </label>

            <label for="gelar_depan" class="col-sm-12 col-md-2 label">Gelar Depan
                <input nbInput
                        fullWidth
                        name="gelar_depan"
                        type="text"
                        id="gelar_depan"
                        [ngModel]="results?.data?.gelar_depan"
                        #gelar_depan="ngModel"
                        fieldSize="medium">
            </label>

            <label for="nama" class="label col-md-6 col-sm-12">Nama Lengkap
                <input  nbInput
                        fullWidth
                        name="nama"
                        type="text"
                        id="nama"
                        [ngModel]="results?.data?.nama"
                        #nama="ngModel"
                        fieldSize="medium">
            </label>

            <label for="gelar_belakang" class="col-sm-12 col-md-4 label">Gelar Belakang
                <input nbInput
                        fullWidth
                        name="gelar_belakang"
                        type="text"
                        id="gelar_belakang"
                        [ngModel]="results?.data?.gelar_belakang"
                        #gelar_belakang="ngModel"
                        fieldSize="medium">
            </label>

            <label for="tempat_lahir" class="col-sm-12 col-md-4 label">Tempat Lahir
                <input nbInput
                    fullWidth
                    name="tempat_lahir"
                    type="text"
                    id="tempat_lahir"
                    [ngModel]="results?.data?.tempat_lahir"
                    #tempat_lahir="ngModel"
                    fieldSize="medium">
            </label>

            <label for="tanggal_lahir" class="col-sm-12 col-md-4 label">Tanggal Lahir
                <input nbInput
                    fullWidth
                    name="tanggal_lahir"
                    type="text"
                    id="tanggal_lahir"
                    [ngModel]="results?.data?.tanggal_lahir"
                    #tanggal_lahir="ngModel"
                    fieldSize="medium">
            </label>

            <label for="agama" class="col-sm-12 col-md-4 label">Agama
                <input nbInput
                    fullWidth
                    name="agama"
                    type="text"
                    id="agama"
                    [ngModel]="results?.data?.agama?.nama"
                    #agama="ngModel"
                    fieldSize="medium">
            </label>

            <label for="status_kawin" class="col-sm-12 col-md-3 label">Status Kawin
                <input nbInput
                    fullWidth
                    name="status_kawin"
                    type="text"
                    id="status_kawin"
                    [ngModel]="results?.data?.status_kawin?.nama"
                    #status_kawin="ngModel"
                    fieldSize="medium">
            </label>

            <label for="jenis_pegawai" class="col-sm-12 col-md-9 label">Jenis Pegawai
                <input nbInput
                    fullWidth
                    name="jenis_pegawai"
                    type="text"
                    id="jenis_pegawai"
                    [ngModel]="results?.data?.jenis_pegawai?.nama"
                    #jenis_pegawai="ngModel"
                    fieldSize="medium">
            </label>

            <label for="status_pegawai" class="col-sm-12 col-md-6 label">Status Pegawai
                <input nbInput
                    fullWidth
                    name="status_pegawai"
                    type="text"
                    id="status_pegawai"
                    [ngModel]="results?.data?.status_pegawai?.nama"
                    #status_pegawai="ngModel"
                    fieldSize="medium">
            </label>
            
            <label for="kedudukan_pegawai" class="col-sm-12 col-md-6 label">Kedudukan Pegawai
                <input nbInput
                    fullWidth
                    name="kedudukan_pegawai"
                    type="text"
                    id="kedudukan_pegawai"
                    [ngModel]="results?.data?.kedudukan_pegawai?.nama"
                    #kedudukan_pegawai="ngModel"
                    fieldSize="medium">
            </label>

            <label for="track_record" class="col-sm-12 col-md-6 label">Track Record
                <input nbInput
                    fullWidth
                    name="track_record"
                    type="text"
                    id="track_record"
                    [ngModel]="results?.data?.track_record"
                    #track_record="ngModel"
                    fieldSize="medium">
            </label>

            <label for="status_pelimpahan" class="col-sm-12 col-md-6 label">Status Pelimpahan
                <input nbInput
                    fullWidth
                    name="status_pelimpahan"
                    type="text"
                    id="status_pelimpahan"
                    [ngModel]="results?.data?.status_pelimpaha?.length ? results?.data?.status_pelimpahan[0] : results?.data?.status_pelimpahan"
                    #status_pelimpahan="ngModel"
                    fieldSize="medium">
            </label>

            <label for="asal_pelimpahan" class="col-sm-12 col-md-6 label">Asal Pelimpahan
                <input nbInput
                    fullWidth
                    name="asal_pelimpahan"
                    type="text"
                    id="asal_pelimpahan"
                    [ngModel]="results?.data?.asal_pelimpahan"
                    #asal_pelimpahan="ngModel"
                    fieldSize="medium">
            </label>

            <label for="tanggal_pelimpahan" class="col-sm-12 col-md-6 label">Tanggal Pelimpahan
                <input nbInput
                    fullWidth
                    name="tanggal_pelimpahan"
                    type="text"
                    id="tanggal_pelimpahan"
                    [ngModel]="results?.data?.tanggal_pelimpahan"
                    #tanggal_pelimpahan="ngModel"
                    fieldSize="medium">
            </label>

            <label for="tmt_masuk" class="col-sm-12 col-md-6 label">TMT Masuk
                <input nbInput
                    fullWidth
                    name="tmt_masuk"
                    type="text"
                    id="tmt_masuk"
                    [ngModel]="results?.data?.tmt_masuk"
                    #tmt_masuk="ngModel"
                    fieldSize="medium">
            </label>

            <label for="tmt_pensiun" class="col-sm-12 col-md-6 label">TMT Pensiun
                <input nbInput
                    fullWidth
                    name="tmt_pensiun"
                    type="text"
                    id="tmt_pensiun"
                    [ngModel]="results?.data?.tmt_pensiun"
                    #tmt_pensiun="ngModel"
                    fieldSize="medium">
            </label>

            <label for="mk_tahun" class="col-sm-12 col-md-6 label">MK Tahun
                <input nbInput
                    fullWidth
                    name="mk_tahun"
                    type="text"
                    id="mk_tahun"
                    [ngModel]="results?.data?.mk_tahun"
                    #mk_tahun="ngModel"
                    fieldSize="medium">
            </label>

            <label for="mk_bulan" class="col-sm-12 col-md-6 label">MK Bulan
                <input nbInput
                    fullWidth
                    name="mk_bulan"
                    type="text"
                    id="mk_bulan"
                    [ngModel]="results?.data?.mk_bulan"
                    #mk_bulan="ngModel"
                    fieldSize="medium">
            </label>

            <label for="tmt_berhenti" class="col-sm-12 col-md-6 label">TMT Berhenti
                <input nbInput
                    fullWidth
                    name="tmt_berhenti"
                    type="text"
                    id="tmt_berhenti"
                    [ngModel]="results?.data?.tmt_berhenti"
                    #tmt_berhenti="ngModel"
                    fieldSize="medium">
            </label>

            <label for="jenis_pemberhentian" class="col-sm-12 col-md-6 label">Jenis Pemberhentian
                <input nbInput
                    fullWidth
                    name="jenis_pemberhentian"
                    type="text"
                    id="jenis_pemberhentian"
                    [ngModel]="results?.data?.jenis_pemberhentian?.length ? results?.data?.jenis_pemberhentian[0] : results?.data?.jenis_pemberhentian"
                    #jenis_pemberhentian="ngModel"
                    fieldSize="medium">
            </label>

            <label for="is_hak_pensiun" class="col-sm-12 col-md-4 label">Hak Pensiun
                <input nbInput
                    fullWidth
                    name="is_hak_pensiun"
                    type="text"
                    id="is_hak_pensiun"
                    [ngModel]="results?.data?.is_hak_pensiun"
                    #is_hak_pensiun="ngModel"
                    fieldSize="medium">
            </label>

            <label for="jenis_pensiun" class="col-sm-12 col-md-4 label">Jenis Pensiun
                <input nbInput
                    fullWidth
                    name="jenis_pensiun"
                    type="text"
                    id="jenis_pensiun"
                    [ngModel]="results?.data?.jenis_pensiun?.length ? results?.data?.jenis_pensiun[0] : results?.data?.jenis_pensiun"
                    #jenis_pensiun="ngModel"
                    fieldSize="medium">
            </label>

            <label for="is_aktif" class="col-sm-12 col-md-4 label">Aktif
                <input nbInput
                    fullWidth
                    name="is_aktif"
                    type="text"
                    id="is_aktif"
                    [ngModel]="results?.data?.is_aktif"
                    #is_aktif="ngModel"
                    fieldSize="medium">
            </label>

            <label for="handphone_1" class="col-sm-12 col-md-4 label">No. Handphone 1
                <input nbInput
                    fullWidth
                    name="handphone_1"
                    type="text"
                    id="handphone_1"
                    [ngModel]="results?.data?.handphone_1"
                    #handphone_1="ngModel"
                    fieldSize="medium">
            </label>

            <label for="handphone_2" class="col-sm-12 col-md-4 label">No. Handphone 2
                <input nbInput
                    fullWidth
                    name="handphone_2"
                    type="text"
                    id="handphone_2"
                    [ngModel]="results?.data?.handphone_2"
                    #handphone_2="ngModel"
                    fieldSize="medium">
            </label>

            <label for="whatsapp" class="col-sm-12 col-md-4 label">Whatsapp
                <input nbInput
                    fullWidth
                    name="whatsapp"
                    type="text"
                    id="whatsapp"
                    [ngModel]="results?.data?.whatsapp"
                    #whatsapp="ngModel"
                    fieldSize="medium">
            </label>

            <label for="email" class="col-sm-12 col-md-6 label">Email
                <input nbInput
                    fullWidth
                    name="email"
                    type="text"
                    id="email"
                    [ngModel]="results?.data?.email"
                    #email="ngModel"
                    fieldSize="medium">
            </label>

            <label for="email_sidoarjokab" class="col-sm-12 col-md-6 label">Email Kabupaten Sidoarjo
                <input nbInput
                    fullWidth
                    name="email_sidoarjokab"
                    type="text"
                    id="email_sidoarjokab"
                    [ngModel]="results?.data?.email_sidoarjokab"
                    #email_sidoarjokab="ngModel"
                    fieldSize="medium">
            </label>

            <!-- END BIODATA UMUM -->

            <!-- START DATA KTP -->

            <nb-card class="mt-3">
                <nb-card-header>
                    <strong>Alamat Berdasar KTP</strong>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <label for="ktp_provinsi" class="col-sm-12 col-md-6 label">Provinsi
                            <input nbInput
                                fullWidth
                                name="ktp_provinsi"
                                type="text"
                                id="ktp_provinsi"
                                [ngModel]="results?.data?.ktp_provinsi?.length ? results?.data?.ktp_provinsi[0] : results?.data?.ktp_provinsi"
                                #ktp_provinsi="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_kota" class="col-sm-12 col-md-6 label">Kota
                            <input nbInput
                                fullWidth
                                name="ktp_kota"
                                type="text"
                                id="ktp_kota"
                                [ngModel]="results?.data?.ktp_kota?.length ? results?.data?.ktp_kota[0] : results?.data?.ktp_kota"
                                #ktp_kota="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_kecamatan" class="col-sm-12 col-md-5 label">Kecamatan
                            <input nbInput
                                fullWidth
                                name="ktp_kecamatan"
                                type="text"
                                id="ktp_kecamatan"
                                [ngModel]="results?.data?.ktp_kecamatan?.length ? results?.data?.ktp_kecamatan[0] : results?.data?.ktp_kecamatan"
                                #ktp_kecamatan="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_kelurahan" class="col-sm-12 col-md-5 label">Kelurahan
                            <input nbInput
                                fullWidth
                                name="ktp_kelurahan"
                                type="text"
                                id="ktp_kelurahan"
                                [ngModel]="results?.data?.ktp_kelurahan?.length ? results?.data?.ktp_kelurahan[0] : results?.data?.ktp_kelurahan"
                                #ktp_kelurahan="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_kodepos" class="col-sm-12 col-md-2 label">Kode Pos
                            <input nbInput
                                fullWidth
                                name="ktp_kodepos"
                                type="text"
                                id="ktp_kodepos"
                                [ngModel]="results?.data?.ktp_kodepos"
                                #ktp_kodepos="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_alamat" class="col-sm-12 col-md-8 label">Alamat
                            <input nbInput
                                fullWidth
                                name="ktp_alamat"
                                type="text"
                                id="ktp_alamat"
                                [ngModel]="results?.data?.ktp_alamat"
                                #ktp_alamat="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_rt" class="col-sm-12 col-md-2 label">RT
                            <input nbInput
                                fullWidth
                                name="ktp_rt"
                                type="text"
                                id="ktp_rt"
                                [ngModel]="results?.data?.ktp_rt"
                                #ktp_rt="ngModel"
                                fieldSize="medium">
                        </label>
            
                        <label for="ktp_rw" class="col-sm-12 col-md-2 label">RW
                            <input nbInput
                                fullWidth
                                name="ktp_rw"
                                type="text"
                                id="ktp_rw"
                                [ngModel]="results?.data?.ktp_rw"
                                #ktp_rw="ngModel"
                                fieldSize="medium">
                        </label>
                    </div>
                </nb-card-body>
            </nb-card>

            <!-- END DATA KTP -->

            <!-- START DATA DOMISILI -->

            <nb-card>
                <nb-card-header>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <strong>Alamat Berdasar Domisili (Sesuai KTP : {{ results?.data?.is_sesuai_ktp}})</strong>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">

                        <label for="domisili_provinsi" class="label col-sm-12 col-md-6">Provinsi
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_provinsi"
                                    type="text"
                                    id="domisili_provinsi"
                                    [ngModel]="results?.data?.domisili_provinsi?.length ? results?.data?.domisili_provinsi[0] : results?.data?.domisili_provinsi"
                                    #domisili_provinsi="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="domisili_kota" class="label col-sm-12 col-md-6">Kota
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_kota"
                                    type="text"
                                    id="domisili_kota"
                                    [ngModel]="results?.data?.domisili_kota?.length ? results?.data?.domisili_kota[0] : results?.data?.domisili_kota"
                                    #domisili_kota="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="domisili_kecamatan" class="label col-sm-12 col-md-5">Kecamatan
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_kecamatan"
                                    type="text"
                                    id="domisili_kecamatan"
                                    [ngModel]="results?.data?.domisili_kecamatan?.length ? results?.data?.domisili_kecamatan[0] : results?.data?.domisili_kecamatan"
                                    #domisili_kecamatan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="domisili_kelurahan" class="label col-sm-12 col-md-5">Kelurahan
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_kelurahan"
                                    type="text"
                                    id="domisili_kelurahan"
                                    [ngModel]="results?.data?.domisili_kelurahan?.length ? results?.data?.domisili_kelurahan[0] : results?.data?.domisili_kelurahan"
                                    #domisili_kelurahan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
        
                        <label for="domisili_kodepos" class="label col-sm-12 col-md-2">Kode Pos
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_kodepos"
                                    type="text"
                                    id="domisili_kodepos"
                                    [ngModel]="results?.data?.domisili_kodepos"
                                    #domisili_kodepos="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="domisili_alamat" class="label col-sm-12 col-md-8">Alamat
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_alamat"
                                    id="domisili_alamat"
                                    [ngModel]="results?.data?.domisili_alamat"
                                    #domisili_alamat="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
        
                        <label for="domisili_rt" class="label col-sm-6 col-md-2">RT
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_rt"
                                    type="text"
                                    id="domisili_rt"
                                    [ngModel]="results?.data?.domisili_rt"
                                    #domisili_rt="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
        
                        <label for="domisili_rw" class="label col-sm-6 col-md-2">RW
                            <input nbInput
                                    fullWidth
                                    [readonly]="results?.data?.is_sesuai_ktp"
                                    name="domisili_rw"
                                    type="text"
                                    id="domisili_rw"
                                    [ngModel]="results?.data?.domisili_rw"
                                    #domisili_rw="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                    </div>
                </nb-card-body>
            </nb-card>

            <!-- END DATA DOMISILI -->

            <!-- START DATA GENERAL CHECKUP, ASURANSI, BAPETARUM -->

            <label for="nik" class="label col-sm-6 col-md-6">NIK
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nik"
                        type="text"
                        id="nik"
                        [ngModel]="results?.data?.nik"
                        #nik="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_kk" class="label col-sm-6 col-md-6">Nomor KK
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_kk"
                        type="text"
                        id="nomor_kk"
                        [ngModel]="results?.data?.nomor_kk"
                        #nomor_kk="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="npwp" class="label col-sm-6 col-md-5">NPMWP
                <input nbInput
                        fullWidth
                        readonly=""
                        name="npwp"
                        type="text"
                        id="npwp"
                        [ngModel]="results?.data?.npwp"
                        #npwp="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nuptk" class="label col-sm-6 col-md-5">NUPTK
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nuptk"
                        type="text"
                        id="nuptk"
                        [ngModel]="results?.data?.nuptk"
                        #nuptk="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="duk" class="label col-sm-6 col-md-2">DUK
                <input nbInput
                        fullWidth
                        readonly=""
                        name="duk"
                        type="text"
                        id="duk"
                        [ngModel]="results?.data?.duk"
                        #duk="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_karpeg" class="label col-sm-6 col-md-4">Nomor Karpeg
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_karpeg"
                        type="text"
                        id="nomor_karpeg"
                        [ngModel]="results?.data?.nomor_karpeg"
                        #nomor_karpeg="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_korpri" class="label col-sm-6 col-md-4">Nomor Korpri
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_korpri"
                        type="text"
                        id="nomor_korpri"
                        [ngModel]="results?.data?.nomor_korpri"
                        #nomor_korpri="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_karis_karsu" class="label col-sm-6 col-md-4">Nomor Karis Karsu
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_karis_karsu"
                        type="text"
                        id="nomor_karis_karsu"
                        [ngModel]="results?.data?.nomor_karis_karsu"
                        #nomor_karis_karsu="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_askes" class="label col-sm-6 col-md-4">Nomor Askes
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_askes"
                        type="text"
                        id="nomor_askes"
                        [ngModel]="results?.data?.nomor_askes"
                        #nomor_askes="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_bpjs" class="label col-sm-6 col-md-4">Nomor BPJS
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_bpjs"
                        type="text"
                        id="nomor_bpjs"
                        [ngModel]="results?.data?.nomor_bpjs"
                        #nomor_bpjs="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_taspen" class="label col-sm-6 col-md-4">Nomor Taspen
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_taspen"
                        type="text"
                        id="nomor_taspen"
                        [ngModel]="results?.data?.nomor_taspen"
                        #nomor_taspen="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <br>

            <div class="col-12 mt-2">
                <strong>General Checkup ({{ results?.data?.is_general_checkup }})</strong>
            </div>

            <label for="hasil_general_checkup_id" class="label col-sm-6 col-md-3">Hasil General Checkup
                <input nbInput
                        fullWidth
                        readonly=""
                        name="hasil_general_checkup_id"
                        type="text"
                        id="hasil_general_checkup_id"
                        [ngModel]="results?.data?.hasil_general_checkup_id"
                        #hasil_general_checkup_id="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="tanggal_general_checkup" class="label col-sm-6 col-md-3">Tanggal General Checkup
                <input nbInput
                        fullWidth
                        readonly=""
                        name="tanggal_general_checkup"
                        type="text"
                        id="tanggal_general_checkup"
                        [ngModel]="results?.data?.tanggal_general_checkup"
                        #tanggal_general_checkup="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="keterangan_general_checkup" class="label col-sm-6 col-md-6">Keterangan General Checkup
                <input nbInput
                        fullWidth
                        readonly=""
                        name="keterangan_general_checkup"
                        type="text"
                        id="keterangan_general_checkup"
                        [ngModel]="results?.data?.keterangan_general_checkup"
                        #keterangan_general_checkup="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <div class="col-12 mt-3">
                <strong>Asuransi ({{ results?.data?.is_asuransi }})</strong>
            </div>

            <label for="tanggal_asuransi" class="label col-sm-6 col-md-3">Tanggal Asuransi
                <input nbInput
                        fullWidth
                        readonly=""
                        name="tanggal_asuransi"
                        type="text"
                        id="tanggal_asuransi"
                        [ngModel]="results?.data?.tanggal_asuransi"
                        #tanggal_asuransi="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="jenis_asuransi" class="label col-sm-6 col-md-3">Jenis Asuransi
                <input nbInput
                        fullWidth
                        readonly=""
                        name="jenis_asuransi"
                        type="text"
                        id="jenis_asuransi"
                        [ngModel]="results?.data?.jenis_asuransi"
                        #jenis_asuransi="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="tanggal_jenis_asuransi" class="label col-sm-6 col-md-6">Tanggal Jenis Asuransi
                <input nbInput
                        fullWidth
                        readonly=""
                        name="tanggal_jenis_asuransi"
                        type="text"
                        id="tanggal_jenis_asuransi"
                        [ngModel]="results?.data?.tanggal_jenis_asuransi"
                        #tanggal_jenis_asuransi="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <div class="col-12 mb-2">
                <strong>Ambil Asuransi ({{ results?.data?.is_ambil_asuransi }})</strong>
            </div>

            <label for="tanggal_ambil_asuransi" class="label col-sm-6 col-md-6">Tanggal Ambil Asuransi
                <input nbInput
                        fullWidth
                        readonly=""
                        name="tanggal_ambil_asuransi"
                        type="text"
                        id="tanggal_ambil_asuransi"
                        [ngModel]="results?.data?.tanggal_ambil_asuransi"
                        #tanggal_ambil_asuransi="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nominal_asuransi" class="label col-sm-6 col-md-6">Nominal Asuransi
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nominal_asuransi"
                        type="text"
                        id="nominal_asuransi"
                        [ngModel]="results?.data?.nominal_asuransi"
                        #nominal_asuransi="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <div class="col-12 mt-3">
                <strong>Bapetarum ({{ results?.data?.is_bapetarum }})</strong>
            </div>
            <label for="jenis_bapetarum" class="label col-sm-6 col-md-4">Jenis Bapetarum
                <input nbInput
                        fullWidth
                        readonly=""
                        name="jenis_bapetarum"
                        type="text"
                        id="jenis_bapetarum"
                        [ngModel]="results?.data?.jenis_bapetarum?.length ? results?.data?.jenis_bapetarum[0] : results?.data?.jenis_bapetarum"
                        #jenis_bapetarum="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="nomor_bapetarum" class="label col-sm-6 col-md-4">Nomor Bapetarum
                <input nbInput
                        fullWidth
                        readonly=""
                        name="nomor_bapetarum"
                        type="text"
                        id="nomor_bapetarum"
                        [ngModel]="results?.data?.nomor_bapetarum"
                        #nomor_bapetarum="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <label for="tanggal_bapetarum" class="label col-sm-6 col-md-4">Tanggal Bapetarum
                <input nbInput
                        fullWidth
                        readonly=""
                        name="tanggal_bapetarum"
                        type="text"
                        id="tanggal_bapetarum"
                        [ngModel]="results?.data?.tanggal_bapetarum"
                        #tanggal_bapetarum="ngModel"
                        placeholder=""
                        fieldSize="medium">
            </label>

            <!-- END DATA GENERAL CHECKUP, ASURANSI, BAPETARUM -->

            <!-- START JABATAN -->

            <nb-card class="col mt-3">
                <nb-card-header class="col-auto">
                    <strong>Jabatan (Aktif : {{ results?.data?.jabatan?.struktur_organisasi?.is_aktif }})</strong>
                </nb-card-header>
                <nb-card_body>
                    <div class="row mt-2">
                        <label for="unit_organisasi" class="label col-sm-6 col-md-6">Unit Organisasi
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="unit_organisasi"
                                    type="text"
                                    id="unit_organisasi"
                                    [ngModel]="results?.data?.jabatan?.struktur_organisasi?.unit_organisasi?.nama"
                                    #unit_organisasi="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="subunit_organisasi" class="label col-sm-6 col-md-6">Subsubunit Organisasi
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="subunit_organisasi"
                                    type="text"
                                    id="subunit_organisasi"
                                    [ngModel]="results?.data?.jabatan?.struktur_organisasi?.subunit_organisasi?.length ? results?.data?.jabatan?.struktur_organisasi?.subunit_organisasi[0] : results?.data?.jabatan?.struktur_organisasi?.subunit_organisasi"
                                    #subunit_organisasi="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>

                        <label for="seksi" class="label col-sm-6 col-md-6">Seksi
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="seksi"
                                    type="text"
                                    id="seksi"
                                    [ngModel]="results?.data?.jabatan?.struktur_organisasi?.seksi?.nama"
                                    #seksi="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="jabatan" class="label col-sm-6 col-md-6">Jabatan
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="jabatan"
                                    type="text"
                                    id="jabatan"
                                    [ngModel]="results?.data?.jabatan?.struktur_organisasi?.jabatan?.nama"
                                    #jabatan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="atasan" class="label col-sm-6 col-md-4">Atasan
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="atasan"
                                    type="text"
                                    id="atasan"
                                    [ngModel]="results?.data?.jabatan?.atasan?.length ? results?.data?.jabatan?.atasan[0] : results?.data?.jabatan?.atasan"
                                    #atasan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="tmt_jabatan" class="label col-sm-6 col-md-4">TMT Jabatan
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="tmt_jabatan"
                                    type="text"
                                    id="tmt_jabatan"
                                    [ngModel]="results?.data?.jabatan?.tmt_jabatan"
                                    #tmt_jabatan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="pejabat" class="label col-sm-6 col-md-4">Pejabat
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="pejabat"
                                    type="text"
                                    id="pejabat"
                                    [ngModel]="results?.data?.jabatan?.pejabat?.nama"
                                    #pejabat="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="nomor_sk" class="label col-sm-6 col-md-4">Nomor SK
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="nomor_sk"
                                    type="text"
                                    id="nomor_sk"
                                    [ngModel]="results?.data?.jabatan?.nomor_sk"
                                    #nomor_sk="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="tanggal_sk" class="label col-sm-6 col-md-4">Tanggal SK
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="tanggal_sk"
                                    type="text"
                                    id="tanggal_sk"
                                    [ngModel]="results?.data?.jabatan?.tanggal_sk"
                                    #tanggal_sk="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="golongan" class="label col-sm-6 col-md-4">Golongan
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="golongan"
                                    type="text"
                                    id="golongan"
                                    [ngModel]="results?.data?.jabatan?.golongan?.nama"
                                    #golongan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="golongan_pppk" class="label col-sm-6 col-md-3">Golongan PPPK
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="golongan_pppk"
                                    type="text"
                                    id="golongan_pppk"
                                    [ngModel]="results?.data?.jabatan?.golongan_pppk?.length ? results?.data?.jabatan?.golongan_pppk[0] : results?.data?.jabatan?.golongan_pppk"
                                    #golongan_pppk="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="tmt_golongan" class="label col-sm-6 col-md-3">TMT Golongan
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="tmt_golongan"
                                    type="text"
                                    id="tmt_golongan"
                                    [ngModel]="results?.data?.jabatan?.tmt_golongan"
                                    #tmt_golongan="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="eselon" class="label col-sm-6 col-md-3">Eselon
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="eselon"
                                    type="text"
                                    id="eselon"
                                    [ngModel]="results?.data?.jabatan?.eselon?.nama"
                                    #eselon="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="tmt_eselon" class="label col-sm-6 col-md-3">TMT Eselon
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="tmt_eselon"
                                    type="text"
                                    id="tmt_eselon"
                                    [ngModel]="results?.data?.jabatan?.tmt_eselon"
                                    #tmt_eselon="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="rumpun" class="label col-sm-6 col-md-6">Rumpun
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="rumpun"
                                    type="text"
                                    id="rumpun"
                                    [ngModel]="results?.data?.jabatan?.rumpun?.length ? results?.data?.jabatan?.rumpun[0] : results?.data?.jabatan?.rumpun"
                                    #rumpun="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                        
                        <label for="jabatan_plt" class="label col-sm-6 col-md-6">Jabatan Plt
                            <input nbInput
                                    fullWidth
                                    readonly=""
                                    name="jabatan_plt"
                                    type="text"
                                    id="jabatan_plt"
                                    [ngModel]="results?.data?.jabatan_plt?.length ? results?.data?.jabatan_plt[0] : results?.data?.jabatan_plt"
                                    #jabatan_plt="ngModel"
                                    placeholder=""
                                    fieldSize="medium">
                        </label>
                    </div>
                </nb-card_body>
            </nb-card>
            <!-- END JABATAN -->
        </div>

        
        <div class="row justify-content-end">
            <div class="col-auto">
                <!-- <button nbButton status="success" type="submit"><nb-icon icon="save-outline"></nb-icon> Simpan</button> -->
                <!-- <button nbButton status="primary">Selanjutnya <nb-icon icon="arrowhead-right-outline"></nb-icon></button> -->
            </div>
        </div>
    </form>
</div>