<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button routerLink="/pages/manajemen-user" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>{{id ? 'Ubah' : 'Tambah'}} User</h6>
    </nb-card-header>
    <nb-card-body>
        <!-- {{user | json}} -->
        <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <div class="general-info">
                <h6>Informasi Umum</h6>
                <div class="form-control-group mb-2 d-flex align-items-center">
                    <label class="label col-form-label col-2" for="nip" style="font-size: .9rem;">NIP</label>
                    <nb-form-field class="col">
                        <input nbInput
                            fullWidth
                            name="nip"
                            type="text"
                            id="nip"
                            ngModel required
                            fieldSize="medium">
                    </nb-form-field>
                    <span class="col-auto">
                        <a nbSuffix [disabled]="!f.value.nip" (click)="syncSimpeg()" nbButton status="primary">Sync. SIMPEG</a>
                    </span>
                </div>
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-form-label col-2" for="first_name" style="font-size: .9rem;">Nama</label>
                    <nb-form-field class="col">
                        <input class="mb-2" nbInput
                            fullWidth
                            name="first_name"
                            type="text"
                            id="firstname"
                            [ngModel]="f.value.first_name" required #first_name="ngModel"
                            fieldSize="medium">
                    </nb-form-field>
                </div>
                <!-- <div class="form-control-group d-flex align-items-center">
                    <label class="label col-form-label col-2" for="last_name" style="font-size: .9rem;">Last Name</label>
                    <nb-form-field class="col">
                        <input class="mb-2" nbInput
                            fullWidth
                            name="last_name"
                            type="text"
                            id="last_name"
                            [ngModel]="f.value.last_name" required #last_name="ngModel"
                            fieldSize="medium">
                    </nb-form-field>
                </div> -->
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-form-label col-2" for="email" style="font-size: .9rem;">Role</label>
                    <div class="col mb-2" *ngIf="(roles$ | async) as roles" [nbSpinner]="roles.loading">
                        <!-- {{(roles | set:'attributes.name') | json}} -->
                        <!-- {{selectedRoleName | json}} -->
                        <nb-tag-list (tagRemove)="onTagRemove($event)">
                            <nb-tag *ngFor="let role of selectedRoleName ?? []" [text]="role" removable></nb-tag>
                            <input #autoInput
                                nbTagInput
                                placeholder="Select role"
                                fullWidth
                                [nbAutocomplete]="auto" />
                            <nb-autocomplete #auto (selectedChange)="onTagAdd($event)">
                                <nb-option *ngFor="let option of (roles.response.data | filter:['attributes.name:'+selectedRoleName.join('.')]:false)" [value]="option">
                                {{ option?.attributes?.name }}
                                </nb-option>
                            </nb-autocomplete>
                        </nb-tag-list>
                    </div>
                </div>
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-form-label col-2" for="unit_organisasi" style="font-size: .9rem;">Unit Organisasi</label>
                    <div class="col mb-2">
                        <input #unitInput
                            nbInput
                            fullWidth
                            name="unit_organisasi"
                            ngModel
                            type="text"
                            (input)="onChange($event, 'unit')"
                            placeholder="Unit organisasi"
                            [nbAutocomplete]="autoUnit" />

                        <nb-autocomplete #autoUnit [handleDisplayFn]="viewHandle" (selectedChange)="onChangeUnit()">
                            <nb-option *ngFor="let option of filterUnitOrganisasi$ | async" [value]="option">
                                {{ option.nama }}
                            </nb-option>
                        </nb-autocomplete>
                        <!-- <nb-select class="mb-2" name="unit_organisasi" ngModel (selectedChange)="onChangeUnit()" fullWidth #unit_organisasi="ngModel" placeholder="Pilih Unit">
                            <nb-option *ngFor="let unit of (unitOrganisasi$ | async)" [value]="unit.id">{{unit.nama}}</nb-option>
                        </nb-select> -->
                    </div>
                </div>
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-form-label col-2" for="subunit_organisasi" style="font-size: .9rem;">Subunit Organisasi</label>
                    <div class="col mb-2">
                        <input #subInput
                            nbInput
                            fullWidth
                            name="sub_unit_organisasi"
                            ngModel
                            type="text"
                            (input)="onChange($event, 'subunit')"
                            placeholder="Subunit organisasi"
                            [nbAutocomplete]="autoSub" />

                        <nb-autocomplete #autoSub [handleDisplayFn]="viewHandle" [activeFirst]="true">
                            <nb-option *ngFor="let option of filterSubUnitOrganisasi$ | async" [value]="option">
                                {{ option.nama }}
                            </nb-option>
                        </nb-autocomplete>
                        <!--  <nb-select class="mb-2" name="sub_unit_organisasi" ngModel fullWidth placeholder="Pilih Subunit">
                            <nb-option *ngFor="let subunit of (subUnitOrganisasi$ | async)" [value]="subunit.id">{{subunit.nama}}</nb-option>
                        </nb-select>  -->
                    </div>
                </div>
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-2" for="email" style="font-size: .9rem;">Status</label>
                    <nb-form-field class="col">
                        <!-- {{user?.attributes?.status}} -->
                        <nb-select class="mb-2" name="status" ngModel placeholder="Pilih status" fullWidth ngModel required #status="ngModel">
                            <nb-option value="active">Aktif</nb-option>
                            <nb-option value="inactive">Tidak Aktif</nb-option>
                        </nb-select>
                    </nb-form-field>
                </div>
            </div>

            <div class="password mt-5">
                <h6>Password 
                <nb-icon nbTooltip="Ganti password hanya jika diperlukan" nbTooltipPlacement="right" nbTooltipStatus="primary"icon="info" status="primary"></nb-icon>
                </h6>
                
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-2" for="input-password" style="font-size: .9rem;">Password</label>
                    <nb-form-field class="col">
                        <input class="mb-2" nbInput
                            fullWidth
                            autocomplete="false"
                            name="password"
                            [required]="id == null"
                            [type]="showPass ? 'text' : 'password'"
                            id="input-password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&^_-]).{8,}"
                            ngModel #password="ngModel"
                            fieldSize="medium">
                            <a nbSuffix nbButton ghost tabindex="-1" (click)="toggleShowPass()">
                                <nb-icon class="mb-2" [icon]="showPass ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </a>
                        <ng-container *ngIf="password.invalid && password.touched">
                            <p class="caption status-danger" *ngIf="password.errors?.required">
                                Password is required!
                            </p>
                            <p class="caption status-danger" *ngIf="password.errors?.pattern">
                                Password must contain at least one number, one uppercase, one symbol and a
                                lowercase letter and at least 8 characters<br />Password cannot
                                contain whitespace
                            </p>
                        </ng-container>
                    </nb-form-field>
                </div>
                <div class="form-control-group d-flex align-items-center">
                    <label class="label col-2" for="konfirmasi" style="font-size: .9rem;">Konfirmasi Password</label>
                    <nb-form-field class="col">
                        <input class="mb-2" nbInput
                            fullWidth
                            autocomplete="false"
                            ngModel #confirm="ngModel"
                            name="confirm"
                            [type]="showConfirmPass ? 'text' : 'password'"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&^_-]).{8,}"
                            [status]="confirm.touched
                                ? (confirm.invalid || f.value.password.value != f.value.confirm.value ? 'danger' : 'success')
                                : 'basic'"
                            id="konfirmasi"
                            fieldSize="medium">
                            <a nbSuffix nbButton ghost tabindex="-1" (click)="toggleShowConfirmPass()">
                                <nb-icon class="mb-2" [icon]="showConfirmPass ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                            </a>
                            <!-- {{f.value.password}}
                            {{f.invalid}} -->
                        <ng-container *ngIf="confirm.touched">
                            <p class="caption status-danger" *ngIf="confirm.errors?.required">
                                Confirm password is required!
                            </p>
                            <div class="caption status-danger" *ngIf="confirm.value != password.value">
                                Passwords did not match
                            </div>
                        </ng-container>
                    </nb-form-field>
                </div>

                <div style="text-align: end;">
                    <button class="mt-5" type="submit" [disabled]="loading" [nbSpinner]="loading" nbButton status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>