<nb-card [nbSpinner]="loading">
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button *ngIf="id" (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>Pengaturan Peserta</h6>
                <span class="caption text-gray">Tabel berikut menampilkan daftar peserta terdaftar</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(participants$ | async) as participants">
        <nb-card style="background-color: rgb(113, 102, 175);">
            <nb-card-body class="row">
              <div class="image col-md-1 col-sm-12">
                  <img src="./assets/images/logo.png" alt="logo" width="40">
              </div>
              <div class="data-content col-md-11 col-sm-12" *ngIf="(schedule$ | async) as schedule">
                    <p class="text-light mb-2">{{schedule?.relationships?.training?.attributes?.name}}</p>
                    <p class="text-light mb-2">Angkatan : {{schedule?.attributes?.periode}}</p>
                    <p class="text-light mb-2">Jadwal Akhir Registrasi : {{schedule?.attributes?.end_registration}}</p>
                    <p class="text-light mb-2">Jadwal Diklat : {{[schedule?.attributes?.start_date] | moment:'format'}} s/d {{([
                        schedule?.attributes?.start_date, 
                        schedule?.attributes?.duration
                        ] | moment:'add':'day') | dns}}</p>
                    <p class="text-light mb-2">Lokasi : {{schedule?.attributes?.location}}</p>
                                  
                    <hr style="background-color: white;">
    
                    <div class="mt-3 row justify-content-between">
                      <span class="col-auto mb-2">
                        <button class="mr-2" (click)="upload(schedule)" nbButton status="success" size="small"> <nb-icon icon="people-outline"></nb-icon> Import Peserta</button>
                        <button class="mr-2" (click)="register(schedule)" nbButton status="success" size="small"> <nb-icon icon="person-outline"></nb-icon> Registrasi Peserta</button>
                        <!-- <button routerLink="/pages/action-learning/form-aktivitas" nbButton status="primary" size="small"> <nb-icon icon="printer-outline"></nb-icon> Cetak Surat Pemanggilan</button> -->
                      </span>
                      <span class="col-auto">
                        <button (click)="downloadDaftarPeserta()" class="mr-2" nbButton status="warning" size="small"> <nb-icon icon="download-outline"></nb-icon> Unduh Daftar Peserta</button>
                        <button (click)="downloadBiodataPeserta()" class="mr-2" nbButton status="warning" size="small"> <nb-icon icon="download-outline"></nb-icon> Unduh Biodata Peserta</button>
                        <button (click)="clearPeserta()" nbButton status="danger" size="small"> <nb-icon icon="close-circle-outline"></nb-icon> Kosongkan Peserta</button>
                      </span>
                    </div>
              </div>
            </nb-card-body>
        </nb-card>

        <ngx-table-filter [table]="table" [print]="['name','nip','position','department','status|:belum diverifikasi']"></ngx-table-filter>

        <ngx-simple-table #table [column]="['Nama','NIP','Jabatan','Unit Kerja','Status']"
            [response]="participants.response" 
            [selectedData]="['relationships.employee.attributes.name', 
                'relationships.employee.attributes.nip', 
                'relationships.employee.attributes.position',
                'relationships.employee.attributes.department', 
                'relationships.activity_log|status',
                'relationships.activity_log.0.attributes.status|statusText',
                'relationships.training_schedule.id|scheduleId',
                'relationships.training_schedule.attributes.category|category',
                'relationships.training_schedule.attributes.start_date|startDate',
                'relationships.employee.id|employeeId', 
                'id']"
            [actionRef]="actionRef"
            [templateRef]="templateRef"
            ></ngx-simple-table>
        <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Status'">
                <stat-btn [data]="row.status"></stat-btn>
            </span>
            <span *ngIf="col != 'Status'">
                {{row | o2value:i}}
            </span>
        </ng-template>
        <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[
            ({participant: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
            ({participant: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
            ({participant: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row},
            (row.statusText == 'diterima') && {title: 'Upload Sertifikat', icon: 'cloud-upload-outline', data: row},
            {title: 'Profile', icon: 'person-outline', link: '/pages/profile/biodata/'+employeeId},
            ({participant: ['delete']} | role) && {title: 'Delete', icon: 'trash-outline', data: row.id},
            ] | set:null" 
            [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
        </ng-template>
    </nb-card-body>
</nb-card>