<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Daftar Pengajuan Diklat Individu</h6>
        <p class="caption">Tabel berikut memuat daftar permintaan diklat individu oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</p>
      </div>
      <div class="col-auto">
        <button nbButton status="primary" [routerLink]="['./create-update']">
          <nb-icon icon="file-add-outline"></nb-icon>
          Ajukan Diklat Individu
        </button>
      </div>
    </nb-card-header>
    
    <nb-card-body *ngIf="(schedules$ | async) as schedules">
      <!-- {{ schedules | json }} -->
      <ngx-table-filter [table]="table" [print]="['name','start_date','duration','status|:belum diverifikasi']"></ngx-table-filter>
      <ngx-simple-table #table [column]="['Nama Diklat','Waktu Pelaksanaan','Durasi','Status']"
        [data]="schedules ?? [] | simply:['attributes.name', 'attributes.start_date','attributes.duration','relationships.activity_log|status', 'relationships.activity_log.0.attributes.status|statusText', 'id']"
        [actionRef]="actionRef"
        [templateRef]="templateRef"
      ></ngx-simple-table>
      <ng-template #templateRef let-row let-col="col" let-i="index">
        <span *ngIf="col == 'Status'">
          <stat-btn [data]="row.status"></stat-btn>
        </span>
        <span *ngIf="col != 'Status'">
          {{row | o2value:i}}
        </span>
      </ng-template>
      <ng-template #actionRef let-row>
        <div class="d-flex">
          <button *ngIf="row?.statusText == 'diterima'" class="mr-2" nbButton status="primary" size="tiny" (click)="uploadFile(row.id, row.start_date, row.category)" nbTooltip="Upload Sertifikat">
            <nb-icon icon="cloud-upload-outline"></nb-icon> 
            upload
          </button>
          
          <button size="tiny" nbButton ghost [nbContextMenu]="[
            {title: 'Detail', icon: 'corner-down-right-outline', link: '/pages/administrasi-peserta/diklat-individu/detail/'+row.id},
            (row?.statusText == 'diterima') && {title: 'Upload Sertifikat', icon: 'cloud-upload-outline', data: row.id},
            (row?.statusText == null) && {title: 'Edit', icon: 'edit-outline', data: row.id},
            (row?.statusText == null) && {title: 'Delete', icon: 'trash-outline', data: row.id},
          ] | set:null" [nbContextMenuTag]="tag">
            <nb-icon icon="more-horizontal-outline"></nb-icon>
          </button>
        </div>
      </ng-template>
  
    </nb-card-body>
  </nb-card>