<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Tambah Tahapan KBM</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(phase$ | async) as phase">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
            <ng-container *ngIf="((subject$ | async).response.data && (subject$ | async).response.data[0]) as subject">
                <input name="training_subject_id" type="hidden" [ngModel]="subject?.id" #training_subject_id="ngModel">

                <div class="form-group row mb-3">
                    <!-- {{subject | json}} -->
                    <label for="tahapan" class="label col-form-label col-3">Mata Diklat</label>
                    <div class="col-sm-9">
                        <input class="col" nbInput
                            fullWidth
                            name="tahapan"
                            type="text"
                            id="nama"
                            [value]="subject?.attributes?.name"
                            readonly
                            fieldSize="medium">
                    </div>
                </div>
            </ng-container>

            <div class="form-group row mb-3">
                <label for="tahapan" class="label col-form-label col-3">Tahapan KBM</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="name"
                        type="text"
                        id="name"
                        [ngModel]="id ? (phase?.response?.data && phase?.response?.data[0].attributes?.name) : f.value.name" required #name="ngModel"
                        placeholder="   "
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="facilitator_activity" class="label col-form-label col-3">Kegiatan Fasilitator</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="facilitator_activity" nbInput fullWidth placeholder="..." [ngModel]="id ? (phase?.response?.data && phase?.response?.data[0].attributes?.facilitator_activity) : f.value.facilitator_activity" required #facilitator_activity="ngModel"></textarea>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-12" *ngFor="let list of [
                    {label: 'Kegiatan Peserta', name: 'participant_activity'},
                    {label: 'metode', name: 'metode'},
                    {label: 'Media/Alat Bantu', name: 'tools'}
                ]">
                    <div class="form-group row mb-3">
                        <label [for]="list.name" class="label col-form-label col-3">{{list.label}}</label>
                        <div class="col-sm-9">
                            <textarea rows="5" [name]="list.name" nbInput fullWidth placeholder="..." [ngModel]="id ? (phase?.response?.data && phase?.response?.data[0].attributes[list.name]) : f.value[list.name]" required #{{list.name}}="ngModel"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="time_allocation" class="label col-form-label col-3">Alokasi Waktu</label>
                <div class="col-sm-9">
                    <nb-form-field>
                        <input  nbInput
                                name="time_allocation"
                                type="number"
                                placeholder="1"
                                [ngModel]="id ? (phase?.response?.data && phase?.response?.data[0].attributes?.time_allocation) : f.value.time_allocation" required #time_allocation="ngModel"
                                fieldSize="medium">
                        <span nbSuffix>JP</span> 
                    </nb-form-field>
                    <span class="caption"><strong>Note :</strong> Dalam satuan jam pelajaran (1jp = 45 menit)</span>
                </div>
            </div>
            
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton type="reset" (click)="back()" ghost size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>