<nb-card>
  <nb-card-header class="row justify-content-between">
    <div class="col-md-8 col-sm-12">
      <h6>{{title}}</h6>
      <p class="caption">Tabel berikut memuat daftar permintaan izin belajar oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</p>
    </div>
    <div class="col-auto">
      <button class="mr-2" *ngIf="({setting: ['update']} | role)" nbButton status="warning" [routerLink]="['./setting']">
        <nb-icon icon="settings-outline"></nb-icon>
        Atur Syarat
      </button>
      <button nbButton status="primary" [routerLink]="['./add']">
        <nb-icon icon="file-add-outline"></nb-icon>
        {{title}}
      </button>
    </div>
  </nb-card-header>
  
  <nb-card-body *ngIf="(permits$ | async) as permits" [nbSpinner]="permits.loading">
    <!-- {{ permits | json }} -->
    <ngx-table-filter [table]="table"></ngx-table-filter>

    <ngx-simple-table *ngIf="isAdmin" #table [column]="['Nama','NIP','Jabatan','Tanggal','Lampiran','Status']"
      [response]="permits.response"
      [selectedData]="[
        'relationships.employee.attributes.name',
        'relationships.employee.attributes.nip',
        'relationships.employee.attributes.position',
        'attributes.created_at',
        'relationships.attachment',
        'relationships.activity_log|status',
        'relationships.activity_log.0.attributes.status|statusText',
        'attributes.nomor_izin',
        'attributes.tanggal_izin',
        'attributes.keterangan',
        'attributes.jenjang_pendidikan_id',
        'id',
      ]"
      [actionRef]="actionRef"
      [templateRef]="templateRef"
    ></ngx-simple-table>

    <ngx-simple-table *ngIf="!isAdmin" #table [column]="['Tanggal','Lampiran','Status']"
      [response]="permits.response"
      [selectedData]="[
        'attributes.created_at',
        'relationships.attachment',
        'relationships.activity_log|status',
        'relationships.activity_log.0.attributes.status|statusText',
        'id'
      ]"
      [actionRef]="actionRef"
      [templateRef]="templateRef"
    ></ngx-simple-table>

    <ng-template #templateRef let-row let-col="col" let-i="index">
      <span *ngIf="col == 'Status'">
        <stat-btn [data]="row.status"></stat-btn>
      </span>
      <span *ngIf="col == 'Lampiran'">
        <button nbButton status="primary" size="tiny" [routerLink]="['add', row.id]"><nb-icon icon="eye-outline"></nb-icon> View</button>
      </span>
      <span *ngIf="col == 'Tanggal'">
        {{row.created_at | date:'shortDate'}}
      </span>
      <span *ngIf="col != 'Status' && col != 'Tanggal' && col != 'Lampiran'">
        {{row | o2value:i}}
      </span>
    </ng-template>
    <ng-template #actionRef let-row>
      <button nbButton ghost [nbContextMenu]="[
        {title: 'View', icon: 'eye-outline', link: this.router.url+'/add/'+row.id, pathMatch: 'full'},
        ({user_permit: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
        ({user_permit: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
        ({user_permit: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row},
        ({user_permit: ['delete']} | role) && (row.statusText != 'diterima') && {title: 'Delete', icon: 'trash-outline', data: row.id},
        ] | set:null" [nbContextMenuTag]="tag">
        <nb-icon icon="more-horizontal-outline"></nb-icon>
      </button>
    </ng-template>
  </nb-card-body>
</nb-card>