<nb-card>
    <nb-card-header>
        <div class="row justify-content-between">
            <div class=" col-auto d-flex align-items-center">
                <button [routerLink]="['../../']" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
                <div class="col-auto">
                    <h6>Daftar Rekap Peserta Diklat</h6>
                    <span class="caption">Tabel yang memuat seluruh peserta diklat</span>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-table-filter [columns]="['Induk SKPD', 'SKPD', 'Mendaftar', 'Diterima', 'Diverifikasi', 'Belum Diverifikasi']"></ngx-table-filter>
        <ngx-simple-table 
            [column]="['Induk SKPD', 'SKPD', 'Mendaftar', 'Diterima', 'Diverifikasi', 'Belum Diverifikasi']"
            [response]="[]"></ngx-simple-table>
    </nb-card-body>
</nb-card>