<div class="header-container">
  <div class="logo-container mr-2" style="width: auto;">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img src="./assets/images/logo.png" alt="Logo" width="40"></a>
    <span class="text-14" style="line-height: 16.34px; word-wrap: unset;">BKD Kab. Sidoarjo</span>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>
<!-- {{(biodata$ | async) | json}} -->
<div class="header-container" *ngIf="(biodata$ | async) as biodata">
  <nb-actions size="medium">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <nb-action [link]="['pesan']" 
                icon="email-outline" 
                style="position: relative;">
    </nb-action>

    <nb-action class="control-item" 
                style="position: relative;" 
                icon="bell-outline" 
                [badgeText]="biodata.attributes.notifications?.length ?? 0" 
                badgeStatus="danger" badgePosition="top right"
                [nbPopover]="templateRef" nbPopoverTrigger="hover" nbPopoverPlacement="bottom" badgeSize="tiny"></nb-action>

    <ng-template #templateRef>
        <!-- <a *ngFor="let notif of biodata.attributes.notifications" href="javascript:void(0)" routerLink="['./']" class="text-decoration-none d-flex justify-content-between align-items-center p-2"> -->
          <div class="p-2 m-0 row justify-content-between" *ngFor="let notif of biodata.attributes.notifications">
            <a [routerLink]="[notif?.data?.url]" href="javascript:void(0)" class="text-decoration-none">
              <div class="col-auto d-flex">
                <span class="d-block mr-2">
                  <nb-icon status="danger" icon="bell-outline"></nb-icon>
                </span>
                <span class="d-flex flex-column">
                  <span class="caption">{{notif?.data?.subject ?? 'UNKNOWN'}}</span>
                  <p class="caption-2">{{notif?.data?.description}}</p>
                </span>
              </div>
            </a>
            <div class="col-auto d-flex">
              <a nbButton size="tiny" ghost (click)="delete(notif.id)">
                <nb-icon status="danger" icon="close-outline"></nb-icon>
              </a>
            </div>
          </div>
        <!-- </a> -->
    </ng-template>

    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [nbContextMenuTag]="'user-menu'"
               [onlyPicture]="userPictureOnly"
               name="{{biodata?.attributes?.name}}"
               title="{{biodata.roles[0].attributes.name}}"
               [picture]="biodata?.attributes?.avatar ?? './assets/images/undefined-photo.jpeg'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
