<nb-card *ngIf="(schedule$ | async) as schedule" [nbSpinner]="schedule.loading">
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button *ngIf="id" (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>Pengaturan Angkatan Diklat</h6>
                <span class="caption text-gray">Tabel berikut menampilkan daftar angkatan diklat</span>
            </div>
        </div>
        <div class="col-auto">
            <button [routerLink]="['./create', 'internal']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Angkatan Diklat</button>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(diklat$ | async) as diklat">
        <!-- {{diklat | json}} -->
        <nb-card *ngIf="id" style="background-color: rgb(113, 102, 175);">
          <nb-card-body class="row">
            <div class="image col-md-1 col-sm-12">
                <img src="./assets/images/logo.png" alt="logo" width="40">
            </div>
            <div class="data-content col-md-11 col-sm-12" *ngIf="diklat?.response?.data">
                <p class="text-light mb-2">Kelompok Diklat : {{diklat?.response?.data[0].attributes?.group_name ?? ''}}</p>
                <p class="text-light mb-2">Diklat : {{diklat?.response?.data[0].attributes?.name ?? ''}}</p>
                                
                <!-- <hr style="background-color: white;"> -->
  
                <!-- <div class="mt-3 row justify-content-between">
                    <span class="col-auto mb-2">
                      <button class="mr-2" [routerLink]="['../pengaturan-mata/add', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Tambah Mata Diklat Baru</button>
                      <button [routerLink]="['../../pilih-mata', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Pilih Mata Diklat</button>
                    </span>
                    <span class="col-auto">
                      <button [routerLink]="['../../pengaturan-angkatan', id]" nbButton status="warning" size="small"> <nb-icon icon="external-link-outline"></nb-icon> Shortcut Pengaturan Angkatan Diklat</button>
                    </span>
                </div> -->
            </div>
          </nb-card-body>
        </nb-card>

        <!-- <ngx-filter-diklat></ngx-filter-diklat> -->
        <ngx-table-filter [table]="table" [print]="['periode','name','start_date','location']" [display]="null"></ngx-table-filter>
        <ngx-simple-table
            #table 
            [column]="['Angkatan Ke','Nama Diklat','Jadwal Pelaksanaan','Lokasi Diklat']"
            [response]="schedule.response"
            [selectedData]="['attributes.periode', 'attributes.name', 'attributes.start_date', 'attributes.location', 'relationships.training|training', 'id']"
            [actionRef]="actionRef"
            (page)="setPage($event)"
        ></ngx-simple-table>

        <ng-template #actionRef let-row>
            <!-- {{row.training_schedule | json}} -->
            <button nbButton ghost [nbContextMenu]="[
                    {title: 'Ubah Jadwal', icon: 'edit-outline', link: '/pages/diklat/pengaturan/pengaturan-angkatan/'+id+'/update/'+row.scheduleId+'/type/internal'},
                    {title: 'Pengaturan Jadwal Pengajar', icon: 'settings-outline', link: '/pages/diklat/pengaturan/pengaturan-angkatan/'+id+'/jadwal/'+row.id},
                    {title: 'Pengaturan Peserta', icon: 'settings-outline', link: '/pages/diklat/pengaturan/pengaturan-angkatan/'+id+'/pengaturan-peserta/'+row.id},
                    {title: 'Unduh Template Absensi', icon: 'download-outline', data: row?.training?.attributes?.group_name+' - '+row?.training?.attributes?.name},
                    {title: 'Delete', icon: 'trash-outline', data: row.id},
                ]" [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
        </ng-template>

    </nb-card-body>
    
</nb-card>
