<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <!-- <button *ngIf="!storeKey" [routerLink]="['../']" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button> -->
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form {{id ? 'Ubah' : 'Tambah'}} Kalender Diklat {{type}}</h6>
    </nb-card-header>
    <nb-card-body>
        <ngx-internal-diklat *ngIf="type == 'internal'"></ngx-internal-diklat>
        <ngx-eksternal-diklat *ngIf="type == 'eksternal'"></ngx-eksternal-diklat>
    </nb-card-body>
</nb-card>
