<div class="container my-3">
    <ng-container
        *ngTemplateOutlet="education"></ng-container>

    <!-- <ng-container
        *ngTemplateOutlet="pelatihan"></ng-container>

    <ng-container
        *ngTemplateOutlet="karyatulis"></ng-container>

    <ng-container
        *ngTemplateOutlet="dokumen"></ng-container>     -->

    <!-- <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate class="row mt-3" *ngIf="(biodata$ | async) as biodata">
        <ng-container *ngIf="!biodata?.attributes?.verified ?? true">
            <nb-checkbox status="danger" name="verified" [ngModel]="biodata?.attributes?.verified" #verified="ngModel" class="col-12 mb-3">Dengan ini menyatakan bahwa data yang saya isikan adalah benar adanya. Jika ditemukan dikemudian hari diketemukan kesalahan yang disengaja/pemalsuan data maka saya bersedia menerima konsekuensinya</nb-checkbox>
            <div class="col-12 d-flex justify-content-end">
                <button nbButton status="success" type="submit" [disabled]="!f.value.verified"><nb-icon icon="save-outline"></nb-icon> Simpan</button>
            </div>
        </ng-container>
    </form> -->
</div>

<ng-template #education>
    <div class="d-flex flex-column mb-3" *ngIf="(userEdu$ | async) as userEdu">
        <div class="d-flex justify-content-between align-items-center">
            <h6>Riwayat Pendidikan Formal</h6>
            <!-- <button nbButton status="primary" (click)="openPendidikanFormal()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button> -->
        </div>

        <ngx-simple-table
                [column]="['Jenjang', 'Nama Sekolah', 'Jurusan/Program Studi', 'Tempat Pendidikan', 'Tahun Lulus', 'Keterangan', 'Ijazah', 'Transkrip', 'Surat Izin Belajar']"
                [data]="userEdu ?? [] | simply:[
                    'attributes.grade', 
                    'attributes.school_name', 
                    'attributes.department', 
                    'attributes.location', 
                    'attributes.graduate_at', 
                    'attributes.other_info', 
                    'relationships.attachment|ijazah', 
                    'relationships.attachment|transcript', 
                    'relationships.attachment|letter', 
                    'id']"
                [noActionRef]="true"
                [templateRef]="templateRef"
                (delete)="OnDeleteData($event, 'formal')"
                (edit)="OnEditData($event, 'formal')"
            ></ngx-simple-table>
            <ng-template #templateRef let-row let-col="col" let-i="index">
                <div *ngIf="col.toLowerCase() == 'ijazah'">
                    <!-- {{row.ijazah | json}} -->
                    <a
                        target="_blank"
                        *ngIf="(row.ijazah | find:'attributes.name':'ijazah')?.attributes?.path"
                        [href]="storageUrl+'/'+(row.ijazah | find:'attributes.name':'ijazah')?.attributes?.path" 
                        nbButton status="danger" size="small">
                        <nb-icon icon="file-outline"></nb-icon> Download</a>
                </div>
                <div *ngIf="col.toLowerCase() == 'transkrip'">
                    <!-- {{row.ijazah | json}} -->
                    <a
                        target="_blank"
                        *ngIf="(row.transcript | find:'attributes.name':'transcript')?.attributes?.path"
                        [href]="storageUrl+'/'+(row.transcript | find:'attributes.name':'ijazah')?.attributes?.path" 
                        nbButton status="danger" size="small">
                        <nb-icon icon="file-outline"></nb-icon> Download</a>
                </div>
                <div *ngIf="col.toLowerCase() == 'surat izin belajar'">
                    <!-- {{row.ijazah | json}} -->
                    <a
                        target="_blank"
                        *ngIf="(row.permit_study_letter | find:'attributes.name':'transcript')?.attributes?.path"
                        [href]="storageUrl+'/'+(row.permit_study_letter | find:'attributes.name':'permit_study_letter')?.attributes?.path" 
                        nbButton status="danger" size="small">
                        <nb-icon icon="file-outline"></nb-icon> Download</a>
                </div>
                <div *ngIf="col.toLowerCase() !== 'ijazah' && col.toLowerCase() !== 'surat izin belajar' && col.toLowerCase() !== 'transkrip'">
                    {{row | o2value:i}}
                </div>
            </ng-template>
    </div>
</ng-template>

<!-- <ng-template #pelatihan>
    <div class="d-flex flex-column mb-3" *ngIf="(userCourse$ | async) as userCourse">
        <div class="d-flex justify-content-between align-items-center">
            <h6>II. Riwayat Pendidikan dan Pelatihan</h6>
            <button nbButton status="primary" (click)="openPendidikanPelatihan()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>

        <ngx-simple-table
            [column]="['Jenis Diklat', 'Kategorisasi Diklat', 'Penyelenggara', 'Tahun', 'Sertifikat/Dokumen Bukti', 'Keterangan']"
            [data]="userCourse ?? [] | simply:['attributes.type', 'attributes.category', 'attributes.organized_by', 'attributes.year', 'attributes.certificate', 'attributes.other_info', 'id']"
            (delete)="OnDeleteData($event, 'pelatihan')"
            (edit)="OnEditData($event, 'pelatihan')"
            [noActionRef]="true"
        ></ngx-simple-table>
    </div>
</ng-template> -->

<!-- <ng-template #karyatulis>
    <div class="d-flex justify-content-between align-items-center">
        <h6>III. Daftar karya tulis ilmiah/jurnal yang pernah saudara buat/diterbitkan (apabila ada)</h6>
        <button nbButton status="primary" (click)="openKaryaTulis()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
    </div>

    <div class="row">
        <div class="col-12" *ngIf="(userPaper$ | async) as userPaper">
            <ngx-simple-table
                [column]="['Judul Tulisan', 'Tahun', 'Disampaikan/dipublikasikan pada Seminar/Majalah/Koran/Website', 'Keterangan']"
                [data]="userPaper ?? [] | simply:['attributes.title', 'attributes.year', 'attributes.publish_at', 'attributes.other_info', 'id']"
                (delete)="OnDeleteData($event, 'paper')"
                (edit)="OnEditData($event, 'paper')"
                [templateRef]="templateRefKT"
            ></ngx-simple-table>
            <ng-template #templateRefKT let-row let-col="col" let-i="index">
                <div *ngIf="col.toLowerCase() == 'tahun'">
                    {{row.year | date:'shortDate'}}
                </div>
                <div *ngIf="col.toLowerCase() !== 'tahun'">
                    {{row | o2value:i}}
                </div>
            </ng-template>
        </div>
    </div>
</ng-template> -->

<!-- <ng-template #dokumen>
    <div class="title-manajamen mt-2">
        <h6>IV. Dokumen Persyaratan</h6>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button nbButton status="primary" (click)="openAddNewDoc()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button>
        </div>
        <div class="col-12" *ngIf="(userAttachments$ | async) as userAttachments">
            <ngx-simple-table
                [column]="['Nama Dokumen']"
                [data]="userAttachments ?? [] | simply:['attributes.name', 'attributes|attachment', 'id']"
                [actionRef]="actionDoc"
            ></ngx-simple-table>
            <ng-template #actionDoc let-row let-col="col" let-i="index">
                <a [href]="storageUrl+'/'+row?.attachment?.path" target="_blank" nbButton status="primary" size="small" class="mr-2"><nb-icon icon="eye-outline"></nb-icon></a>
                <button (click)="OnDeleteData(row.id, 'document')" nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button>
            </ng-template>
        </div>
    </div>
</ng-template> -->