<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Daftar Usulan Diklat</h6>
        <span class="caption">Tabel berikut memuat daftar usulan diklat yang diusulkan oleh peserta</span>
      </div>
      <div class="col-auto">
        <button nbButton status="primary" (click)="addUsulan()">
          <nb-icon icon="file-add-outline"></nb-icon>
          Usulkan Diklat
        </button>
      </div>
    </nb-card-header>
    
    <nb-card-body *ngIf="(usulandiklat$ | async) as usulandiklat" [nbSpinner]="usulandiklat.loading">
      <!-- {{usulandiklat | json }} -->
      <ngx-table-filter [table]="table" [print]="['title','explanation']" [display]="{search: {}, date: {}}"></ngx-table-filter>
      <ngx-simple-table #table [column]="isAdmin ? ['Pengusul', 'Judul Diklat', 'Keterangan'] : ['Judul Diklat', 'Keterangan']"
        [response]="usulandiklat.response"
        [selectedData]="(isAdmin ? ['relationships.users.relationships.employee.attributes.nama', 'attributes.title', 'attributes.explanation', 'id'] : ['attributes.title', 'attributes.explanation', 'id'])"
        (delete)="OnDelete($event)"
        (edit)="OnEdit($event)"
      ></ngx-simple-table>
      <!-- <ng-template #actionRef let-row>
        <button nbButton ghost [nbContextMenu]="[
        {title: 'Delete', icon: 'trash-outline', data: row.id},
        ]" [nbContextMenuTag]="tag">
            <nb-icon icon="more-horizontal-outline"></nb-icon>
        </button>
      </ng-template> -->
      <!-- <ng-template #templateRef let-row let-col="col" let-i="index">
        <span *ngIf="col == 'Status'">
          <button nbButton size="tiny" [status]="
            row.status.toLowerCase() == 'permintaan baru' ? 'info' :
            row.status.toLowerCase() == 'diproses' ? 'warning' :
            row.status.toLowerCase() == 'disetujui' ? 'success' : 'danger'
          ">{{row | o2value:i}}</button>
        </span>
        <span *ngIf="col != 'Status'">
          {{row | o2value:i}}
        </span>
      </ng-template> -->
      
    </nb-card-body>
</nb-card>