    <nb-card>
        <nb-card-header class="row justify-content-between">
            <div class="header-title col-auto d-flex align-items-center">
                <button type="reset" (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
                <div class="d-block">
                    <h6>{{title}}</h6>
                    <p class="caption">Daftar berkas pengajuan</p>
                </div>
            </div>
            <div class="col-auto">
                <!-- <button *ngIf="!id" nbButton status="primary" (click)="openAddNewDoc()"><nb-icon icon="plus-circle-outline"></nb-icon> Tambah Data</button> -->
            </div>
        </nb-card-header>
        <nb-card-body [nbSpinner]="loading">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="row" *ngIf="!isSetting">
                    <label for="jenjang_pendidikan" class="label col-form-label col-4">Nomor Izin *</label>
                    <div class="col-sm-7 mb-3">
                        <input nbInput name="nomor_izin" fullWidth ngModel required #nomor_izin="ngModel" />
                    </div>
                    <label for="tanggal_izin" class="label col-form-label col-4">Tanggal Izin *</label>
                    <div class="col-sm-7 mb-3">
                        <input nbInput name="tanggal_izin" fullWidth [ngModel]="now | dns" required #tanggal_izin="ngModel" autocomplete="off" [nbDatepicker]="startDatepicker"/>
                        <nb-datepicker #startDatepicker></nb-datepicker>
                    </div>
                    <label *ngIf="category === 'study_permit'" for="jenjang_pendidikan" class="label col-form-label col-4">Jenjang Pendidikan *</label>
                    <div class="col-sm-7 mb-3">
                        <nb-select name="jenjang_pendidikan" fullWidth ngModel required #jenjang_pendidikan_id="ngModel">
                            <nb-option *ngFor="let opt of (jenjang$ | async)" [value]="opt.id">{{opt.nama}}</nb-option>
                        </nb-select>
                    </div>
                    <label for="keterangan" class="label col-form-label col-4">Keterangan</label>
                    <div class="col-sm-7 mb-3">
                        <textarea nbInput name="keterangan" fullWidth ngModel #keterangan="ngModel"></textarea>
                    </div>
                    <ng-container *ngFor="let required of config | toArray:','; let i = index">
                        <label for="{{required}}" class="label col-form-label col-4">{{required}} *</label>
                        <div class="col-sm-7 mb-3">
                            <ngx-upload id="{{required}}" [disabled]="isSetting" (change)="onChangeFile($event)"></ngx-upload>
                        </div>
                        <span *ngIf="isSetting">
                            <button nbButton status="danger" type="reset" (click)="remove(i)"><nb-icon icon="trash-outline"></nb-icon></button>
                        </span>
                        <span *ngIf="id && userPermitInput.attachments[i]">
                            <a nbButton status="primary" target="_blank" [href]="storageUrl+(userPermitInput.attachments[i]?.path)"><nb-icon icon="eye-outline"></nb-icon></a>
                        </span>
                    </ng-container>
                </div>
            </form>

            <ng-container *ngIf="isSetting && !id">
                <div class="row mb-3 align-items-end" *ngFor="let newRequired of additional; let i = index; trackBy:trackByIndex">
                    <div class="col-md-4 col-sm-12">
                        <label for="additional{{i}}" class="caption m-0">Judul Syarat {{i + 1}}
                            <input tabindex="i" name="additional{{i}}" [(ngModel)]="additional[i]" type="text" nbInput>
                        </label>
                    </div>
                    <div class="col-7">
                        <ngx-upload [disabled]="isSetting"></ngx-upload>
                    </div>
                    <span *ngIf="isSetting">
                        <button nbButton status="danger" (click)="removeAdditional(i)"><nb-icon icon="trash-outline"></nb-icon></button>
                    </span>
                </div>
    
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="reset" (click)="addNewRequired()" nbButton size="small" status="primary">Tambah Syarat</button>
                    </div>
                </div>
            </ng-container>
            <!-- {{userPermitInput.attachments | json}} -->
            <!-- <ngx-datatable 
                [class]="'bootstrap'" 
                [rows]="userPermitInput.attachments" 
                [count]="userPermitInput.attachments?.length ?? 0"
                [scrollbarH]="true"
                columnMode="force"
                default>
                <ngx-datatable-column name="No." width="10">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{rowIndex+1}}.
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nama Dokumen" prop="name"></ngx-datatable-column>
                <ngx-datatable-column name="Action">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <a *ngIf="id" (click)="preview(row)" target="_blank" nbButton status="primary" size="small" class="mr-2"><nb-icon icon="eye-outline"></nb-icon></a>
                        <a *ngIf="!id && !row.attachment" (click)="preview(row)" nbButton status="primary" size="small" class="mr-2"><nb-icon icon="eye-outline"></nb-icon></a>
                        <button *ngIf="!id" (click)="remove(rowIndex)" nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> -->
        </nb-card-body>
        <nb-card-footer *ngIf="!id">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton type="reset" (click)="back()" ghost size="small" class="mr-2">Batalkan</button>
                    <!-- <button [disabled]="userPermitInput.attachments.length <= 0" nbButton type="submit" (click)="onSubmit()" size="small" status="primary">Submit</button> -->
                    <button nbButton [disabled]="isSetting ? ((config | toArray).length <= 0) : false" type="submit" (click)="onSubmit(f)" size="small" status="primary">Submit</button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
<!-- </form> -->