<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Pengajuan Diklat Individu</h6>
    </nb-card-header>
    <nb-card-body *ngIf="(schedule$ | async) as schedule">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)"  ngNativeValidate>
            
            <input type="hidden" name="category" [ngModel]="'individu'" #category="ngModel">    
            <!-- {{(periode$ | async) | json}} -->
            <!-- {{(schedule.length > 0 ? schedule[0].periode : null && 0) | json}} -->
            <div class="form-group row mb-3">
                <label for="name" class="label col-form-label col-3">Nama Diklat</label>
                <!-- {{(nextPeriode$ | async)}} -->
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="name"
                        type="text"
                        id="name"
                        [ngModel]="id ? schedule?.attributes?.name : f.value.name" required #name="ngModel"
                        placeholder=""
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="jenis_id" class="label col-form-label col-3">Kelompok Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="jenis_id" fullWidth [ngModel]="id ? schedule?.attributes?.jenis_id : f?.value?.jenis_id" required #jenis_id="ngModel">
                        <nb-option *ngFor="let jenis of (jenisDiklat$ | async)" [value]="jenis.id">{{jenis.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="jenis_id.value == 2" class="form-group row mb-3">
                <label for="jenis_diklat_id" class="label col-form-label col-3">Jenis Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="jenis_diklat_id" fullWidth [ngModel]="id ? schedule?.attributes?.jenis_diklat_id : f?.value?.jenis_diklat_id" required>
                        <nb-option *ngFor="let jenis_diklat of (jenis2Diklat$ | async)" [value]="jenis_diklat.id">{{jenis_diklat.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="rumpun_id" class="label col-form-label col-3">Rumpun</label>
                <div class="col-sm-9">  
                    <nb-select name="rumpun_id" fullWidth [ngModel]="id ? schedule?.attributes?.rumpun_id : f?.value?.rumpun_id" required #rumpun_id="ngModel">
                        <nb-option *ngFor="let rumpun of (rumpun$ | async)" [value]="rumpun.id">{{rumpun.nama}}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="nomor_sk" class="label col-form-label col-3">Nomor SK</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="nomor_sk"
                        type="text"
                        id="nomor_sk"
                        [ngModel]="data?.attributes?.nomor_sk"
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="nomor_sk" class="label col-form-label col-3">Tanggal SK</label>
                <div class="col-sm-9">
                    <input autocomplete="off" id="tanggal_sk" name="tanggal_sk" nbInput fullWidth [nbDatepicker]="tanggalSK" [ngModel]="data?.attributes?.tanggal_sk | dns" required>
                    <nb-datepicker #tanggalSK></nb-datepicker>
                </div>
            </div>

            <!-- <div class="form-group row mb-3">
                <label for="nama_pejabat_id" class="label col-form-label col-3">Nama Pejabat</label>
                <div class="col-sm-9">
                    <input nbInput
                        fullWidth
                        name="nama_pejabat_id"
                        ngModel
                        type="text"
                        (input)="onChange($event, 'nama_pejabat')"
                        [nbAutocomplete]="autoNama" />

                    <nb-autocomplete #autoNama [handleDisplayFn]="viewHandle">
                        <nb-option *ngFor="let option of filterNamaPejabat$ | async" [value]="option">
                            {{ option.nama }}
                        </nb-option>
                    </nb-autocomplete>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="pejabat_id" class="label col-form-label col-3">Pejabat</label>
                <div class="col-sm-9">
                    <input nbInput
                        fullWidth
                        name="pejabat_id"
                        ngModel
                        type="text"
                        (input)="onChange($event, 'nama_pejabat')"
                        [nbAutocomplete]="autoPejabat" />

                    <nb-autocomplete #autoPejabat [handleDisplayFn]="viewHandle">
                        <nb-option *ngFor="let option of filterPejabat$ | async" [value]="option">
                            {{ option.nama }}
                        </nb-option>
                    </nb-autocomplete>
                </div>
            </div> -->

            <div class="form-group row mb-3">
                <label for="penyelenggara" class="label col-form-label col-3">Penyelenggara</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="penyelenggara"
                        type="text"
                        id="penyelenggara"
                        [ngModel]="id ? schedule?.attributes?.penyelenggara : f.value.penyelenggara" required #penyelenggara="ngModel"
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="duration" class="label col-form-label col-3">Durasi Hari</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                            fullWidth
                            name="duration"
                            type="number"
                            id="duration"
                            [ngModel]="id ? schedule?.attributes?.duration : f.value.duration" required #duration="ngModel"
                            min="1"
                            placeholder="1"
                            fieldSize="medium">
                </div>
            </div>
    
            <div class="form-group row mb-3">
                <label for="start_date" class="label col-form-label col-3">Waktu Pelaksanaan</label>
                <div class="col-sm-9">
                    <input autocomplete="off" id="start_date" name="start_date" nbInput fullWidth placeholder="Waktu Pelaksanaan" [nbDatepicker]="startDatepicker" [ngModel]="(id ? schedule?.attributes?.start_date : f.value.start_date) | dns" required #start_date="ngModel">
                    <nb-datepicker #startDatepicker></nb-datepicker>
                </div>
            </div>
    
            <div class="form-group row mb-3">
                <label for="location" class="label col-form-label col-3">Lokasi Pelaksanaan</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="location"
                        type="text"
                        id="location"
                        [ngModel]="id ? schedule?.attributes?.location : f.value.location" required #location="ngModel"
                        placeholder="Lokasi diklat"
                        fieldSize="medium">
                </div>
            </div>
    
            <div class="form-group row mb-3">
                <label for="purpose" class="label col-form-label col-3">Tujuan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="purpose" nbInput fullWidth placeholder="Tujuan dilaksanakannya diklat" [ngModel]="id ? schedule?.attributes?.purpose : f.value.purpose" required #purpose="ngModel"></textarea>
                </div>
            </div>
    
            <div class="form-group row mb-3">
                <label for="info" class="label col-form-label col-3">Keterangan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="info" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." [ngModel]="id ? schedule?.attributes?.info : f.value.info" required #info="ngModel"></textarea>
                </div>
            </div>
            
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton ghost type="reset" (click)="back()" size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>