.schedule-image {
    display: none;
}

.photo {
    height: 170px;
    width: 170px;
}

@media screen and (min-width: 1024px) {
    .schedule-image {
        display: block;
    }
}

.mySwiper {
    .swiper {
        width: 100%;
        height: 100%;
    }
  
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 80%;
        border-radius: 15px;
        overflow: hidden;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
  
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
