<div class="row" *ngIf="(schedule$ | async) as schedules">
  <div class="{{(schedules.response.data && schedules.response.data.length > 0) ? 'col-md-8' : 'col-md-12'}} col-sm-12" *ngIf="(biodata$ | async) as biodata">
    <div class="row">
      <div class="col">
        <nb-card class="position-relative">
          <!-- <div class="schedule-image position-absolute" style="bottom: 0; right: 10px;">
            <span class="d-flex flex-column align-items-center">
              <img class="rounded" src="./assets/images/schedule-animate.svg" alt="schedule-gif" width="300">
              <a href="https://storyset.com/event" style="text-decoration: none; font-size: 8px; margin-top: -15px;">Event illustrations by Storyset</a>
            </span>
          </div> -->

          <!-- {{biodata?.attributes?.avatar}} -->
          <nb-card-body>
            <div class="row">
              <div class="col-md-4 position-relative d-flex justify-content-center mb-2">
                <span class="position-absolute h-100" style="top: -28px;">
                  <ngx-jp-bar [courses]="biodata?.relationships?.user_course"></ngx-jp-bar>
                </span>
                <img class="photo rounded-circle" [src]="biodata?.attributes?.avatar ?? './assets/images/undefined-photo.jpeg'" alt="photo undefined"/>
              </div>
              <div class="col-md-8 col-sm-12 d-flex flex-column justify-content-start">
                <span class="lead d-block mb-2"><span style="font-weight: 600;">Selamat Datang</span>, <strong style="font-weight: bold;">{{biodata?.attributes?.nama}}</strong></span>
                <!-- {{biodata.relationships | json}} -->
                <p class="text-gray">
                  {{biodata?.participant_status || biodata?.user_permit_status ? 'Kamu memiliki' : 'Kamu belum mengikuti diklat apapun'}} 

                  {{biodata?.participant_status?.diproses ? biodata?.participant_status?.diproses+' diklat yang sudah diproses' : ''}}
                  {{biodata?.participant_status?.diterima ? biodata?.participant_status?.diterima+' diklat yang sudah diterima' : ''}}
                  {{biodata?.participant_status?.ditolak ? biodata?.participant_status?.ditolak+' diklat yang sudah ditolak' : ''}}
                  {{biodata?.participant_status?.unverified ? biodata?.participant_status?.unverified+' diklat yang belum diverifikasi' : ''}}
                  
                  {{biodata?.user_permit_status?.study_permit?.diterima ? 'dan '+biodata?.user_permit_status?.study_permit?.diterima+' izin belajar yang diterima' : ''}}
                  {{biodata?.user_permit_status?.statement_permit?.diterima > 0 ? 'dan '+biodata?.user_permit_status?.statement_permit?.diterima+' surat keterangan belajar yang diterima' : ''}}
                  {{biodata?.user_permit_status?.education_permit?.diterima > 0 ? 'dan '+biodata?.user_permit_status?.education_permit?.diterima+' surat keterangan pendidikan yang ditolak' : ''}}
                </p>
                <nb-card accent="primary" class="mb-2">
                  <nb-card-body class="caption-2">
                    <div class="row">
                      <span class="col-4"><strong>NIP</strong></span><span class="col">: {{biodata.attributes.nip}}</span>
                    </div>
                    <div class="row">
                      <span class="col-4"><strong>Nama</strong></span><span class="col">: {{biodata.attributes.nama}}</span>
                    </div>
                    <div class="row">
                      <span class="col-4"><strong>Jabatan</strong></span><span class="col">: {{biodata.attributes.position}}</span>
                    </div>
                    <div class="row">
                      <span class="col-4"><strong>OPD</strong></span><span class="col">: {{biodata.attributes.department}}</span>
                    </div>
                  </nb-card-body>
                </nb-card>

                <div class="text-right">
                  <a nbButton size="small" status="primary" (click)="downloadBio()">Download Biodata</a>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>  

    <!-- <div class="row">
      <div class="col-md-6 col-sm-12">
        <nb-card>
          <nb-card-body>
            <div class="progress-info">
              <div class="subtitle">Diklat Aktif</div>
              <div class="h3">{{schedules.length}}</div>
            </div>
          </nb-card-body>
          <nb-card-footer class="d-flex justify-content-end">
            <button nbButton status="primary" size="small" [routerLink]="['../administrasi-peserta/kalender-diklat']">Lihat Diklat</button>
          </nb-card-footer>
        </nb-card>
      </div>
      
      <div class="col-md-6 col-sm-12">
        <nb-card>
          <nb-card-body>
            <div class="progress-info">
              <div class="subtitle">Diklat Diikuti</div>
              <div class="h3">{{biodata?.relationships?.participant?.id ? 1 : (biodata?.relationships?.participant?.length ?? 0)}}</div>
            </div>
          </nb-card-body>
          <nb-card-footer class="d-flex justify-content-end">
            <button nbButton status="primary" size="small" [routerLink]="['../administrasi-peserta/diklat-ongoing']">Lihat Diklat</button>
          </nb-card-footer>
        </nb-card>
      </div>
    
    </div> -->

    <div class="row">
      <div class="col col-md-12" *ngIf="(participant$ | async) as participant" [nbSpinner]="participant.loading">
        <!-- {{participant | json}} -->
        <nb-card class="">
          <nb-card-header class="d-flex justify-content-between align-items-center">
            <h6>Riwayat Diklat</h6>
            <button nbButton status="primary" size="small" [routerLink]="['../administrasi-peserta/semua-diklat']">Lihat Detail</button>
            <!-- {{biodata | json}} -->
          </nb-card-header>
          <nb-card-body>
            <ngx-simple-table [column]="['Kelompok Diklat/Nama Diklat', 'Status']"
              [response]="participant.response"
              [selectedData]="[
                'attributes.name|trainingName',
                'relationships.activity_log|status',
                'attributes.category',
                'attributes.name',
                'id'
              ]"
              [noActionRef]="true"
              [templateRef]="templateRef"
              ></ngx-simple-table>
              <ng-template #templateRef let-row let-col="col" let-i="index">
                <span *ngIf="col == 'Status'">
                  <stat-btn [data]="row.status"></stat-btn>
                </span>
                <span *ngIf="col != 'Status'">
                  {{
                    col == 'Kelompok Diklat/Nama Diklat' ? (row.category != 'internal' ? row.name : row.trainingName) :
                    (row | o2value:i)
                  }}
                </span>
            </ng-template>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </div>

  <ng-container *ngIf="schedules.response.data as scheduleData">
    <div class="{{scheduleData.length > 0 ? 'col-md-4 col-sm-12' : 'col-12'}}">
      <nb-card>
        <nb-card-body>
          <div class="row {{scheduleData.length > 0 ? '' : 'justify-content-between'}}">
            <div class="col-12">
              <swiper [slidesPerView]="'auto'"
                [centeredSlides]="true"
                [loop]="true"
                [autoplay]="{
                  delay: 2500,
                  disableOnInteraction: false
                }"
                [spaceBetween]="30"
                [pagination]="{
                  clickable: true,
                  type: 'fraction'
                }" class="mySwiper">
                <ng-template swiperSlide *ngFor="let d of scheduleData">
                    <span class="d-block" style="margin-top: -20px;">
                      <diklat-card class="col" [editing]="true" [data]="d"></diklat-card>
                    </span>
                </ng-template>
              </swiper>
            </div>  
            <div class="{{scheduleData.length > 0 ? 'col-12' : 'col-3'}}">
              <button class="mb-2 w-100" nbButton status="primary" size="small" [routerLink]="['../administrasi-peserta/kalender-diklat']">
                <nb-icon icon="calendar-outline"></nb-icon>
                Lihat Kalender Diklat</button>
            </div>
            <div class="{{scheduleData.length > 0 ? 'col-12' : 'col-3'}}">
              <button class="mb-2 w-100" nbButton status="warning" size="small">
                <nb-icon icon="download-outline"></nb-icon>
                Unduh Panduan</button>
            </div>
            <div class="{{scheduleData.length > 0 ? 'col-12' : 'col-3'}}">
              <button class="mb-2 w-100" nbButton status="success" size="small" [routerLink]="['../administrasi-peserta/semua-diklat']">
                <nb-icon icon="cloud-upload-outline"></nb-icon>
                Upload Sertifikat</button>
            </div>
            <div class="{{scheduleData.length > 0 ? 'col-12' : 'col-3'}}">
              <button class="mb-2 w-100" nbButton outline size="small" [routerLink]="['../questionnaire']">
                <nb-icon icon="file-text-outline"></nb-icon>
                Isi Kuisioner</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </ng-container>
</div>




