<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
    <nb-card>
        <nb-card-header class="d-flex align-items-center">
           <a (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></a>
           <h6>{{title}}</h6> 
        </nb-card-header>
        <!-- {{(papers$ | async) | json}} -->
        <nb-card-body *ngIf="(papers$ | async).response as papers">
            <!-- <ng-container [ngTemplateOutlet]="formGroup"></ng-container> -->

            <div class="form-group row mb-3">
                <label for="title" class="label col-form-label col-4">Judul Tulisan</label>
                <div class="col-sm-8">
                    <input class="col" nbInput
                        fullWidth
                        name="title"
                        type="text"
                        id="title"
                        [ngModel]="id ? papers?.data && papers?.data[0].attributes?.title : f.value.title" required #title="ngModel"
                        placeholder=""
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="year" class="label col-form-label col-4">Tahun/Tanggal</label>
                <div class="col-sm-8">
                    <nb-form-field>
                        <input id="year" autocomplete="off" name="year" nbInput fullWidth placeholder="" [nbDatepicker]="yearPicker" [ngModel]="(id ?  papers?.data && papers?.data[0].attributes?.year : f.value.year) | dns" required #year="ngModel">
                        <nb-datepicker #yearPicker></nb-datepicker>
                        <nb-icon nbSuffix icon="calendar-outline"></nb-icon> 
                    </nb-form-field>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="publish_at" class="label col-form-label col-4">Sarana Publikasi</label>
                <div class="col-sm-8">
                    <nb-select name="publish_at" fullWidth [ngModel]="id ?  papers?.data && papers?.data[0].attributes?.publish_at : f.value.publish_at" required #publish_at="ngModel">
                        <nb-option value="Seminar">Seminar</nb-option>
                        <nb-option value="Majalah">Majalah</nb-option>
                        <nb-option value="Koran">Koran</nb-option>
                        <nb-option value="Website">Website</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="other_info" class="label col-form-label col-4">Keterangan</label>
                <div class="col-sm-8">
                    <input class="col" nbInput
                        fullWidth
                        name="other_info"
                        type="text"
                        id="other_info"
                        [ngModel]="id ?  papers?.data && papers?.data[0].attributes?.other_info : f.value.other_info" required #other_info="ngModel"
                        placeholder=""
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="file" class="label col-form-label col-4">Karya Ilmiah</label>
                <div class="col-sm-8">
                    <ngx-upload id="file" (change)="onChangeFile($event)" [limit]='5'></ngx-upload>
                    <span class="caption">pdf max 5MB</span>
                </div>
            </div>

        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-end">
            <a class="mr-2" nbButton ghost size="small" (click)="back()">Batalkan</a>
            <button nbButton type="submit" status="primary" size="small">Simpan</button>
        </nb-card-footer>
    </nb-card>
</form>