<nb-layout>
    <nb-layout-column>
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-auto">
                <p>mohon tunggu halaman ini akan diredirect, namun bila tidak tekan tombol redirect</p>
                <p class="text-center">
                    <a *ngIf="hasLoad" ghost outline nbButton (click)="redirect()">redirect</a>
                </p>
            </div>
        </div>
    </nb-layout-column>
  </nb-layout>
