<nb-card [nbSpinner]="loading">
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>Setup Tahapan KBM</h6>
                <span class="caption text-gray">Tabel tahapan-tahapan Kegiatan Belajar Mengajar (KBM)</span>
            </div>
        </div>
        <div class="col-auto">
            <button [routerLink]="['./create']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah Tahapan KBM</button>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(phase$ | async) as phase">
        <!-- {{phase | json}} -->
        <nb-card *ngIf="id" style="background-color: rgb(113, 102, 175);">
            <nb-card-body class="row">
              <div class="image col-1">
                  <img src="./assets/images/logo.png" alt="logo" width="40">
              </div>
              <div class="data-content col-11" *ngIf="((subject$ | async)?.response?.data && (subject$ | async)?.response?.data[0]) as subject">
                <!-- {{subject | json}} -->
                  <p class="text-light mb-2">Mata Diklat : {{subject?.attributes?.name}}</p>
                  <p class="text-light mb-2">Total Waktu : {{subject?.attributes?.time_allocation}} JP</p>
                                  
                  <!-- <hr style="background-color: white;"> -->
    
                  <!-- <div class="mt-3 row justify-content-between">
                      <span class="col-auto mb-2">
                        <button class="mr-2" [routerLink]="['../pengaturan-mata/add', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Tambah Mata Diklat Baru</button>
                        <button [routerLink]="['../../pilih-mata', id]" nbButton status="success" size="small"> <nb-icon icon="edit-outline"></nb-icon> Pilih Mata Diklat</button>
                      </span>
                      <span class="col-auto">
                        <button [routerLink]="['../../pengaturan-angkatan', id]" nbButton status="warning" size="small"> <nb-icon icon="external-link-outline"></nb-icon> Shortcut Pengaturan Angkatan Diklat</button>
                      </span>
                  </div> -->
              </div>
            </nb-card-body>
        </nb-card>

        <ngx-table-filter [table]="table" [print]="['name','facilitator_activity','participant_activity','metode','tools','time_allocation']" [display]="null"></ngx-table-filter>

        <!-- <ng-container *ngIf="(phase$ | async) as phase"> -->
        <ngx-simple-table #table
            [column]="['Tahapan KBM', 'Kegiatan Fasilitator', 'Kegiatan Peserta', 'Metode', 'Alat Bantu', 'Alokasi Waktu']"
            [response]="phase.response" 
            [selectedData]="['attributes.name', 'attributes.facilitator_activity', 'attributes.participant_activity', 'attributes.metode', 'attributes.tools', 'attributes.time_allocation', 'id']"
            (delete)="OnDelete($event)"
            (edit)="OnEdit($event)"
        ></ngx-simple-table>
        <!-- </ng-container> -->

        <!-- <ng-template #actionRef let-row>
            <button nbButton ghost [nbContextMenu]="[{title: 'Edit', icon: 'edit-outline', link: ['../create-update']},
                {title: 'Export ke Elearning', icon: 'globe-outline', link: ['../elearning']},
                {title: 'Pengaturan Tahapan KBM', icon: 'settings-outline', link: ['../pengaturan-kbm']},
                {title: 'Pengaturan File Materi', icon: 'file-outline', link: ['../pengaturan-file']},
                {title: 'Delete', icon: 'edit-outline'}
            ]" [nbContextMenuTag]="tag">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
        </ng-template> -->
    </nb-card-body>
</nb-card>