<nb-card >
    <!-- {{ schedules | json }} -->
    <nb-card-header class="d-flex ">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <div>
            <img src="./assets/images/logo.png" alt="logo" width="40"> &nbsp;
            <span>Detail Diklat</span>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="((schedules$ | async).response.data && (schedules$ | async).response.data[0]) as schedules">
        <!-- {{periode | json}} -->
        <div class="row mb-2 justify-content-center" *ngIf="schedules?.attributes?.category !== 'individu'">
            <span class="subtitle-2 col-12"><strong>Banner</strong></span>
            <img src="{{schedules?.attributes?.banner}}" alt="banner">
        </div>
        <div class="row mb-2" *ngIf="schedules?.attributes?.category !== 'individu' && 'eksternal'">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Kelompok Diklat</strong></span>
            <span class="text-basic col">: {{ schedules?.relationships?.training_periode?.relationships?.training?.attributes?.group_name }}</span>
        </div>
        <div class="row mb-2">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Nama Diklat</strong></span>
            <span class="text-basic col">: {{ schedules?.relationships?.training_periode?.relationships?.training?.attributes?.name || schedules?.attributes?.name}}</span>
        </div>
        <div class="row mb-2" *ngIf="schedules?.attributes?.category !== 'individu'">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Angkatan Ke</strong></span>
            <span class="text-basic col">: {{ schedules?.relationships?.training_periode?.attributes?.periode }}</span>
        </div>
        <div class="row mb-2" *ngIf="schedules?.attributes?.category !== 'individu'">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Jumlah Peserta</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.quota }}</span>
        </div>
        <div class="row mb-2">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Durasi Hari</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.duration }}</span>
        </div>
        <div class="row mb-2">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Waktu Pelaksanaan</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.start_date }}</span>
        </div>
        <div class="row mb-2">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Tujuan</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.purpose }}</span>
        </div>
        <div class="row mb-2" *ngIf="schedules?.attributes?.category !== 'individu'">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Persyaratan</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.requirement }}</span>
        </div>
        <div class="row mb-2">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Keterangan</strong></span>
            <span class="text-basic col">: {{ schedules?.attributes?.info }}</span>
        </div>
        <!-- <div class="row mb-2" *ngIf="(files$ | async) as files">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>File Materi</strong></span>
            <span class="text-basic col">: {{ files[0]?.relationships.attachment[0].attributes.originalName }}</span>
        </div> -->
        <div class="row mb-2" *ngIf="(tschedule$ | async) as tschedule">
            <span class="subtitle-2 col-sm-12 col-md-3"><strong>Jadwal Pengajar</strong></span>
            <span class="text-basic col">:</span>
            <!-- {{ (tschedule?.attributes?.start_date | date:'fullDate') }} ({{(tschedule?.attributes?.start_time | date:'shortTime')}} - {{(tschedule?.attributes?.end_time | date:'shortTime')}}) -->
        </div>
        <div class="row">
            <div class="col-12" *ngIf="(tschedule$ | async) as tschedule" [nbSpinner]="tschedule.loading">
                <!-- {{tschedule | json}} -->
                <ngx-datatable 
                    #dataTable
                    [class]="'bootstrap'" 
                    [rows]="tschedule.response?.data" 
                    [count]="tschedule.response?.data?.length ?? 0"
                    [scrollbarH]="true"
                    columnMode="force"
                    default>
                    <ngx-datatable-column name="No." width="10">
                        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{rowIndex+1}}.
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Pengajar">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row?.attributes?.teacher}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Hari/Tanggal">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row?.attributes?.start_date | date:'fullDate'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Jam">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{(row?.attributes?.start_time | date:'shortTime')}} - {{(row?.attributes?.end_time | date:'shortTime')}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="File Materi">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <a *ngIf="row?.relationships?.teaching_material?.length && row?.relationships?.teaching_material[0].relationships?.attachment?.length" 
                                [href]="storageUrl+row?.relationships?.teaching_material[0]?.relationships?.attachment[0]?.attributes.path" target="_blank">
                                {{row?.relationships?.teaching_material[0].attributes.info}}
                            </a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer *ngIf="!isAdmin" class="text-center">
        <div class="mb-2">
            <!-- {{schedules?.relationships?.user_course?.relationships?.attachment | json}} -->
            <span>{{schedules?.relationships?.user_course?.attributes?.certificate_no ? 'Nomor Sertifikat: ' : 'Status Anda: ' }}</span>
            <strong>{{ schedules?.relationships?.user_course?.attributes?.certificate_no ?? 'Belum ada sertifikat' }}</strong>
        </div>
        <!-- <div class="mb-2">
            <span>Dengan Catatan: -</span>
        </div> -->

        <a *ngIf="schedules?.relationships?.user_course?.attributes?.certificate_no" nbButton status="primary" target="_blank" [href]="storageUrl+schedules?.relationships?.user_course?.relationships?.attachment[0].attributes?.path">
            <nb-icon icon="cloud-download-outline"></nb-icon>Sertifikat</a>

        <a *ngIf="!schedules?.relationships?.user_course?.attributes?.certificate_no && (schedules?.relationships?.activity_log?.length > 0 && schedules?.relationships?.activity_log[0].attributes.status == 'diterima')" nbButton status="primary" (click)="uploadFile(schedules.id, schedules.attributes.start_date, schedules.attributes.category)">
            <nb-icon icon="cloud-upload-outline"></nb-icon>Sertifikat</a>
    </nb-card-footer>
</nb-card>