<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Diklatku</h6>
        <span class="caption text-gray">Tabel berikut menampilkan daftar semua diklat yang baru / sedang / selesai diikuti oleh peserta</span>
      </div>
      <div class="col-auto">
        <button nbButton status="primary" [routerLink]="['./create-update']">
          <nb-icon icon="file-add-outline"></nb-icon>
          Masukan Data Diklat
        </button>
      </div>
    </nb-card-header>

    <nb-card-body *ngIf="(schedules$ | async) as schedules" [nbSpinner]="schedules.loading">
    <nb-tabset>
      <nb-tab tabTitle="Diklat Aktif">
        <ngx-table-filter [table]="table"></ngx-table-filter>
        <ngx-simple-table #table [column]="['Nama Diklat','Kategori' ,'Jadwal Pelaksanaan', 'Durasi (hari)', 'Lokasi Diklat', 'Status']"
        [response]="schedules.response" [selectedData]="[
        'relationships.training.attributes.name',
        'attributes.category',
        'attributes.start_date|startDate',
        'attributes.duration', 
        'attributes.location',
        'id|scheduleId',
        'attributes.periode', 
        'relationships.participant.relationships.activity_log|participateStatus', 
        'attributes.name|scheduleName',
        'relationships.periode', 
        'relationships.employee|biodata',
        'relationships.participant.relationships.training_schedule.relationships.user_course.relationships.activity_log.0.attributes.status|certificateStatus',
        'relationships.activity_log|allScheduleStatus',
        'relationships.participant.relationships.activity_log.0.attributes.status|participateTextStatus',
        'relationships.activity_log.0.attributes.status|scheduleStatus',
        ]"
        [templateRef]="templateRef"
        [actionRef]="actionRef"
        ></ngx-simple-table>
        <ng-template #templateRef let-row let-col="col" let-i="index">
          <span *ngIf="col == 'Nama Diklat'">
            {{row.scheduleName}}
        </span>
        <span *ngIf="col == 'Kategori'">
          <button nbButton [status]="row.category == 'eksternal' ? 'danger' : row.category == 'internal' ? 'primary' : 'info'" size="tiny">{{row.category}}</button>
        </span>
        <span *ngIf="col == 'Status'">
          <stat-btn [data]="row.category != 'internal' ? row.allScheduleStatus : row.participateStatus" [defaultStat]="row.category == 'individu' ? 'belum diverifikasi' : 'belum mendaftar'"></stat-btn>
        </span>
        <span *ngIf="col != 'Status' && col != 'Nama Diklat' && col != 'Kategori'">
          {{row | o2value:i}}
        </span>
        </ng-template>
        <ng-template #actionRef let-row>
          <div class="d-flex">
            <button class="mr-2" *ngIf="row.participateTextStatus == 'diterima' && row.certificateStatus != 'diterima'" nbButton status="primary" size="tiny" (click)="uploadFile(row.scheduleId, row.startDate, row.category)" nbTooltip="Upload Sertifikat">
              <nb-icon icon="cloud-upload-outline"></nb-icon> 
              upload 
            </button>

            <button nbButton ghost size="tiny" [nbContextMenu]="[
              (row.participateTextStatus == 'diterima' && row.certificateStatus != 'diterima') && {title: 'Upload Sertifikat', icon: 'cloud-upload-outline', data: {scheduleId: row.scheduleId, startDate: row.startDate, category: row.category}},
              {title: 'Lihat Detail Status', icon: 'eye-outline', link: 'pages/administrasi-peserta/semua-diklat/detail/'+row.scheduleId},
              (row.category != 'internal' && row.scheduleStatus != 'diterima') && {title: 'Delete', icon: 'trash-outline', data: row.scheduleId},
              (row.category != 'internal' && row.scheduleStatus != 'diterima') && {title: 'Edit', icon: 'edit-outline', link: 'pages/administrasi-peserta/semua-diklat/create-update/'+row.scheduleId},
              (row.category == 'internal' && row.participateTextStatus == 'diterima' && row.certificateStatus != 'diterima') && {title: 'Cetak Kartu Peserta', icon: 'credit-card-outline', data: row},
              ] | set:null" [nbContextMenuTag]="tag">
                  <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
          </div>
        </ng-template>
      </nb-tab>

      <nb-tab tabTitle="Riwayat Diklat" *ngIf="(history$ | async) as history">
        <ngx-datatable 
          class="bootstrap"
          [rows]="history.length ? history : []"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [limit]="10"
          [scrollbarH]="true"
          columnMode="force">
          <ngx-datatable-column name="No." width="10">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  #{{rowIndex+1}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nama Diklat" prop="nama_diklat"></ngx-datatable-column>
          <ngx-datatable-column name="Nomor SK" prop="nomor_sk"></ngx-datatable-column>
          <ngx-datatable-column name="Nama Pejabat" prop="nama_pejabat"></ngx-datatable-column>
          <ngx-datatable-column name="Tgl. Mulai" prop="tanggal_mulai"></ngx-datatable-column>
          <ngx-datatable-column name="Tgl. Selesai" prop="tanggal_selesai"></ngx-datatable-column>
          <ngx-datatable-column name="Total Jam" prop="total_jam"></ngx-datatable-column>
          <ngx-datatable-column name="Penyelenggara" prop="penyelenggara"></ngx-datatable-column>
        </ngx-datatable>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
