<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
<nb-card>
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>Setup Nama Daftar Template Absensi</h6>
                <!-- <span class="caption text-gray">Tabel berikut menampilkan daftar angkatan diklat</span> -->
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <nb-card style="background-color: rgb(113, 102, 175);">
            <nb-card-body class="row">
                <div class="image col-md-1 col-sm-12">
                    <img src="./assets/images/logo.png" alt="logo" width="40">
                </div>
                <div class="data-content col-md-11 col-sm-12" *ngIf="(diklat$ | async) as diklat">
                    <!-- {{(periode$ | async) | json}} -->
                        <!-- <span class="text-light text-center">Form Pilih Nama Daftar Template Absensi</span> -->
                        <p class="text-light mb-2">Kelompok Diklat : {{diklat?.attributes?.group_name ?? ''}}</p>
                        <p class="text-light mb-2">Diklat : {{diklat?.attributes?.name ?? ''}}</p>
                        <p class="text-light mb-2">Angkatan Ke : {{(schedulePeriode$ | async) ?? ''}}</p>
                </div>
            </nb-card-body>
        </nb-card>
        <div class="mt-3 d-flex">
            <label class="label col-3" for="nama_daftar">Nama Daftar</label>
            <nb-radio-group class="col-9" name="opsi" [ngModel]="f.value.opsi ?? '1'" #opsi="ngModel">
                <nb-radio 
                *ngFor="let option of options"
                [value]="option.value">
                {{ option.label }}
                </nb-radio>
            </nb-radio-group>
        </div>

        <div class="mt-4 d-flex">
            <label class="label col-3" for="nama_daftar">Jenis File</label>
            <nb-radio-group class="col-9" name="type" [ngModel]="f.value.type ?? 'excel'" #type="ngModel">
                <nb-radio value="excel">Excel</nb-radio>
                <nb-radio value="pdf">PDF</nb-radio>
            </nb-radio-group>
        </div>
    </nb-card-body>

    <nb-card-footer class="d-flex justify-content-end">
        <button class="mr-2" nbButton status="primary" size="small">Generate</button>
    </nb-card-footer>
</nb-card>
</form>