<nb-card [nbSpinner]="loading">
    <nb-card-header class="row justify-content-between">
        <div class="header-title col-auto d-flex align-items-center">
            <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
            <div class="d-block">
                <h6>File Materi</h6>
                <span class="caption text-gray">Tabel berikut menampilkan file-file materi diklat</span>
            </div>
        </div>
        <div class="col-auto">
            <button nbButton status="primary" (click)="openFileMateri()"> <nb-icon icon="plus-circle-outline"></nb-icon> Tambah File Materi</button>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="(files$ | async) as files">
        <!-- {{files | json}} -->
        <ngx-table-filter [table]="table" [display]="null"></ngx-table-filter>
        <ngx-simple-table #table
            [column]="['Nama', 'Ukuran', 'Jenis', 'Keterangan']"
            [response]="files.response"
            [selectedData]="['relationships.attachment.0.attributes.originalName', 'relationships.attachment.0.attributes.size', 'relationships.attachment.0.attributes.originalExtension', 'attributes.info', 'id']"
            [actionRef]="actionRef"
        ></ngx-simple-table>

        <ng-template #actionRef let-row>
            <button (click)="OnView(row.id)" nbButton status="primary" size="small" class="mr-2"><nb-icon icon="eye-outline"></nb-icon></button>
            <button (click)="OnDelete(row.id ?? null)" nbButton status="danger" outline size="small"><nb-icon icon="trash-outline"></nb-icon></button>
        </ng-template>
    </nb-card-body>
</nb-card>

<a #viewFile href="#" target="_blank"></a>