<div class="row">
    <div class="col-xxl-5">
      <nb-card>

        <nb-card-header #pegawai class="row justify-content-between">
            <div  class="header-title col-md-8 col-sm-12">
              <h6>Daftar Penyelenggaraan Diklat</h6>
              <span class="caption">Tabel berikut memuat daftar permintaan diklat oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</span>
            </div>
            <div class="col-auto">
              <button [routerLink]="['../form']" nbButton status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon> Buat Diklat</button>
            </div>
        </nb-card-header>
          
        <nb-card-body>
            <ngx-table-filter [columns]="['Jenis Diklat','Jumlah Angkatan','Jumlah Peserta','Durasi Hari','Waktu Pelaksanaan','Tempat Pelaksanaan']"></ngx-table-filter>
            <ngx-datatable 
                [class]="'bootstrap'" 
                [rows]="dataDiklat" 
                [count]="dataDiklat.length"
                [scrollbarH]="true"
                columnMode="force"
                default>
                <ngx-datatable-column [name]="'No'">
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      {{rowIndex+1}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [name]="'Jenis Diklat'" prop="jenis"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Jumlah Angkatan'" prop="angkatan"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Jumlah Peserta'" prop="peserta"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Durasi Hari'" prop="durasi"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Waktu Pelaksanaan'" prop="waktu"></ngx-datatable-column>
                <ngx-datatable-column [name]="'Tempat Pelaksanaan'" prop="tempat"></ngx-datatable-column>
<!--                 
                <ngx-datatable-column [name]="'Status'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <div *ngIf="row.status == 'Menunggu' ">
                        <span class="text-warning">{{ row.status }}</span>
                    </div>

                    <div *ngIf="row.status == 'Disetujui' ">
                        <span class="text-primary">{{ row.status }}</span>
                    </div>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column>
                  <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <button nbButton ghost [nbContextMenu]="[
                    {title: 'Edit', icon: 'edit-outline', link: '/pages/diklat/diklat-internal/form'},
                    {title: 'Rekap Peserta', icon: 'people-outline', link: '/pages/diklat/diklat-internal/peserta/'+row.id},
                    {title: 'Pengaturan Registrasi', icon: 'settings-outline', link: '/pages/diklat/diklat-internal/peserta'},
                    {title: 'Delete', icon: 'trash-outline'}
                    ]" [nbContextMenuTag]="tag">
                      <nb-icon icon="more-horizontal-outline"></nb-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </nb-card-body>

        

        <!-- <nb-card-body #penyelenggara class="d-flex justify-content-between align-items-baseline">
          <div  class="header-title">
            <h6>Daftar Pengajuan Diklat Internal</h6>
            <p style="font-size: .7rem;">Tabel berikut memuat daftar permintaan diklat internal oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</p>
          </div>
          <div>
            <button nbButton ghost class="mr-3 text-muted" style="font-size: .8rem; text-decoration: none;" (click)="coba()">Filter</button>
            <button nbButton status="primary" size="small"  >Download <nb-icon icon="download-outline"></nb-icon> </button>
          </div>
        </nb-card-body>

        <nb-card-body #filter hidden>
          <div  class="py-3" style="background-color: #EDF0F7;">
            <div class="ml-3">
              <h6>Filters</h6>
            </div>
            
            <div class="d-flex">
              <div class="col-6">
                <nb-form-field>
                    <input  nbInput
                            fullWidth
                            name="search"
                            type="text"
                            id=""
                            placeholder="Cari"
                            fieldSize="medium">
                    <nb-icon nbSuffix icon="search-outline"></nb-icon> 
                </nb-form-field>
              </div>
              <div class="col-3">
                <nb-select  fullWidth placeholder="OPD">
                  <nb-option value="Dinas Pariwisata">Dinas Pariwisata</nb-option>
                  <nb-option value="Dinas Kesehatan">Dinas Kesehatan</nb-option>
                  <nb-option value="Dinas Sosial">Dinas Sosial</nb-option>
                </nb-select> 
              </div>
              <div class="col-3">
                <nb-select  fullWidth placeholder="Status">
                  <nb-option value="Dinas Pariwisata">Dinas Pariwisata</nb-option>
                  <nb-option value="Dinas Kesehatan">Dinas Kesehatan</nb-option>
                  <nb-option value="Dinas Sosial">Dinas Sosial</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </nb-card-body>
        
        <nb-card-body>
          <ngx-datatable 
              [class]="'bootstrap'" 
              [rows]="data" 
              [count]="data.length"
              [scrollbarH]="true"
              columnMode="force"
              default>
              <ngx-datatable-column [name]="'NPD'" prop="npd" [width]="50"></ngx-datatable-column>
              <ngx-datatable-column [name]="'Diklat'" prop="diklat"></ngx-datatable-column>
              <ngx-datatable-column [name]="'OPD'" prop="opd" width="300"></ngx-datatable-column>
              <ngx-datatable-column [name]="'Pemohon'" prop="name" width="200"></ngx-datatable-column>
              <ngx-datatable-column [name]="'Tanggal'" prop="time"></ngx-datatable-column>
              <ngx-datatable-column [name]="'Status'">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div *ngIf="row.status == 'Permintaan baru' ">
                    <span style="color: #FFAA00;">{{ row.status }}</span>
                  </div>

                  <div *ngIf="row.status == 'Disetujui' ">
                    <span class="text-primary">{{ row.status }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div>
                            <nb-icon icon="more-horizontal-outline" style="cursor: pointer;"></nb-icon>
                        </div>
                    </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </nb-card-body> -->
      </nb-card>
    </div>
  </div>