<nb-card [nbSpinner]="loading">
    <nb-card-header class="d-flex align-items-center">
        <button (click)="back()" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <div>
            <h6>Pengaturan Registrasi Peserta Diklat</h6>
            <span class="caption text-gray">Tabel berikut menampilkan data calon peserta yang telah melakukan pendaftaran diklat</span>
        </div>
        
    </nb-card-header>
    <nb-card-body *ngIf="(participants$ | async) as participants">
        <!-- {{participants | json}} -->
        <nb-card *ngIf="id" style="background-color: rgb(113, 102, 175);">
            <nb-card-body class="row">
              <div class="image col-md-1 col-sm-12">
                  <img src="./assets/images/logo.png" alt="logo" width="40">
              </div>
              <div class="data-content col-md-11 col-sm-12" *ngIf="(diklat$ | async) as diklat">
                    <!-- <h6 class="text-light">{{diklat?.attributes?.name}}</h6> -->
                    <div class="row">
                        <span class="text-light mb-2 row col-12"><span class="col-3">Kelompok Diklat</span> : {{diklat?.attributes?.group_name ?? ''}}</span>
                        <span class="text-light mb-2 row col-12"><span class="col-3">Nama Diklat</span> : {{diklat?.attributes?.name ?? ''}}</span>
                        <span class="text-light mb-2 row col-12"><span class="col-3">Tujuan</span> : {{diklat?.latestPeriode?.relationships?.training_schedule?.attributes?.purpose ?? '-'}}</span>
                        <span class="text-light mb-2 row col-12"><span class="col-3">Jumlah Angkatan</span> : {{diklat?.relationships?.training_periode?.length ?? (diklat?.relationships?.training_periode?.id ? 1 : 0)}}</span>
                        <span class="text-light mb-2 row col-12"><span class="col-3">Kuota Peserta</span> : {{diklat?.latestPeriode?.relationships?.training_schedule?.attributes?.quota ?? 0}}</span>
                    </div>
                                  
                    <hr style="background-color: white;">
                    
                    <div class="mt-3 row justify-content-between">
                        <span class="col-auto mb-2">
                            <!-- <button class="mr-2" nbButton status="success" size="small" (click)="register(diklat?.latestPeriode)"> <nb-icon icon="edit-outline"></nb-icon> Registrasi Peserta Diklat </button>
                            <button class="mr-2" nbButton status="success" size="small" (click)="upload(diklat?.latestPeriode)"> <nb-icon icon="people-outline"></nb-icon> Import Peserta Diklat </button> -->
                        </span>
                        <span class="col-auto">
                            <button class="mr-2" nbButton status="warning" size="small"> <nb-icon icon="download-outline"></nb-icon> Unduh Peserta Diklat </button>
                            <button class="mr-2" nbButton status="warning" size="small"> <nb-icon icon="download-outline"></nb-icon> Unduh Biodata Peserta </button>
                            <!-- <button nbButton status="danger" size="small"> <nb-icon icon="close-circle-outline"></nb-icon> Kosongkan Peserta</button> -->
                            <!-- <button [routerLink]="['../../pengaturan-angkatan', id]" nbButton status="warning" size="small"> <nb-icon icon="external-link-outline"></nb-icon> Shortcut Pengaturan Angkatan Diklat</button> -->
                        </span>
                    </div>
              </div>
            </nb-card-body>
        </nb-card>
        <!-- Start Tabel Jadwal -->

        <!-- {{participants | json}} -->
        <ngx-table-filter [table]="table" [print]="['name','periode','nip','position','department','status|:belum diverifikasi']"></ngx-table-filter>

        <ngx-simple-table #table [column]="['Nama','Angkatan Ke','NIP','Jabatan','Unit Kerja','Status']"
            [data]="participants | simply:['relationships.employee.attributes.name',
                'attributes.periode',
                'relationships.employee.attributes.nip',
                'relationships.employee.attributes.position',
                'relationships.employee.attributes.department', 
                'relationships.activity_log.0.attributes.status|statusText',
                'relationships.activity_log|status',
                'id']"
            [actionRef]="actionRef"
            [templateRef]="templateRef"
        ></ngx-simple-table>
        <ng-template #actionRef let-row>
            <!-- <button nbButton ghost [nbContextMenu]="[
            ({participant: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
            ({participant: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
            ({participant: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row},
            ({participant: ['delete']} | role) && {title: 'Delete', icon: 'trash-outline', data: row.id},
            {title: 'Profile', icon: 'person-outline', data: row.id},
            ] | set:null" 
            [nbContextMenuTag]="tag">
                <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button> -->
            <button nbButton size="tiny" status="primary"><nb-icon icon="person-outline"></nb-icon> profile</button>
        </ng-template>
        <ng-template #templateRef let-row let-col="col" let-i="index">
            <span *ngIf="col == 'Status'">
                <stat-btn [data]="row.status"></stat-btn>
              <!-- <button nbButton size="tiny" [status]="
                (row?.status?.length ? row?.status[0].attributes?.status : row?.status?.attributes?.status) == 'diproses' ? 'info' : 
                (row?.status?.length ? row?.status[0].attributes?.status : row?.status?.attributes?.status) == 'diterima' ? 'success' : 
                (row?.status?.length ? row?.status[0].attributes?.status : row?.status?.attributes?.status) == 'ditolak' ? 'danger' : ''
              ">{{(row?.status?.length ? row?.status[0].attributes?.status : row?.status?.attributes?.status) ?? 'belum diverifikasi'}}</button> -->
            </span>
            <span *ngIf="col != 'Status'">
              {{row | o2value:i}}
            </span>
        </ng-template>

        <!-- End Tabel Jadwal -->
        
    </nb-card-body>
</nb-card>