<nb-card>
    <nb-card-header class="d-flex align-items-center">
        <button [routerLink]="['../']" nbButton ghost><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Form Tambah Pengumuman Baru</h6>
    </nb-card-header>
    <nb-card-body>
        <form #f="ngForm" (ngSubmit)="OnSubmit(f)" ngNativeValidate>

            <div class="form-group row mb-3">
                <label for="judul" class="label col-form-label col-3">Judul Pengumuman</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                            fullWidth
                            name="judul"
                            type="text"
                            id="judul"
                            ngModel required #judul="ngModel"
                            min="1"
                            placeholder=""
                            fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="waktu" class="label col-form-label col-3">Tanggal Pengumuman</label>
                <div class="col-sm-9">
                    <nb-form-field>
                        <input id="waktu" name="waktu" nbInput fullWidth placeholder="" [nbDatepicker]="rangepicker" ngModel required #waktu="ngModel">
                        <nb-rangepicker #rangepicker></nb-rangepicker>
                        <nb-icon nbSuffix icon="calendar-outline"></nb-icon>
                    </nb-form-field>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="isi" class="label col-form-label col-3">Isi Pengumuman</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="isi" nbInput fullWidth placeholder="" ngModel required #isi="ngModel"></textarea>
                </div>
            </div>

            <!-- <div class="form-group row mb-3">
                <label for="kelompok" class="label col-form-label col-3">Kelompok Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="kelompok" selected="1" fullWidth ngModel required #kelompok="ngModel">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="jenis" class="label col-form-label col-3">Jenis Diklat</label>
                <div class="col-sm-9">
                    <nb-select name="jenis" selected="1" fullWidth ngModel required #kelompok="ngModel">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="angkatan_ke" class="label col-form-label col-3">Angkatan Ke</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                            fullWidth
                            name="angkatan_ke"
                            type="number"
                            id="angkatan_ke"
                            ngModel required #angkatan_ke="ngModel"
                            placeholder="10"
                            fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="kuota" class="label col-form-label col-3">Jumlah Peserta</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                            fullWidth
                            name="kuota"
                            type="number"
                            id="kuota"
                            ngModel required #kuota="ngModel"
                            placeholder="10"
                            fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="lokasi" class="label col-form-label col-3">Lokasi Pelaksanaan</label>
                <div class="col-sm-9">
                    <input class="col" nbInput
                        fullWidth
                        name="lokasi"
                        type="number"
                        id="lokasi"
                        ngModel required #lokasi="ngModel"
                        placeholder="10"
                        fieldSize="medium">
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="tujuan" class="label col-form-label col-3">Tujuan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="tujuan" nbInput fullWidth placeholder="Tujuan dilaksanakannya diklat" ngModel required #tujuan="ngModel"></textarea>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="syarat" class="label col-form-label col-3">Persyaratan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="syarat" nbInput fullWidth placeholder="Syarat mengikuti diklat" ngModel required #syarat="ngModel"></textarea>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="waktu" class="label col-form-label col-3">Mulai Registrasi</label>
                <div class="col-sm-9">
                    <input id="waktu" name="mulai" nbInput fullWidth placeholder="Mulai Registrasi" [nbDatepicker]="tanggalMulai" ngModel required #waktu="ngModel">
                    <nb-datepicker #tanggalMulai></nb-datepicker>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="waktu" class="label col-form-label col-3">Selesai Registrasi</label>
                <div class="col-sm-9">
                    <input id="waktu" name="selesai" nbInput fullWidth placeholder="Selesai Registrasi" [nbDatepicker]="tanggalSelesai" ngModel required #waktu="ngModel">
                    <nb-datepicker #tanggalSelesai></nb-datepicker>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="waktu" class="label col-form-label col-3">Status Registrasi</label>
                <div class="col-sm-9">
                    <nb-select name="lokasi" selected="1" fullWidth ngModel required #lokasi="ngModel">
                        <nb-option value="1">Buka</nb-option>
                        <nb-option value="2">Tutup</nb-option>
                    </nb-select>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="keterangan" class="label col-form-label col-3">Keterangan</label>
                <div class="col-sm-9">
                    <textarea rows="5" name="keterangan" nbInput fullWidth placeholder="Penjelasan tentang diklat lainnya..." ngModel required #keterangan="ngModel"></textarea>
                </div>
            </div> -->
            
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button nbButton ghost size="small" class="mr-2">Batalkan</button>
                    <button nbButton type="submit" size="small" status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>