<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Daftar Permohonan Diklat</h6>
        <p class="caption">Tabel berikut memuat daftar permintaan diklat oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</p>
      </div>
      <div class="col-auto">
        <!-- <button nbButton status="primary" [routerLink]="['./create-update']">
          <nb-icon icon="file-add-outline"></nb-icon>
          Ajukan Diklat Individu
        </button> -->
      </div>
    </nb-card-header>
    
    <nb-card-body *ngIf="(schedules$ | async) as schedules" [nbSpinner]="schedules.loading">
      <!-- {{ schedules | json }} -->
      <ngx-table-filter [table]="table"></ngx-table-filter>
      <ngx-simple-table #table [column]="['Nama Pemohon', 'Nama Diklat', 'Kategori', 'Waktu Pelaksanaan','Durasi','Status']"
        [response]="schedules.response" 
        [selectedData]="[
        'relationships.employee.relationships.users', 
        'attributes.name', 
        'attributes.category',
        'attributes.start_date',
        'attributes.duration',
        'attributes',
        'relationships.activity_log|status', 'id'
        ]"
        [actionRef]="actionRef"
        [templateRef]="templateRef"
      ></ngx-simple-table>
      <ng-template #templateRef let-row let-col="col" let-i="index">
        <span *ngIf="col == 'Status'">
          <stat-btn [data]="row.status"></stat-btn>
        </span>
        <span *ngIf="col == 'Nama Pemohon'">
          {{row.users?.attributes?.first_name}}<br />{{row.users?.attributes?.last_name}}
        </span>
        <span *ngIf="col == 'Nama Diklat'">
          {{row.name ?? row.attributes.name}}
        </span>
        <span *ngIf="col == 'Kategori'">
          <button nbButton [status]="row.category == 'eksternal' ? 'danger' : row.category == 'internal' ? 'primary' : 'info'" size="tiny">{{row.category}}</button>
        </span>
        <span *ngIf="col != 'Status' && col != 'Nama Pemohon' && col != 'Nama Diklat' && col != 'Kategori'">
          {{row | o2value:i}}
        </span>
      </ng-template>
      <ng-template #actionRef let-row>
        <div class="d-flex">
          <button nbButton ghost [nbContextMenu]="[
            {title: 'Detail', icon: 'corner-down-right-outline', link: '/pages/diklat/detail/'+row.id},
            ({training_schedule: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
            ({training_schedule: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
            ({training_schedule: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row}
          ] | set:null" [nbContextMenuTag]="tag">
            <nb-icon icon="more-horizontal-outline"></nb-icon>
          </button>
        </div>
      </ng-template>
  
    </nb-card-body>
  </nb-card>