<nb-card>
    <nb-card-header class="row justify-content-between">
      <div class="col-md-8 col-sm-12">
        <h6>Daftar Permohonan Sertifikat</h6>
        <p class="caption">Tabel berikut memuat daftar permohonan sertifikat oleh pegawai untuk direview dan disetujui oleh petugas yang berwenang</p>
      </div>
      <div class="col-auto">
        <!-- <button nbButton status="primary" [routerLink]="['./create-update']">
          <nb-icon icon="file-add-outline"></nb-icon>
          Ajukan Diklat Individu
        </button> -->
      </div>
    </nb-card-header>
    
    <nb-card-body *ngIf="(userCourses$ | async) as userCourses">
      <!-- {{ userCourses | json }} -->
      <ngx-table-filter [table]="table"></ngx-table-filter>
      <ngx-simple-table #table [column]="['Nama Pemohon', 'Nama Diklat', 'Kategori', 'Waktu Pelaksanaan','Durasi', 'Tgl. Sertifikat', 'Nomor Sertifikat', 'JP', 'Status']"
        [response]="userCourses.response"
        [selectedData]="[
        'relationships.employee.relationships.users', 
        'relationships.training_schedule.relationships.training', 
        'relationships.training_schedule.attributes.category',
        'attributes.start_date',
        'relationships.training_schedule.attributes.duration',
        'attributes.certificate_date', 
        'attributes.certificate_no',
        'attributes.jp',
        'relationships.activity_log|status', 
        'relationships.training_schedule',
        'relationships.attachment.0.attributes|attachment',
        'id',
        'relationships.training_schedule.relationships.training.relationships.training_subject'
        ]"
        [actionRef]="actionRef"
        [templateRef]="templateRef"
      ></ngx-simple-table>
      <ng-template #templateRef let-row let-col="col" let-i="index">
        <span *ngIf="col == 'JP'">
          {{ row.training_subject ? (row.training_subject | jp) : row.jp }}
        </span>
        <span *ngIf="col == 'Waktu Pelaksanaan'">
          {{row.start_date | date:'shortDate'}}
        </span>
        <span *ngIf="col == 'Tgl. Sertifikat'">
          {{row.certificate_date | date:'shortDate'}}
        </span>
        <span *ngIf="col == 'Status'">
          <stat-btn [data]="row.status"></stat-btn>
        </span>
        <span *ngIf="col == 'Nama Pemohon'">
          {{row.users?.attributes?.first_name}}<br />{{row.users?.attributes?.last_name}}
        </span>
        <span *ngIf="col == 'Nama Diklat'">
          {{row.training?.attributes?.name ?? row.training_schedule?.attributes?.name}}
        </span>
        <span *ngIf="col == 'Kategori'">
          <button nbButton [status]="row.category == 'eksternal' ? 'danger' : 'primary'" size="tiny">{{row.category}}</button>
        </span>
        <span *ngIf="col != 'Status' && col != 'JP' &&
          col != 'Nama Pemohon' && col != 'Nama Diklat' && 
          col != 'Kategori' && col != 'Waktu Pelaksanaan' && col != 'Tgl. Sertifikat'">
          {{row | o2value:i}}
        </span>
      </ng-template>
      <ng-template #actionRef let-row>
        <div class="d-flex">
          <a class="mr-2" nbButton status="primary" size="tiny" [href]="storageUrl+row.attachment?.path" target="_blank" nbTooltip="Upload Sertifikat">
            <nb-icon icon="eye-outline"></nb-icon> 
            View
          </a>

          <button size="tiny" nbButton ghost [nbContextMenu]="[
            {title: 'Detail', icon: 'corner-down-right-outline', link: '/pages/administrasi-peserta/diklat-individu/detail/'+row.id},
            {title: 'View', icon: 'eye-outline', url: storageUrl+row.attachment?.path, target: '_blank'},
            ({training_schedule: ['verifier']} | role) && {title: 'Diterima', icon: 'plus-outline', data: row},
            ({training_schedule: ['verifier']} | role) && {title: 'Ditolak', icon: 'close-outline', data: row},
            ({training_schedule: ['verifier']} | role) && {title: 'Lakukan Verifikasi', icon: 'checkmark-outline', data: row}
          ] | set:null" [nbContextMenuTag]="tag">
            <nb-icon icon="more-horizontal-outline"></nb-icon>
          </button>
        </div>
      </ng-template>
  
    </nb-card-body>
  </nb-card>